[2020-03-31 00:52] rwkarg commented on #445
Passing in a Singleton IConnection (or a specific instance that was created outside of the `.AddRabbitMQ` call) is the only scenario that reuses a connection.
Passing in an IConnectionFactory (or resolving that from DI) or a URI/connection string will result in no connection reuse and eventual port exhaustion (observed by us and @ig-sinicyn above).

If we're open to removing the non-IConnection op

[2020-03-31 00:54] rwkarg commented on #445
The problem is that this health check can make the machine the process is running on be unable to open TCP sockets (ephemeral port exhaustion).

With the 3.0.4 code, if you register a health check with the extension method that takes either a connection string or IConnectionFactory, then every time the health check is evaluated, a new Connection is created and then disposed. This uses, then dispos

[2020-03-31 01:01] rwkarg commented on #445
With 3.0.4, this will result in a new connection being created for every health check evaluation:
[code]
as will this
[code]

[2020-03-31 07:53] unaizorrilla commented on #445
Yeap, but you can do

[code]
Let me some days to improve this healthcheck to work without posible issues on public surface!

[2020-03-31 09:46] tomkerkhove opened #469 "Provide overload for AddAzureServiceBus* where entity is part of the connection string"
**What would you like to be added**:
`AddAzureServiceBusTopic` & `AddAzureServiceBusQueue` to only enforce `connectionString`.

**Why is this needed**:
Connection strings can be scoped to the entity, rather than whole namespace, which makes them more secure as the risk surface is reduced.

[2020-03-31 09:46] tomkerkhove commented on #469
I'm happy to contribute this if you are open for it

[2020-03-31 11:42] fglaeser commented on #283
When You have both appsettings, the values in they appsettings.json are overwrite by those in the appsetting.env.json, but this is not a complete replacement of all the values.

[2020-03-31 15:27] rwkarg commented on #445
Thanks for taking a look!

I now realize that I included the wrong version numbers in my previous comments. I intended to say that the current version is 3.0.5 (not 3.0.4) and the previous version was 3.0.4 (not 3.0.3).

Ultimately, I can ensure that my services get updated to do the "right thing". I'm more concerned with any other adopters of this health check that need to look at the different w

[2020-03-31 17:44] unaizorrilla commented on #445
Hi just pushed a change over this and I think all scenarios is working well right now, can you check?

The idea:

 - Healthcheck is always use IConnection and this is created when healthcheck is registered using (connectionstring or uri), this is created with foreground threads IO and automatic recovery.
- You can regster one or more brokers and each one use and reuse the connection.
- If you regi

[2020-03-31 17:44] unaizorrilla commented on #445
Please, if you agree with this solution, please close the issue!

[2020-03-31 17:45] unaizorrilla commented on #469
Hi @tomkerkhove

We are happy with contributions !

[2020-03-31 17:46] unaizorrilla commented on #464
Hi  @nickkarpuk

I try to address this, tomorrow! thanks for fill the issue!

[2020-03-31 17:46] #459 closed

[2020-03-31 17:47] unaizorrilla commented on #462
You continue with this error?

[2020-03-31 17:51] unaizorrilla commented on #458
Hi @EloiNmbrs

Do you have more info about this issue? We are using System.Data.SqlClient 4.7.0 and create  a new SqlConnection, nothing more..

[2020-03-31 19:53] Odonno commented on #462
Not recently. I will check tomorrow.

[2020-03-31 21:28] rwkarg commented on #445
The .builder methods that take a Func<IServiceProvider,..> get called every time a health check is evaluated. This means that a new RabbitMQHealthCheck instance (and a new connection for that new instance) will be created every evaluation (no connection reuse) in the following two spots:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.RabbitMQ/Dependency

[2020-03-31 22:12] mhowlett opened #470 "Kafka client should be long lived"
Please, fill the following sections to help us fix the issue

**What happened**:

The root cause of an incident in confluent cloud (a kafka hosting service) was traced back to a high rate of new connections due to this library. Constructing a Kafka client is very expensive, and you should generally only do this once per application instance if you can.

can you use a long lived singleton instance

[2020-03-31 22:27] unaizorrilla commented on #470
Hi @mhowlett

I try to address this asap! do you have any Reference about reconnections (if needed) when connection is breaking up and wake up?

[2020-03-31 23:37] rwkarg commented on #445
@unaizorrilla  Functional tests added for the IConnectionFactory registration path.
#471

These two tests are currently failing but will need to be verified locally since it appears that rabbitmq infrastructure is not in place for these tests to run on AppVeyor.

[2020-04-01 07:15] unaizorrilla commented on #445
Hi rwkarg

Yeap, the overloads using sp with IConnectionFactory are not reusing connections, well, if you register the IConnectionFactory and not the IConnection sound reasonable, but for not promote bad patterns like this I go to mark this as Obsolete and remove on future versions.

I think the healthcheck at this moment have enought overloads to register the IConnection, directory, from the sp o

[2020-04-01 10:57] Skleni commented on #455
I also prefer the first option. Don't get me wrong, but I don't want to have to think about _your_ migrations as well (if that's possible).

[2020-04-01 13:39] Odonno commented on #462
Still no error. Still don't know how this error happened. Anyway, I close the issue and will reopen it if it happen again.

[2020-04-01 13:39] #462 closed

[2020-04-01 13:44] Odonno commented on #455
Same. I prefer the first option to only allow the minimum options required, black box mode.

The only thing is the name of the extension method, I would prefer something like this to make it clear about the intended function:

[code]

[2020-04-01 14:50] unaizorrilla commented on #462
Thanks a lot @Odonno !

[2020-04-01 15:13] rwkarg commented on #445
Removing the IConnectionFactory based methods fixes both the remaining connection reuse and the connection churn (if the user passed in a ConnectionFactory configured to use Foreground threads).

[2020-04-01 15:13] #445 closed

[2020-04-01 15:55] unaizorrilla commented on #470
Hi @mhowlett

A new release build is on appveyord, when finish a new package 3.0.2 with this fix will be available on NuGet.

[2020-04-01 17:51] sungam3r commented on #455
First option.

[2020-04-01 18:59] udlose commented on #455
First option - keeping things "black box" is extremely important.

[2020-04-01 19:02] CarlosLanderas commented on #455
Yes, of course this is another valid options. Thanks for the propoisal.
We are going to migrate all packages to 3.1 and start working on this feature

[2020-04-01 21:57] mhowlett commented on #470
thanks for the quick response! those changes LGTM.

btw: i was also going to comment that a better general purpose health check is definitely possible, however exactly what is best will take some thinking. at some point i'll do that thinking and provide some input... in the mean time, here's some commentary on why it's not obvious: https://github.com/confluentinc/confluent-kafka-dotnet/wiki/Client

[2020-04-01 21:57] #470 closed

[2020-04-01 22:10] mhowlett commented on #470
the client is designed to automatically recover from any lost connections, lost brokers etc and this should be very reliable. If you were paranoid about bugs in the client, you could dispose the client and create a new instance in the event of a problem, though you should keep track of some state to rate limit this. I don't think that's necessary.

[2020-04-02 07:54] devbrsa commented on #455
@CarlosLanderas are you accepting PRs only for bugfixes or improvements as well? Do you have a guideline over how to perform PRs?

[2020-04-03 11:18] CarlosLanderas opened #473 "[K8s Operator] Add Documentation and video tutorial"
**What would you like to be added**:
K8s operator documentation

**Why is this needed**:
The HealthChecks operator is tremendously useful for containerized workloads and we should add documentation and a video tutorial.

[2020-04-06 10:20] sintetico82 opened #474 "Why do you pass HttpClientFactory as function?"
Hi,
Can someone please can explain to me why pass the HttpClientFactory as a function and not just as for instance?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/d808dc0acdcd3f17c1156104f5eef369ccc293ac/src/HealthChecks.Consul/DependencyInjection/ConsulHealthCheckBuilderExtensions.cs#L44

[2020-04-06 11:09] kerray commented on #194
please is this still blocked or can Tags be added?

[2020-04-06 13:27] Skleni opened #475 "No history for unavailable services"
**What happened**:

I have two projects: One I want to monitor (my app) and one for the Health Check UI (both ASP.NET Core 3.1). For testing, I added one random check to the app. It works as expected and the history can be seen on the dashboard:

![image](https://user-images.githubusercontent.com/10420514/78562361-84750b00-7819-11ea-8da1-a7c1a6ad0b77.png)

However, when I stop the app (so it can't

[2020-04-06 14:58] msschl commented on #194
Nope, this should be ready to be implemented.

[2020-04-06 15:55] udlose commented on #168
I am also getting this error intermittently when hosting the dashboard on Linux in an AWS environment.  All of my HealthChecks are configured via appsettings.json.  My WebHook notification is configured programmatically because of the need to customize the `ShoudlNotifyFunc`.

Is there any update?

[2020-04-07 07:37] unaizorrilla commented on #194
Hi @kerray

this is ready to be implemented, a PR is welcome on this topic!

[2020-04-07 07:39] unaizorrilla commented on #474
This will be improved, no doubt!

[2020-04-07 10:43] kerray commented on #194
that's good news, I made some minor changes that have allowed UI to not fail hard when Tags are present (backend only), I can get a PR ready but getting it done right will need more work

[2020-04-07 13:07] CarlosLanderas commented on #194
I can take this issue if you want. I would like to add the tags in the UI in a beautiful way. :)

[2020-04-07 22:17] udlose commented on #168
So I was able to determine the cause of my specific issue:

Since I'm running in ECS FARGATE, there is a default HealthCheck that AWS uses to test the availablility of the app container to decide whether or not it should spin up a new instance.  The default value for the url of the AWS HealthCheck is the root of the application.  Since we have our AspNetCore.Diagnostics.HealthChecks dashboard app

[2020-04-08 11:31] iSatishYadav commented on #458
Another keyword not supported "Column Encryption Setting=Enabled" used for accessing data with Always Encrypted. Seems like underlying System.Data.SqlClient doesn't support them. @unaizorrilla Switching to Microsoft.Data.SqlClient might help?

[2020-04-08 11:42] unaizorrilla commented on #458
Yeap, probably, I try to work on this the weekend!!

[2020-04-08 16:36] unaizorrilla commented on #458
Hi @EloiNmbrs  @iSatishYadav

The issue is related with System.Data.SqlClient on DotNetCore, the solution is move to use Microsoft.Data.SqlClient as @iSatishYadav  say!

https://github.com/dotnet/SqlClient/issues/11

I try to change this dependency now before the migration to 3.1 that come next week!

[2020-04-08 16:53] unaizorrilla commented on #458
Hi @EloiNmbrs  @iSatishYadav

 A new release build is on appveyor, when finished a new package 3.0.1 for Sql Server healthcheck will be available on NuGet.

Please close the issue if the new package solve it!

[2020-04-08 17:12] EloiNmbrs commented on #458
Hi, sorry for the late response. I will test and let you know.
Thank you

[2020-04-09 08:44] EloiNmbrs commented on #458
Issue is fixed with this new version.
Thank you!

[2020-04-09 08:44] #458 closed

[2020-04-09 09:47] #467 closed

[2020-04-10 14:27] CarlosLanderas commented on #455
Work has started. We have added a HealthChecksUIBuilder se we can properly chain all the dependencies.

Follow work in this branch:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/storage-providers

[2020-04-10 14:30] CarlosLanderas commented on #475
Hello @Skleni. Let me take a look into this issue. Thanks!

[2020-04-10 15:14] kevbite commented on #455
@CarlosLanderas looking at the commits so far it seems that it's still very much dependant on Entity Framework Core, is there any plan on abstracting this away so other database providers that don't have an EF provider can be implemented?

[2020-04-10 21:50] CarlosLanderas commented on #455
@kevbite to be honest I don't think so (at least at the moment) as several parts in the UI use EF Core. (collector, middleware, seeding, etc). What DB provider are you thinking about?

[2020-04-11 08:16] kevbite commented on #455
@kevbite I was thinking about building support for MongoDB, I know few products out there that only has MongoDB as  backing store.
The alternative is to build a EF Core provider but that seems a bit of a roundabout way to achieve it.

[2020-04-11 09:51] Odonno commented on #455
Well, you can maybe propose different kind of storage models and create an abstraction layer inside the library so that whatever Storage Layer, it should implement the required methods.

I believe that EF Core will be suitable for most scenarii but you can also offer a way to let developer create their own extension method which will return the right storage layer (class) for their use case.

As a

[2020-04-13 13:44] Dobby007 opened #478 "AspNetCore.HealthChecks.Kafka v3.1.0 is not compatible with Confluent.Kafka v1.4.0 NuGet package"
**What happened**:
AspNetCore.HealthChecks.Kafka v3.1.0 is not compatible with Confluent.Kafka v1.4.0 NuGet package. An exception is thrown by the runtime. Seems like they modified the signature of ProduceAsync method. Here is a stack trace:
`2020-04-13 16:22:03.2194|ERROR|Microsoft.Extensions.Diagnostics.HealthChecks.DefaultHealthCheckService|Health check kafka threw an unhandled exception after

[2020-04-13 16:12] unaizorrilla commented on #478
Hi @Dobby007

I update to 1.4.0 the dependency of Kafka healthcheck, a new build is on appveyor, when finished a new package will be on nuget with version 3.1.1 and solve this issue.

Please close the issue if new package solve it!

[2020-04-13 20:49] #455 closed

[2020-04-13 20:54] CarlosLanderas commented on #455
HealthChecks UI 3.1.1-preview1 has support for database providers.
Please, check the updated docs and give us your feedback!

The new published packages in version 3.1.1-preview will be:

- HealthChecks.UI.InMemory.Storage
- HealthChecks.UI.SqlServer.Storage
- HealthChecks.UI.SQLite.Storage
- HealthChecks.UI.PostgreSQL.Storage

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks#ui-stor

[2020-04-13 20:58] CarlosLanderas commented on #444
@Phillip9587, UI version 3.1.1-preview1 support different configuration providers now, Azure Sqlite is not compatible with Linux App Service so you can try with a diferent provider:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 20:58] #444 closed

[2020-04-13 20:59] CarlosLanderas commented on #338
This is already in preview in UI version 3.1.1-preview1.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 20:59] #338 closed

[2020-04-13 21:00] CarlosLanderas commented on #303
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:00] CarlosLanderas commented on #226
Storage providers feature has been implemented in UI version 3.1.1-preview1.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:00] #226 closed

[2020-04-13 21:01] CarlosLanderas commented on #161
Storage providers feature has been implemented in UI version 3.1.1-preview1.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369
Maybe it's interesting trying with InMemory or another database provider

[2020-04-13 21:01] CarlosLanderas commented on #29
Storage providers feature has been implemented in UI version 3.1.1-preview1.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:01] #29 closed

[2020-04-13 21:01] CarlosLanderas commented on #22
Storage providers feature has been implemented in UI version 3.1.1-preview1.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:05] CarlosLanderas commented on #351
Fixed in version 3.1.1-preview1. No more BuildServiceProvider in ConfigureServices

[2020-04-13 21:05] #351 closed

[2020-04-13 21:06] CarlosLanderas commented on #404
@mariopasquali , this mightbe what you are looking for?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/451

[2020-04-13 21:07] CarlosLanderas commented on #311
Hello @adamoisescu. UI Version 3.1.1-preview1 already supports custom storage providers, so you can now configure different databases and not deletion is performed anymore:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:07] #311 closed

[2020-04-13 21:08] #298 closed

[2020-04-13 21:09] CarlosLanderas commented on #206
Sqlite is not compatible with AppService in Linux, but affortunately last ui version (3.1.1-preview1) has support for storage providers and different databases can be configured now:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-613093369

[2020-04-13 21:09] #206 closed

[2020-04-13 21:12] CarlosLanderas commented on #168
@udlose , you might want to take a look to ui version 3.1.1-preview1 that introduces new storage providers (sqlserver, sqlite, inmemory and postgres). SQlite is not compatible with Azure App Service for linux and not sure if it would work nice with AWS as well.

[2020-04-13 21:12] #168 closed

[2020-04-13 21:15] #453 closed

[2020-04-14 04:14] mvarga6 opened #479 "ArangoDB Health Check"
**What would you like to be added**:
A simple health check for an ArangoDb database server, implemented similarly to the other NoSql health checks.

**Why is this needed**:
Adds support for more integrations.

**Already Implemented and Tested**
I've actually already implemented this package following the conventions of the repo, including unit tests, etc. I left out a functional test tho, but that

[2020-04-14 05:48] Skleni commented on #475
Yes, it was already unhealthy. The two screenshots above were taken right before and after stopping the app. So I think it's correct that no new entry is added, but the existing history entries shouldn't be removed, should they?

[2020-04-14 07:01] CarlosLanderas commented on #475
Yeah. We have just released a version with a long awaited feature. Database Providers. You can check version 3.1.1-preview1 with sqlserver sqlite, postgre and in-memory.
This new version does not remove the checks on startup. Except in memory ofc

[2020-04-14 08:39] mariopasquali commented on #404
Thanks, looks like a useful change.  In my case I ended up with a different solution.   I wrap all health checks into a "tolerant health check", which only purpose is to fail only if there are N consecutive errors.  This way hiccups are filtered out.

It is probably possible to do something similar with the new custom webhook.

[2020-04-14 10:21] cesarbmx commented on #455
Getting `Unable to find package AspNetCore.HealthChecks.UI.Core` while installing the nuget

[2020-04-14 10:37] CarlosLanderas commented on #455
@cesarbmx, let me check it, as we do not want to publish that assembly as a nuget package. Thanks!

[2020-04-14 10:37] christopheblin opened #480 "Rabbitmq : obsolete with ConnectionFactory ?"
I've just upgraded to latest version of this nuget package and I see that I cannot do

            builder.Add(new HealthCheckRegistration(
                name: "rabbitmq",
                factory: sp => new RabbitMQHealthCheck(sp.GetService<IConnectionFactory>()),
                failureStatus: HealthStatus.Unhealthy,
                tags: new[] { "services", "bus" },
                timeout: nu

[2020-04-14 10:51] unaizorrilla commented on #480
Hi @christopheblin

We remove the IConnectionFactory because this option don't reuse connections on healtcheck and this will be a problem a long time!

The way to register a re-use connection with connection factory is:

[code]

[2020-04-14 10:54] Skleni commented on #475
I got the same issue as reported by @cesarbmx in #455. I'll check again once that is resolved.

[2020-04-14 15:16] CarlosLanderas commented on #455
@cesarbmx, this has been solved

[2020-04-14 15:16] CarlosLanderas commented on #475
@Skleni can you try again? ;) Thanks!

[2020-04-14 15:23] udlose commented on #161
@CarlosLanderas  I'll give it a try with MySql sometime this week. Thanks!

[2020-04-14 15:46] CarlosLanderas commented on #161
@udlose , sadly mysql provider is not yet compatible with version 3.1. As soon as they release a new version we will implement a new UI provider.

[2020-04-14 15:59] cesarbmx commented on #455
@CarlosLanderas - All working.
This is a great project. Delighted by this contribution. Thanks!

[2020-04-14 16:01] CarlosLanderas commented on #455
@cesarbmx great! Thank you voy your feedback!

[2020-04-14 18:56] christopheblin commented on #480
Hi @unaizorrilla and thanks for the answer

With this code, if rabbitmq is not available on startup, it will throw an exception and application will never start (thus, never answering the healthchecks and, in kubernetes, restart the pod after 30 seconds). When you have 100 pods, this is not exactly what you want...

What I want is that the app starts and waits for rabbit. I have some code around t

[2020-04-14 19:05] unaizorrilla commented on #480
Well, in this case, when your dependencies are not ready at startup ( not common case imho ) you can use different registration methods like

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/59ebfb58512dfefff5e46db20359ed96745b28a7/src/HealthChecks.RabbitMQ/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs#L27

or

https://github.com/Xabaril/AspNetCore.Diagnostics.Heal

[2020-04-14 19:23] christopheblin commented on #480
This is what I described in the issue : I am not using the Uri but configuring an IConnectionFactory with Host, Port, ... (thus Uri is null).

Also, I looked at the code, using the Uri just recreate a ConnectionFactory to create a IConnection (without checking exceptions)

=> Why directly passing IConnectionFactory is not supported anymore when passing Uri is supported with exactly the same proble

[2020-04-14 19:44] christopheblin commented on #480
Here is what I've done, in case it may help someone

[code]

Then I do:

[code]

I hope this does not break anything ...

[2020-04-14 19:57] unaizorrilla commented on #480
IConnectionFactory is not supported ( obsolete ) because this promote not reusing the IConnection, if you read the rabbitmq client doc, IConnection is created to be a singleton. If inject the IConnectionFactory on rabbit healthcheck a new connection will be created each check iteration.

I tested your comment about startup fail if rabbit is not ready yet and in my sample is not true, if you use so

[2020-04-14 20:12] unaizorrilla commented on #480
As I say on my latest response, you can use obsolete method or your custom impl, but this is not recomended (is similar to your custom implementation) because leak connections and cause problems on long runing services.
Sincerely, try to use the IConnection, start the services without the dependencies ready is not common case and at the end, the issue is very similar, in both cases health can resp

[2020-04-14 20:12] udlose commented on #455
@CarlosLanderas  any support for MySql planned?

[2020-04-14 20:45] CarlosLanderas commented on #455
@udlose, yes, at soon at is supported in 3.0. They support 2.2 right now if I am not wrong

[2020-04-14 21:38] udlose commented on #226
@CarlosLanderas  is there a plan to add support for MySql?

[2020-04-14 21:41] udlose commented on #168
I looked at it today. However, my app requires support for MySql which doesn't appear to exist yet.

[2020-04-14 21:46] udlose commented on #455
Can you please clarify what you are referring to?  I am currently using MySql 5.7.12 in my .NET Core 3.1.3 application. I don't understand who the _it_ and _they_ you are referring to

[2020-04-14 21:59] udlose commented on #161
version 3.1 of what?  .NET Core?

Who are 'they'?

[2020-04-14 22:17] mike-cochrane commented on #298
Thanks, this is now working as expected.

![image](https://user-images.githubusercontent.com/1772681/79279489-44411700-7f02-11ea-946b-775f1a17d24b.png)

[2020-04-14 23:24] CarlosLanderas commented on #161
Yes, netcore app 3.1 and they, are mysql team:

https://dev.mysql.com/doc/connector-net/en/connector-net-entityframework-core.html

[2020-04-14 23:25] CarlosLanderas commented on #226
Yes, as soon as netcore 3.1 is supported:
https://dev.mysql.com/doc/connector-net/en/connector-net-entityframework-core.html

[2020-04-14 23:26] CarlosLanderas commented on #168
It will, when they add support for netcore 3

[2020-04-14 23:27] CarlosLanderas commented on #455
@udlose , let me check it, as it seems to have support for netstandard!

[2020-04-15 06:07] Skleni commented on #475
Updating the package worked now, thanks a lot, I've been waiting for that change as well. :)

I still have my original issue though, but I think I now understand a bit better what causes it:

The history is available for the individual entries, but not for the service itself. When the service goes offline, it can't even return which entries should be there. So technically, there's no way for the H

[2020-04-15 07:16] CarlosLanderas commented on #455
@udlose, migrations can not be created, they need to upgrade the provider as you can read here. I forgot I faced this problem when tried to create the provider the first time:
`
Method 'get_Info' in type 'MySql.Data.EntityFrameworkCore.Infraestructure.MySQLOptionsExtension' from assembly 'MySql.Data.EntityFrameworkCore, Version=8.0.19.0, Culture=neutral, `

PublicKeyToken=c5687fc88969c44d' does no

[2020-04-15 09:13] Dobby007 commented on #478
It's working now. Thank you.

[2020-04-15 09:13] #478 closed

[2020-04-15 10:47] CarlosLanderas commented on #455
@udlose in the issue, the suggest using

https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql

That is a fully featured provider. I am gonna give it a try

[2020-04-15 12:35] CarlosLanderas commented on #455
@udlose, here is the published MySql storage provider package:

https://www.nuget.org/packages/AspNetCore.HealthChecks.UI.MySql.Storage

[2020-04-15 16:21] udlose commented on #455
@CarlosLanderas  Thank you so much!  I greatly appreciate your promptness :)

I'm not using EntityFramework, I assume that was an implementation/support blocker on your side?

I will pull the package and give it a try later this week or next (have another pressing item I need to complete first).  What all do I need to do on my side to get the provider and database setup?  We are running MySql in A

[2020-04-15 16:52] CarlosLanderas commented on #455
@udlose, it automatically runs migrations against the connection string database creating all the requires tables.

[2020-04-15 21:58] CarlosLanderas opened #481 "UI Storage providers - Tables custom prefix"
I would like to throw a question for those users that are planning to use the new storage providers.

All storage packages run migrations by default against the database configured in the connection string and like tables before where created internally in sqlite it wasn't necessary to use table prefixes.

If someone wants to run migrations in a database that already has tables, it could be intere

[2020-04-15 22:05] CarlosLanderas commented on #399
@jlcalderingarcia, we have released several storage providers, so there is no need to work with a file database like sqlite anymore. You can use SqlServer, sqlite, mysql, postgre and in-memory now

[2020-04-16 06:21] jlcalderingarcia commented on #399
Awesome! I'll give it a try! Thanks!

[2020-04-16 06:31] #399 closed

[2020-04-16 12:18] jocco opened #482 "AWS Health checks assume basic credentials"
**What would you like to be added**:
I would like to add a AWSCredentials field to `S3BucketOptions` and `DynamoDBOptions` replacing the current AccessKey and SecretKey string fields (I suggest they become deprecated and still handle that these are specified). These passed AWSCredentials would be used instead of the manual created BasicCredentials to call AWS.

This change could fallback to the de

[2020-04-16 12:35] jocco commented on #482
If it was unclear what the intended changes would be here is a commit to my fork that would be roughly along the lines of what I was thinking (the deprecation of the old fields could be done in many different ways depending on what is prefered).

https://github.com/jocco/AspNetCore.Diagnostics.HealthChecks/commit/a417f1001e75e01fa45c993cf961cbf47924ecb2

[2020-04-17 07:58] #161 closed

[2020-04-17 07:59] #107 closed

[2020-04-17 07:59] #171 closed

[2020-04-17 08:00] CarlosLanderas commented on #113
Namespaces in k8s discovery services are now supported.

[2020-04-17 08:00] #113 closed

[2020-04-17 08:01] CarlosLanderas commented on #357
This has been reported as fixed with new package releases

[2020-04-17 08:01] #357 closed

[2020-04-17 08:06] CarlosLanderas commented on #475
Hello @Skleni, what do you mean by "resetting" the whole history?

[2020-04-17 08:09] CarlosLanderas commented on #454
@alexander-telegin , the thing is if we add this for one healthcheck, we should have it for the others to have a common api design. And like it's not a requested feature it might be a better choice just to create an extension method in your project to accomplish this.

[2020-04-17 08:11] #250 closed

[2020-04-17 08:45] Skleni commented on #475
Let's say the service I'm monitoring has one check. Now the following things happen:

1) The check reports healthy. The service is displayed as healthy in the UI.
2) The check reports unhealthy. The service is displayed as unhealthy and the history shows two entries:
* Healthy
* Unhealthy
(see first screenshot above)
3) The service goes offline. The UI is unable to retrieve the checks response. Th

[2020-04-17 13:20] vip32 commented on #467
why was this netstandard2.1 upgrade needed? are any new features of the new 2.1 used?
the issue is that now you enforce all packages using yours to upgrade to 2.1, which where fine on 2.0 before. also netcoreapp3.1 works fine with netstandard2.0 packages

[2020-04-17 13:36] rnarayana opened #484 "New Azure client libraries"
**What would you like to be added**:
Azure has started releasing a new set of libraries which are in the Azure.<area>.<service> namespace, rather than the Microsoft.<service> namespace. An example is messaging here:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md#migrating-code-from-partitionreceiver-to-eventhubconsumerclient-for-read

[2020-04-18 18:21] Tieantono commented on #224
Sorry for replying a closed issue, but @CarlosLanderas, do you know the right namespace for this package? I've set the minimum level of these following namespaces to `Warning` in Serilog settings:
* `Microsoft.AspNetCore.Diagnostics.HealthChecks`
* `Microsoft.Extensions.Diagnostics.HealthChecks`
* `AspNetCore.HealthChecks.UI`

But it is still generating the log output.

[2020-04-18 23:04] CarlosLanderas commented on #224
Hi! It is HealthChecks

[2020-04-19 07:18] Tieantono commented on #224
Thank you for the reply @CarlosLanderas , but it still generating the log output each 10 seconds) like this:
<details>
  <summary>Generated log output</summary>

![image](https://user-images.githubusercontent.com/14927392/79681866-fdc42300-8247-11ea-91bc-2f722a3e2cee.png)
</details>

This is my Serilog Settings in my appsettings.json:
[code]
Of course, when I set `Microsoft.EntityFrameworkCore` va

[2020-04-19 10:02] CarlosLanderas commented on #224
That's Microsoft Entity Framework printing all the queries. Increase EF Core loglevel to warning

[2020-04-19 13:18] Tieantono commented on #224
I see, so it all back to EF Core again. I just thought I can still log on `Information` level on EF Core and disable HC logs. Thank you.

[2020-04-20 13:29] MoienTajik opened #488 "UI Storage Providers - EntityFramework min version"
**What would you like to be added**:
Setting EntityFrameworkCore minimum version in UI storages to 3.1.0 or lower.

**Why is this needed**:
Currently, all storage providers like [AspNetCore.HealthChecks.UI.InMemory.Storage](https://www.nuget.org/packages/AspNetCore.HealthChecks.UI.InMemory.Storage) need **Microsoft.EntityFrameworkCore.InMemory (>= 3.1.3)** at least, this causes that many applicati

[2020-04-20 13:33] CarlosLanderas opened #489 "[K8s Operator] Allow add annotations to generates deployment and services"
**What would you like to be added**:

Allow adding annotations to generated deployment and services in CRD.

**Why is this needed**:

After talking with @carlosrecuero, adding the chance to configure desired annotations for ui deployment and services would be a great idea. For example, you might want the UI Load Balancer to be internal when using Azure AKS.

[2020-04-20 15:38] #489 closed

[2020-04-20 21:31] udlose commented on #455
@CarlosLanderas for the connection string I provide to the `AddHealthChecksUI` method, should it be a separate database? I don't want to provide my current application database as I am afraid the migration may cause issues to it.

[2020-04-20 23:33] dolphinsd opened #492 "how can one secure access to ui"
Is there a way to secure access to healthcheck ui?
For example, Hangfire offers an easy way to configure authorization handler.
See http://docs.hangfire.io/en/latest/configuration/using-dashboard.html#configuring-authorization

Does healthchecks have this feature?

[2020-04-21 02:30] dolphinsd opened #493 "ui javascript error"
Latest live version 3.1.0 fails with javascript error:
See below, it fails in line with e = e.filter(e=>null != e);

TypeError: e.filter is not a function
    at t.LivenessPage.<anonymous> (healthchecks-bundle.js:formatted:1614)
    at Generator.next (<anonymous>)
    at r (healthchecks-bundle.js:formatted:1540)
(anonymous) @ healthchecks-bundle.js:formatted:120
r @ healthchecks-bundle.js:formatte

[2020-04-21 07:09] CarlosLanderas commented on #493
Can you paste you configuration? It sounds like the api-path is missconfigured.

[2020-04-21 07:13] CarlosLanderas commented on #492
Asp.Net Core 3 has the new endpoints where you can have individual authentication and authorization with RequireAuthorization.

You have an authorization sample commented in the branding sample:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.Branding/Startup.cs

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/H

[2020-04-21 11:11] remy90 opened #494 "Could not retrieve health checks data but network tab shows successful retrieval"
Please, fill the following sections to help us fix the issue

**What happened**:
HealthCheckUI page displays: "Could not retrieve health checks data"

**What you expected to happen**:
Indication in healthchecksui of my apis and db in the UI. "/hc" does return the expected JSON, "/hc-ui#/healthchecks" also retrieves "/hc" JSON data successfully, as determined by monitoring the network tab.

**How t

[2020-04-21 11:55] CarlosLanderas commented on #494
Hello @remy90 , you are setting the same path for the healthchecks endpoint and the ui-api path.
Just remove this line, or set a different path

[code]

[2020-04-21 13:33] remy90 commented on #494
My first attempts were without ApiPath assignment. I don't think it's hitting /hc at all..
![Screenshot 2020-04-21 14 32 29](https://user-images.githubusercontent.com/47695385/79871881-f4b88a80-83dc-11ea-8186-99aa6269478b.png)

[2020-04-21 13:57] CarlosLanderas commented on #494
@remy90 can you publish the whole sample so we can help you?

[2020-04-21 14:18] remy90 commented on #494
[code]

[2020-04-21 14:36] CarlosLanderas commented on #494
You are registering the healthchecks middleware twice, one with the old version and one with the new version.

You dont have to use:

[code]

and

[code]

Please, read the docks and check the samples

[2020-04-21 14:36] #494 closed

[2020-04-21 14:46] remy90 commented on #494
Only made the upgrade to 3.1 in the past few days. My apologies, however that still doesn't seem to have done the trick. I've removed ```
app.UseHealthChecksUI(config =>
    {
        config.UIPath = "/hc-ui";
    });
[code]

[2020-04-21 14:53] CarlosLanderas commented on #494
I can help you if you share the project with a github repository, otherwise the project has a lot of custom code that I would need to check.

However, I found a problem in this line:

[code]
You are not configuring the UIResponseWriter that is necessary to export healthchecks to a UI readable format, check it here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples

[2020-04-21 15:13] remy90 commented on #494
I clearly was using a mixture of flavours. The original article I referenced suggests it's using 3.1 based on the package references. For posterity, the following resolved my issue:

[code]

[2020-04-21 15:32] #473 closed

[2020-04-22 13:26] gogux opened #497 "Link to the tutorials section is broken in Readme.md"
The anchor link to the tutorials section seems to be broken in the Readme.md

[2020-04-22 13:49] #497 closed

[2020-04-24 08:09] dadjh85 commented on #305
I have this problem, I prefer this route have security with token or similar, but I haven't seen how to do it, the url for view check the system services is a great idea, thank for this nuget.

[2020-04-24 12:55] itcotta opened #500 "ServiceBusQueue Health Check is sending the scheduled test message to the queue"
When the health check for ServiceBusQueue is executed sometimes (very rarely, something like a few times a month) a message with the Message Text: "HealthCheckTest" will actually end up in the service bus queue.

By having a quick look at the implementation here https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthChe

[2020-04-24 14:48] JessySaint opened #501 "Change the title of the web interface"
**A way to customize the title of the web interface, from "Health Checks UI" to a custom title**:

**This would be usefull for other languages, or even like if we want to plublish mutiple applications for different health checks**:

![2020-04-24 10_45_42-Health Checks UI](https://user-images.githubusercontent.com/64267169/80225341-ef478400-8618-11ea-8c6d-e4fb2d1d6bdd.png)

Thank you,

[2020-04-24 15:19] CarlosLanderas commented on #501
Easy to implement. All right 👍

[2020-04-24 19:18] cesarbmx opened #502 "IHttpContextAccessor in custom HealthCheck"
I am trying to use IHttpContextAccessor in one custom HealthCheck but it does not get injected.
I am calling `services.AddHttpContextAccessor();` during startup.

Error:
`System.InvalidOperationException: Unable to resolve service for type 'Microsoft.AspNetCore.Http.IHttpContextAccessor' while attempting to activate 'HealthChecks.SslCertificateHealthCheck'.`

![image](https://user-images.githubuse

[2020-04-24 20:35] mdalepiane opened #503 "Random OperationCanceledException on Uri checks"
This may not be a bug, but I need help troubleshooting this issue.

**What happened**:
Our health checks are called every minute or so and we are randomly receiving an `OperationCanceledException` on some UrlGroup checks and when this happens the dependency reports as unhealthy. It normally happens after around 3 seconds. I need help to understand what is going on. We suspect network issues may be

[2020-04-24 20:37] mdalepiane commented on #503
I've found this unresolved question in StackOverflow that seems to be the same problem:

[Asp.net core healthchecks randomly fails with TaskCanceledException or OperationCanceledException](https://stackoverflow.com/questions/60474213/asp-net-core-healthchecks-randomly-fails-with-taskcanceledexception-or-operation)

[2020-04-25 08:33] CarlosLanderas commented on #502
Why using the accessor? The HealthCheck collection (both in Microsoft HealthChecks and the UI) is triggered from a hosted service. There is no request http context attached

[2020-04-25 09:56] cesarbmx commented on #502
Thanks for the quick reply.
Since the library is primarily API based, I thought there would be an HttpContext.

I need a different approach, then. Would it be possible to pass a configuration parameter  on Startup via `.AddCheck<SslCertificateHealthCheck>("SSL certificate");`?
Otherwise, I will just inject `IConfiguration ` in my custom HealthCheck and grab the value.

Thanks!

[2020-04-25 17:48] manne opened #505 "Creating NuGet package generates warning NU5125: The 'licenseUrl' element will be deprecated."
The build contains a warning for each NuGet package being created.

[code]

**What would you like to be added**:
It is actually a change.
Replace the line
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/4a08e828a784cb4c6e6e4da1b915fa4625ecc8de/build/dependencies.props#L10

with
[code]

Or the license file could be packaged and be added to the package information with

[code]

F

[2020-04-25 18:06] manne opened #506 "Clean health check project files"
**What would you like to be added**/changed:
In a comment of my PR https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/504#pullrequestreview-400411374. I copied, pasted and adapted the lines https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/4a08e828a784cb4c6e6e4da1b915fa4625ecc8de/src/HealthChecks.IdSvr/HealthChecks.IdSvr.csproj#L2-L16.
As sungam3r annotated the f

[2020-04-25 21:19] #502 closed

[2020-04-25 21:22] sungam3r commented on #506
Option 3.

[2020-04-25 22:03] manne commented on #506
@sungam3r I am workin on a PR

I stumbled across this:
What's the reason that in some project the `LangVersion` is declared to `Latest` and in some it is not? Should I centralize this property into `Directory.Build.props`?

[2020-04-25 22:05] sungam3r commented on #506
I think it is just copy-paste stuff.

I think yes.

[2020-04-27 18:27] unaizorrilla commented on #506
Yeap!

[2020-04-28 12:11] ahryshchanka commented on #479
@mvarga6 sorry, but I did PR. I don't know will you track this issue or not. As a result, PR for ArangoDb can take a lot of time. In case you track issue -- please push your PR, I'll cancel my.
Repository authors more active when you have PR.

[2020-04-28 12:45] a-z-hub opened #509 "Add neo4j health check"
**What would you like to be added**:
New health feature for verify [neo4j](https://neo4j.com/) database

**Why is this needed**:
Because it main aim current repository.

[2020-04-28 13:13] Sokhz opened #510 "Error on AddSqliteStorage"
Hello,

**Versions :**
AspNetCore.HealthChecks.UI : 3.1.0
AspNetcore.HealthChecks.UI.SQLite.Storage : 3.1.1-preview3

My problem :
I try to add SQLite storage supports to my HealthChecksUI.

Documentation says :
[code]

Looking into the code in the repo, you have thoses extensions :
[code]

[code]

When I F12 on `AddHealthChecksUI` in my solution, it shows:
[code]

The extension `AddSqliteStorage`

[2020-04-28 13:15] Sokhz commented on #510
I had to use preview too for the main package.

[2020-04-28 13:15] #510 closed

[2020-04-28 13:57] CarlosLanderas commented on #510
Yeah, all related storage provider packages are on preview right now :)

[2020-04-28 16:57] mvarga6 commented on #479
@ahryshchanka No worries!  I was just trying to follow the contribution guidelines of "don't push your PR".

[2020-04-29 11:20] slavenl opened #511 "Question: HealthCheck endpoint where response status (code) summarize specific endpoints statuses"
Hi,
We have situation where F5 load balancer expect status code 200 if web app (and all its related external services) is working good, and some other status code (e.g. 503) if not.

When we make request to healthcheckui(-api) we always get status 200 if main app working (no matter of related endpoints) and thats ok.
But - what we want:
If, for example, one of five specific checkpoints (endpoints)

[2020-04-29 12:26] denisky opened #512 "HealtChecks-UI Docker Image - Authorization issue with Azure App Configuration and Managed Identity Service"
I'm having an issue running the docker image with Azure App Configuration and Managed Identity Service.

I'm getting an errors when the application is loading.

2020-04-29T11:14:26.590176814Z    at Microsoft.Azure.AppConfiguration.ManagedIdentityConnector.ManagedIdentityConnector.GetConnectionString(Uri endpoint, Permissions permissions, RequestOptions options, CancellationToken cancellationToken)

[2020-04-29 13:02] Skleni opened #513 "Configuration is not updated when an endpoint URI changes"
**What happened**:

When the URI of a health check endpoint is changed, this change is not reflected in the database and the calls are still made to the old URI.

**What you expected to happen**:

I would expect the health check UI to use the updated URI.

**How to reproduce it (as minimally and precisely as possible)**:

* Add a health check: `settings.AddHealthCheckEndpoint("Test", "http://local

[2020-04-29 17:37] #506 closed

[2020-04-30 19:15] ahryshchanka opened #514 "Add missed data about packages/resources to README.md file"
Please, fill the following sections to help us fix the issue

**What happened**: Looks like some info missed in README.md file.

**What you expected to happen**: README.md have all and full info.

**How to reproduce it (as minimally and precisely as possible)**: Compare README.md and projects list

**Source code sample**: fix in documentation, no code changes

**Anything else we need to know?**: I

[2020-05-04 02:12] akiragothick commented on #314
Una consulta amigos, este metodo no lo entiendo muy bien: AddProcessAllocatedMemoryHealthCheck, es para saber cuanto espacio va ocupar almacenar el historico de health espacio en disco o ram? y si se sobrepasa se auto limpia o se hace manual?

[2020-05-04 10:41] CarlosLanderas commented on #513
@Skleni take a look at this:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/454

[2020-05-04 11:55] CarlosLanderas opened #516 "[K8s Operator] Add Webhooks configuration in Custom Resource Definition"
Add UI Image Webhooks payloads configuration in Custom Resource Definition

[2020-05-04 11:59] Skleni commented on #513
Thanks, but I'm not talking about changing it at runtime, but between application starts. That should work, shouldn't it?

[2020-05-04 19:10] CarlosLanderas commented on #513
Thanks for the explanation @Skleni. Yes!. it is definitely something we can add with little effort. In current storage providers preview, only new healthchecks are added. We should check if name already exists and be able to update the URI.

[2020-05-04 19:12] #516 closed

[2020-05-05 06:22] #513 closed

[2020-05-05 06:27] CarlosLanderas commented on #513
healthchecks-ui-3.1.1-preview5 is being published with this change included.

[2020-05-05 09:18] OmerNassie opened #520 "EvaluationTimeInSeconds will not set"
**What happened**:
I followed the examples and the README file, I've set the `EvaluationTimeInSeconds` property to 300 seconds but it stays on 10 seconds. I tried from Configuration file (appsettings.json) or from the setup settings function but nothing works.

**What you expected to happen**:
I would expect that the EvaluationTimeInSeconds will be changed from 10 seconds to 300.

**How to reprodu

[2020-05-05 10:30] CarlosLanderas commented on #520
Hello @OmerNassie. I'm not able to reproduce this:

Using appsettings.json:

[code]

works as well.

Could you upload a non-working sample to github?

[2020-05-05 10:32] Skleni commented on #513
Thanks, I'll give it a try ASAP. :)

[2020-05-05 11:20] OmerNassie commented on #520
Hi @CarlosLanderas thanks for the quick response!
Does the Health Checks UI is correlated with the evaluation time's value?
This is what not worked for me. Without opening the health checks UI the evaluation time works perfect.

[2020-05-05 13:39] CarlosLanderas commented on #520
@OmerNassie these are two different thinkgs. The evaluation time in seconds is used by a background hosted service to poll healthchecks endpoints.

The UI refresh every, is the rate the spa queries the healthchecks UI Api. But the UI api does no trigger the collection (only queries the last results).

[2020-05-05 13:39] #520 closed

[2020-05-05 13:53] CarlosLanderas opened #521 "[K8s Operator] Wait for available replicas before starting service watcher"
**What would you like to be added**:

Right now, the HealthChecks Kubernetes operator starts the service watcher, and sometimes the UI is not ready so service push notifications fail.

The k8s operator should wait for the UI replica to be ready before starting the service watcher so discovered labeled service can be properly notified.

[2020-05-05 15:02] PeterStaev opened #522 "SQL Healthchecks fail with Microsoft.Data.SqlClient.SqlAuthenticationProviderManager threw an exception"
Please, fill the following sections to help us fix the issue

**What happened**:
After update to the latest version of Healthchecks SQL Server checks started failing with the following error:
[code]

**What you expected to happen**:
SQL Server Helathchecks to continue to work as normal.

**How to reproduce it (as minimally and precisely as possible)**:
I'm using the following connection string:
[c

[2020-05-07 22:41] CarljohanDanling commented on #501
Great! I've also wanted to customize it :)

[2020-05-08 07:24] CarljohanDanling commented on #501
While on interface topic, I would like to be able to change the favicon. Is that easy to implement? @CarlosLanderas

[2020-05-08 07:41] sibbl commented on #299
A small follow-up question: has this already been released half a year later? I don't see the `trackExceptions` parameter in version 3.1.1.

Please find a very small ASP.NET Core repro project here:
[ReproHealthChecksAppInsightsPublisher.zip](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/files/4597619/ReproHealthChecksAppInsightsPublisher.zip)

I hope it's okay that I didn't creat

[2020-05-08 13:35] inkel commented on #299
Came here after someone left a comment (now deleted):

This got me curious so I when to check, and it seems that the code that was merged in #302 is not present anymore. I did some investigation and it seems that the exception tracking code was removed in commit 8748404d925d38edb9f051733bbb7439eaaeed03. Sorry if I'm stepping out of line, but can you explain why it was removed? It seems like a regr

[2020-05-12 18:45] ChrisProlls opened #524 "SignalR healthcheck issue"
Please, fill the following sections to help us fix the issue

**What happened**: I tried to use the SignalR healthcheck but I faced with a **Object reference not set to an instance of an object.** into the health check portal.
![image](https://user-images.githubusercontent.com/1511666/81731744-afddbc00-948f-11ea-9e28-318134c444f3.png)

**What you expected to happen**: I expect the health check to

[2020-05-13 06:55] Skleni commented on #513
Works great! :)

[2020-05-13 09:57] CarlosLanderas commented on #513
Thanks for reporting @Skleni !

[2020-05-13 17:46] phnx47 commented on #155
@CarlosLanderas Any news? I want use consul discovery services. But, I see that many classes are internal.

[2020-05-13 21:30] CarlosLanderas commented on #155
Hello. The latest preview UI version has several storage providers. The Context is now public and can be retrieved using Service Provider. All the details about this new version are in the README. Please take a look and tell me if this works four you

[2020-05-13 21:31] CarlosLanderas commented on #155
We've also extended discovery service to support namespaces and included further features like labels and annotations and created the k8s operator that automatically deploys the UI and discoves services for you

[2020-05-14 11:08] phnx47 commented on #155
I want create my own discovery like k8s, but with Consul. I didn't find information about this in README.

How I can extend this library without fork and change internal classes?

I use latest preview version.

[2020-05-14 15:33] #514 closed

[2020-05-15 06:30] zh6335901 opened #525 "PrometheusResponseWriter.WritePrometheusResultText throw TypeLoadException"
I used `AspNetCore.HealthChecks.Prometheus.Metrics` package to generate health check metrics response, but it will throw exception when access the check url.

**What happened**:
It throw `TypeLoadException` when i access the check url:
[code]

**What you expected to happen**:
It should be generate the prometheus format response.

**How to reproduce it (as minimally and precisely as possible)**:
Ju

[2020-05-15 07:38] unaizorrilla commented on #525
Hi @zh6335901

Related with your issue, this package depends on prometheus-Net version 2.1.3, you are using 3.0.0? version?

Also, I try to fix an issue on the extension method namespace, this package allow to use

` app.UseHealthChecksPrometheusExporter("/prometheus")`

Instead to set the response writer, but at this moment the namespace is not the convention that we use  (use the same namespace

[2020-05-15 07:48] zh6335901 commented on #525
@unaizorrilla Yes, I am using prometheus-Net 3.5.0, And I tried downgrade 2.1.3, The writer is worked.

[2020-05-15 07:59] unaizorrilla commented on #524
Hi @ChrisProlls

Thanks for submitting the issue!

Well, the issue is related with your Uri configuration for the SignalR hubs. AddSignalRHub need the hub uri, not the path string, ie /hub.

When the healthcheck perform the iteration, the HubConnectionBuilder throw because this uri is not valid.

Can you set the valid Uri for the Hub and test if this works well?

Please, close the issue if this so

[2020-05-15 08:02] OlegTontici commented on #500
I'm here to confirm the problem described.

Indeed, from time to time it happens that this message reaches the actual queue listener which in my case cause an exception because the message is not json formatted so it can not be properly deserialized without an intervention into the process.

- .NET Core version : .Net Core 2.2
- Healthchecks version: 2.2.4

[2020-05-15 08:09] unaizorrilla commented on #522
Hi @PeterStaev

I tested the package and it's works! Can you use our sample HealthCheck.Sample, and remove comments for

` //.AddSqlServer(connectionString: Configuration["Data:ConnectionStrings:Sample"])`

on startup and tests your sql modifiying the connection string on

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/46d5cc08866d00402c6c4952fbb92f7501492f27/samples/HealthChe

[2020-05-15 08:12] unaizorrilla commented on #500
Hi @itcotta

Thanks a lot for summit the issue, I try to take a look a soon as posible!

[2020-05-15 08:19] itcotta commented on #500
I can also confirm that this issue is present after updating to Healthchecks version: 3.1.1.

[2020-05-15 08:20] unaizorrilla commented on #525
I just update the package to fix the issue with namespace on extension methods, you can use

`UseHealthChecksPrometheusExporter("/prometheus")`

Instead write

[code]

And also I try to contact @RonnyAnc  to get more information about prometheus package versioning

[2020-05-15 08:24] unaizorrilla commented on #500
Thanks I'm working on it now, let me some time to debug and trying to fix the issue!

[2020-05-15 09:03] unaizorrilla commented on #500
Hi @itcotta

I'm finished how perform the health check and I removing subscription messages, In order to use ManagementClient instead of topic/queue client.

The problem is that is a breaking change because the information about requireSession / configuring message is not necesary right now!

[2020-05-15 09:06] unaizorrilla commented on #500
Hi @OlegTontici

Are you using ASP.NET Core 2.2 ? This is not supported right now, are you planning to update to 3.1?

[2020-05-15 09:11] PeterStaev commented on #522
Hey @unaizorrilla ,

It is really strange. I have 3 projects that use the check all with the same connectionString. It works on 2, but fails on one with the above mentioned error... I will try to trace the problem and will let you know. If you have any idea what could be causing this error would appreciate it.

[2020-05-15 09:18] itcotta commented on #500
I'm registering it like this:

`              .AddHealthChecks()
                .AddAzureServiceBusQueue(
                    serviceBusSettings.ConnectionString,
                    serviceBusSettings.QueueSettings.QueueName,
                    serviceBusSettings.QueueName)
                .AddAzureServiceBusTopic(
                    serviceBusSettings.ConnectionString,
                    ser

[2020-05-15 09:23] unaizorrilla commented on #522
Hi @PeterStaev

waiting for more info.

Check if you have also referenced System.Data.SqlClient !!!

[2020-05-15 09:26] #525 closed

[2020-05-15 09:37] PeterStaev commented on #522
Yes, all my projects have reference to `System.Data.SqlClient`

[2020-05-15 09:40] unaizorrilla commented on #522
Can you remove this reference?  in theory Microsoft.Data.SqlClient have the same API surface! and more features..

[2020-05-15 09:42] PeterStaev commented on #522
No, as it is coming as a dependency from other nuget packages

[2020-05-15 09:42] unaizorrilla commented on #500
Hi @itcotta ,  @OlegTontici

The package 3.2.1 is published on NuGet. Can you test it and close the issue if this package solve the problems?

[2020-05-15 09:47] unaizorrilla commented on #522
:-( , well on dotnet core Microsoft.Data.SqlClient is the recommended package!

Try to debug your project and if get more info, p**lease let me know!** I close the issue, but feel free to re open if your consider the issue is related!

[2020-05-15 09:47] #522 closed

[2020-05-15 09:49] unaizorrilla commented on #505
Hi @manne

A PR is welcome for this! THANKS!

[2020-05-15 09:49] unaizorrilla commented on #509
a PR is Welcome!

[2020-05-15 09:56] unaizorrilla commented on #511
Hi @slavenl

To be clear with some things:

 - A healthcheck respond 200 if is ok and 503 when the service is unavailable
 - You typically add healthcheck on your services apps

UI is a project to collect the healthcheck information of your configured services but the availability of this services does not depends on the configured services. Obiously, the HealthChecks UI can work regardless the se

[2020-05-15 10:00] OlegTontici commented on #500
Yeah, we're using asp .net core 2.2, and indeed, soon we'll migrate to 3.1.

Going to test it, although it may take some time since it didn't happens on regular basis.
Will get back with my results.

Thanks.

[2020-05-15 10:04] unaizorrilla commented on #503
Hi @mdalepiane

- I can help on debug this, typocally HttpClient throw this on timeout or when the services does not response ( https://github.com/dotnet/runtime/issues/21965 )  I try to review the code and check if we can throw with more insights about the real problem.

- The provided link is not related with this project, is related with abstractions on ASP.NET Core. Probably this will be fille

[2020-05-15 10:04] #503 closed

[2020-05-15 10:06] unaizorrilla commented on #500
Ok @OlegTontici !! We remove the subscription/cancellation, It shouldn't happen again :-)

[2020-05-15 10:07] unaizorrilla commented on #501
Hi @CarlosLanderas is this implemented? Can i close the issue?

[2020-05-15 10:08] unaizorrilla commented on #492
Close by no-reply!

[2020-05-15 10:08] #492 closed

[2020-05-15 10:08] unaizorrilla commented on #493
Close with no-reply

[2020-05-15 10:08] #493 closed

[2020-05-15 10:11] unaizorrilla commented on #484
Hi @rnarayana

I try to take a look on this! thanks !!

[2020-05-15 10:13] unaizorrilla commented on #482
Hi @jocco

A PR for this is welcome, can you contribute this?

[2020-05-15 10:17] unaizorrilla commented on #512
Why this is related with healtchecks project?

The excepcion throw on

`Microsoft.Extensions.Configuration.AzureAppConfiguration.AzureAppConfigurationSource.Build(IConfigurationBuilder builder)`

Probably is better if you fill the issue on Azure App Configuration Repository

Thanks!

[2020-05-15 10:18] #392 closed

[2020-05-15 10:19] unaizorrilla commented on #419
Hi @jessie7216

I'm on contact with @RonnyAnc  to update the new package (pull model) to prometheus 3 version packages.

[2020-05-15 12:27] denisky commented on #512
Hi,
I reported the issue here since you provide a feature using Azure App Configuration.
I wanted to know if it was a normal behavior or if you experienced that issue while testing the feature.

[2020-05-15 12:57] manne commented on #505
@unaizorrilla
which option
A) `<PackageLicenseExpression>Apache-2.0</PackageLicenseExpression>` or
B) `<PackageLicenseFile>LICENSE</PackageLicenseFile>`

[2020-05-15 13:11] unaizorrilla commented on #505
A

[2020-05-15 14:20] CarlosLanderas commented on #512
@unaizorrilla this is a feature of the docker image. It is using an old package version. Let me review it and update it

[2020-05-15 16:50] trhumphries opened #527 "URL defined with AddUrlGroup don't get checked"
**What happened**:
I added
            services.AddHealthChecks()
                .AddMongoDb(Configuration?.GetValue<string>("MongoDB-Supplier--ConnectionString"), "Master", "mongo db")
                .AddUrlGroup(new Uri("http://product-api-healthcheck.supplier:80/healthcheck"), "Product API");

**What you expected to happen**:
I expected it to check the url added
**How to reproduce it (as mini

[2020-05-15 17:24] CarlosLanderas commented on #527
@trhumphries how are you checking the HealthCheck? Are you using the UI? Kubernetes liveness or readiness probes?
Otherwise the Healthchecks are non meant to check target services unless they are invoked.

[2020-05-15 17:26] trhumphries commented on #527
Using the UI and is displays the MongoDB check but not the URL Check

[2020-05-15 17:34] CarlosLanderas commented on #527
Could you paste the whole configuration then please?. Thanks

[2020-05-18 03:02] Daniel15 commented on #419
I'm working on this. Will send a PR shortly!

[2020-05-18 04:50] CarlosLanderas commented on #419
Great @Daniel15 !

[2020-05-18 07:05] Daniel15 commented on #419
Fixed by #528

[2020-05-18 08:45] Kiechlus commented on #255
@unaizorrilla This feature was removed ini `v3.2.2`. Latest working was `v3.1.1`. Is this breaking change intended? If yes, does the problem described above not exist anymore in > `3.2.2`?

[2020-05-18 09:01] RonnyAnc commented on #419
Sorry people, I just could not do this last weekend. If you need something I could help this week.

[2020-05-18 09:05] RonnyAnc commented on #419
The prometheus-net version was older in my pr because I respected the same that was already in the repository for the Prometheus.Publisher module, I forgot to ask for that. I agree, for this new package, should be the last one. Sorry for the delay 🙏

[2020-05-18 09:07] RonnyAnc commented on #419
Thank you @Daniel15 for fixing this! :)

[2020-05-18 09:20] unaizorrilla commented on #255
Hi @Kiechlus

Yeap, on 3.2.2 we don't need to send scheduled messages o check the availability of Topic / Queue, we use ManagementClient instead of. For this reason we don't need anymore availability to manage partitioning, session etc.

[2020-05-18 09:24] unaizorrilla commented on #419
Hi @RonnyAnc

Can you review also the P ? , I try to do a review and merge this week, but because you are the initial contributor of this will be good more eyes on this!

[2020-05-18 13:51] trhumphries commented on #527
I resolved it. By cluster context had been change so when I was restarting the pod it was on the wrong cluster. Thanks!

[2020-05-18 13:51] #527 closed

[2020-05-18 13:58] trhumphries opened #529 "Non-display Health Checks"
In the Health Check UI Client I'd like to be able to suppress the display of specific health checks.
For instance I'd like to add a SignalR Health check however showing that on the Web client might confuse my end users. However If I could include it in the health check and forward it to Application Insight or Prometheus I could set up an alert to trigger when the specific health check is unhealthy

[2020-05-18 15:41] #419 closed

[2020-05-18 15:51] #479 closed

[2020-05-18 18:14] pbr1111 opened #530 "Use of HttpCompletionOption.ResponseHeadersRead in Http requests"
**What would you like to be added**:
Some  HealthChecks that use HttpClient are making requests without using the HttpCompletionOption.ResponseHeadersRead parameter in the GetAsync and SendAsync methods. The default value of this parameter is HttpCompletionOption.ResponseContentRead and it will wait to get the whole body of the response.

Assigning the value HttpCompletionOption.ResponseHeadersRea

[2020-05-18 19:57] pbr1111 opened #532 "Use of HttpClientFactory to create HttpClients in HealthChecks.UI.K8s.Operator"
**What would you like to be added**:
The HealthChecksPushService.cs class of the HealthChecks.UI.K8s.Operator project is creating and disposing an HttpClient each time it makes a request. It should use HttpClientFactory for client generation as a recommended practice.

**Why is this needed**:
As Microsoft recommends, it should use the HttpClientFactory.
https://docs.microsoft.com/es-es/aspnet/core

[2020-05-19 11:12] OskarKlintrot commented on #455
@CarlosLanderas Is there any way to run the migrations manually? Or better yet, generate them as you normaly do in EF? Applying migrations on startup seems a bit dangerous if you are using more than one instance...

[2020-05-19 11:41] rsdelapaz opened #534 "Error installing AspNetCore.HealthChecks.SendGrid"
Please, fill the following sections to help us fix the issue

**What happened**:

Error installing Install-Package AspNetCore.HealthChecks.SendGrid.

**What you expected to happen**:
The instalation of the package.

**How to reproduce it (as minimally and precisely as possible)**:
Install-Package AspNetCore.HealthChecks.SendGrid

**Source code sample**:

**Anything else we need to know?**:

![Erro

[2020-05-19 12:01] kisalay1988 opened #535 "Dynamically adding health check endpoints"
**What would you like to be added**: As per current implementation, all the health check endpoints should be added while registering the HealthCheckUI middleware. Consider a case :
1. There are multiple APIs with multiple versions and their own respective Health Check JSON endpoints.
2. Depending on the case I want to filter the Health Check UI to show the data for specific versions but that's not

[2020-05-19 13:33] CarlosLanderas commented on #535
This capability is added in our docker image as the K8s operator is able to publish discovered services to the target UI.

[2020-05-19 15:56] #521 closed

[2020-05-20 06:18] OskarKlintrot opened #536 "Support for using DelegatingHandlers in UI"
**What would you like to be added**:
I want to register my own `DelegatingHandler`s.

**Why is this needed**:
You can solve everything (I think) you want to do with a `DelegatingHandler` in a `HttpClientHandler` but they have different purposes. I my case I needed to add different auth header depending on which service where going to be called. That should be in a `DelegatingHandler` and not in a

[2020-05-20 07:58] CarlosLanderas commented on #536
Hello @OskarKlintrot

Could you try something like this?

[code]

And then:

[code]

[2020-05-20 08:00] OskarKlintrot commented on #536
That's how I solved it but as I wrote, IMHO a `HttpClientHandler` is not the right place, that's what `DelegatingHandler`s are for.

[2020-05-20 08:21] #505 closed

[2020-05-20 08:44] CarlosLanderas commented on #536
Taking a look to Microsoft Docs:

**DelegatingHandler** - A class used to plug a handler into a handler chain.

**HttpClientHandler** - A class that operates at the bottom of the handler chain that actually handles the HTTP transport operations.

The difference is subtle. Could you provide more information about why you think a DelegatingHandler is better in this case?
You just need to set a heade

[2020-05-20 08:54] OskarKlintrot commented on #536
Sure, "better" is a stretch but as you pointed out the HttpClientHandler is the one "that actually handles the HTTP transport operations", which I have no intention to do. My intention is to "plug a handler into a handler chain" to mutate the request. I don't care how to handle the actual HTTP-call (which is the responsibility of the HttpClientHandler), I just want to mutate the request and be don

[2020-05-20 09:11] CarlosLanderas commented on #536
We can add this to the setup:

[code]
and I'm taking a look to the current HttpClientBuilder extensions and:

[code]
**AddHttpMessageHandler** requires a mandatory DelegatingHandler returned.
Maybe we can add this using:

[code]

What do you think?.

cc @unaizorrilla

[2020-05-20 09:38] OskarKlintrot commented on #481
If I remember correct, Hangfire uses it's own schema. Would that work here as well?

[2020-05-20 10:14] OskarKlintrot commented on #536
No problem, this is quite confusing :)

I would prefer if you could use DI [as in the docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#outgoing-request-middleware) to register them. That is really convenient. Would `settings.Value.ApiEndpointDelegatingHandler` be just one? I think you would probably want to support multiple delegating handlers.

[2020-05-20 10:33] kisalay1988 commented on #535
Let me explain the case which I am trying to implement.

1. Say I call an API : http://localhost/api/healthcheck?version=1.1
2. This API call would collect all the API details and the health check endpoints with version 1.1 and then redirect to the UI showing the status only of these endpoints.

[2020-05-20 17:35] CarlosLanderas commented on #536
Ok, I have it running. I'll submit the PR later. This would be the API:

[code]

[2020-05-20 22:21] NateB2 opened #537 "Add a Cosmos DB Storage Provider"
**What would you like to be added**:
EF Core Cosmos DB Storage Provider for the HealthCheck UI.
https://docs.microsoft.com/en-us/ef/core/providers/cosmos/?tabs=dotnet-core-cli

**Why is this needed**:
We can take advantage of Cosmos collection/database pooling and not need to spin up an Azure SQL instance if our other services already use Cosmos as a data source. We also get some other benefits of

[2020-05-21 14:35] CarlosLanderas commented on #537
@NateB2 I was testing the current codebase and I am seeing the CosmosDB provider is not compatible.

'The LINQ expression 'DbSet<HealthCheckConfiguration>.Any()' could not be translated.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Core/HostedService/UIInitializationHostedService.cs#L66

We need to investigate this a little bit more and check that

[2020-05-21 15:09] CarlosLanderas commented on #534
The error you are receiving is because the package is in preview version.

Use:

`Install-Package AspNetCore.HealthChecks.SendGrid -Version 3.1.1-preview1 `

and it will work.

@unaizorrilla this package is in preview on purpose right?

[2020-05-21 15:09] #534 closed

[2020-05-21 20:01] #536 closed

[2020-05-21 20:16] CarlosLanderas commented on #529
Hello @trhumphries
You can actually achieve that by using different endpoints, predicates and responsewriters:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L57

You can have and endpoint with a predicate that targets the non-display healthchecks so they can be queried and other endpoint with the UI ResponseWriter ex

[2020-05-21 20:37] trhumphries commented on #529
Thanks. I'll try that

[2020-05-21 20:37] #529 closed

[2020-05-21 23:28] alfreql commented on #29
Hi, Is there a way to not use database at all, or disable it? I don't interesting in historical data.

[2020-05-22 05:08] CarlosLanderas commented on #29
Sure, you have the InMemoryProvider :)

[2020-05-22 09:33] OskarKlintrot commented on #536
That looks beautiful! Thank you!

[2020-05-22 10:26] CarlosLanderas commented on #536
@OskarKlintrot, I am finishing some new features in the UI and this will be included in the next release. Thanks!

[2020-05-23 13:46] prawin2k opened #540 "ASP.NET Core 3.1 - Health Check UI is not working."
**What happened**:
i have developed an ASP.NET Core 3.1 MVC Application with customized Health Check. It's perfectly working fine as shown below.

![image](https://user-images.githubusercontent.com/10738750/82732217-69902480-9cfb-11ea-9e07-c403886b95da.png)

However, the UI is always empty as the /health-api always returns empty array.
![image](https://user-images.githubusercontent.com/10738750/82

[2020-05-23 19:22] ignatandrei commented on #410
@rynowak  @CarlosLanderas

What if we use this:

Host = Host.Replace("0.0.0.0", "localhost");
 Host = Host.Replace("[::]", "localhost");

?

[2020-05-25 15:15] SonyLuz commented on #235
Hello, I am facing this problem, using version 7.4.1 of the Nest project. I tried to downgrade the other project to 7.0.0 without success.

Is there a work around?

[2020-05-26 23:57] NateB2 commented on #537
Yeah, that's disappointing.  Seems like they've fixed some of those issues for the upcoming 5.0 release, so perhaps trying again in a couple months might be the way to go...

[2020-05-27 06:58] ignatandrei opened #541 "WindowsServiceHealthCheck - another pc"
**What would you like to be added**:
WindowsServiceHealthCheck can see services on another PC also.
Please add  PC  Name to the constructor in the file
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.System/WindowsServiceHealthCheck.cs

See reference at
https://docs.microsoft.com/en-us/dotnet/api/system.serviceprocess.servicecontroller.-ctor?view=dotnet-

[2020-05-27 09:01] #500 closed

[2020-05-27 09:01] itcotta commented on #500
Closed it, seems to be fixed now :)

[2020-05-27 13:15] SeraDilsad opened #542 "UI Groping Issue"
Hi,

Im using UI nuget package, but i have little problem.
I saw the samples in the UI, you grouped those links but it seems links are same. Could you please explain how to group them by json format?

Thank you

[2020-05-28 15:44] DorukUlucay opened #543 "UI does not display health checks while api does"
I want to use both ui and api and I need them displaying same checks. For example I have an sql check. My api returns valid output while ui displays nothing.

`
public void ConfigureServices(IServiceCollection services)
        {
//other unrelated code
  services
                .AddHealthChecksUI()
                .AddHealthChecks()
                .AddSqlServer(
                    connectionStr

[2020-05-28 18:17] changhuixu commented on #480
Hi @christopheblin , I agree with what you that the current library is not friendly. I came across the same issue that rabbitmq is not available when application starts, which is common in containerized applications because rabbitmq takes a few minutes to spin up.

The current library requires an instance of `IConnection` injected into the health check. However, when the rabbitmq server is not ava

[2020-05-28 18:18] jreidryuzaki commented on #540
This happened to me today after adding in the 'launchUrl' to the profiles\iisexpress section in launchSettings.json.  I set it to `"launchUrl": "healthchecks-ui"`

[2020-05-29 03:45] luccasmf commented on #326
I'm having the same issue.

My endpoint with the health returns the json, but when I  try to load the UI, they are not shown, I'm using .Net Core 3.1

![image](https://user-images.githubusercontent.com/5990448/83219025-a61daf00-a145-11ea-804f-38527d51e62e.png)

[2020-05-29 08:44] unaizorrilla commented on #480
Hi @changhuixu

 - Let me check to add ConnectionFactory again and the limitations!!
 - Unhealthy(e.Message) is not honorign the FailureStatus registered by the user

[2020-05-29 09:00] unaizorrilla commented on #480
Hi @changhuixu

Can you add review on this?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/544

[2020-05-29 13:42] kisalay19 opened #545 "Setting up prometheus endpoint into prometheus portal/Grafana"
This is in general not an issue but more of a help needed in understanding the how to push results to prometheus.

Below is my setup in Startup.cs

[code]
On browsing this endpoint I can see the page in Prometheus text format. Now how do I visualize or link this data in the actual prometheus environment or Grafana.

1. I have a local environment of Prometheus running through docker in my system ht

[2020-05-29 13:55] AndrzejKroczynski opened #546 "AzureServiceBusQueueHealthCheck - extend to support additional checks"
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/fd059f201dff1db8dc3b8bf5c27f927167a675ae/src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs#L49

In queue info retrieved in line 49 we have quite a lot of useful info - like number of messages and number of messages in dead letter queue. Imho it would be great to extend this check to get that into account, for exa

[2020-06-01 12:59] vicentt opened #548 "HealthChecks Timing Execution"
I am using the library in 2.2 version in a NO Kubernetes docker environment. 
I have  HealthChecks of many types such like Self, Sql, KeyVault Identiy Server etc. The problem is that I can't find how to configure these HealthChecks to be executed every so often.

I configured the app like this:

`  services.AddHealthChecksUI(setupSettings: setup => setup.SetEvaluationTimeInSeconds(300));  `

and i

[2020-06-01 20:09] vicentt commented on #548
After a new deployment, The service is now using the value established in:

`"EvaluationTimeinSeconds": 300,  `

But in the Application Insight configured for the HealthChecks Service, the custom events still occurs every 30 seconds. I dont understand why.

Sorry for the inconvenience.

Thanks.

[2020-06-01 20:09] #548 closed

[2020-06-01 21:35] CarlosLanderas commented on #548
@vicentt , are you configuring it like here?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/520

It's weird, because Application Insights publisher is an implementation of a Microsoft Interface that is only triggered after a report collection.

Could you share your project configuration to take a look into it?

Thanks!

[2020-06-02 07:31] ChrisProlls commented on #524
So, if I understand correctly, I need the full SignalR hub URL into my Startup ?
For example : `https://mydomain.com/hub` ?

Into the startup it's not possible to retrive the domain name, so I would have to store it into the configuration files.

[2020-06-02 09:33] vicentt commented on #548
Thanks Carlos for your Answer. I dont want to waste your time.

The only thing I don't understand is why the library writes a custom message in the Insight  that I've put in for it, every 30 seconds.
It doesn't really matter that much. It's just that it makes me angry not knowing why.
It is almost certainly a mistake of mine, so don't pay much attention to me ..

The library is a great job. My con

[2020-06-02 12:54] inkel commented on #299
Any updates on this one?

[2020-06-02 16:31] manne commented on #534
@CarlosLanderas I am the author of the `SendGrid` health check. This package is on purpose in preview. I want to use the health check in production for several weeks before "releasing" it, in order to actually test it in production. However there have been some delays using it. I will keep you informed about the progress.
If somebody says that this package is ready to release, the package can be r

[2020-06-03 11:17] unaizorrilla commented on #480
Merged #544 When a release build finished a new package 3.1.2 for rabbitmq will be available!

[2020-06-03 11:17] #480 closed

[2020-06-03 12:59] changhuixu commented on #480
Thank you

[2020-06-05 07:15] CarlosLanderas commented on #543
@DorukUlucay where are you specifying the target endpoints the UI should query? I can't see them configured by code. Are you setting them in appsettings HealthChecksUI section?

[2020-06-05 07:30] CarlosLanderas commented on #542
@SeraDilsad could you explain your question a little bit further?. The UI grouping is displayed by endpoints, so that means each section of the table represents a local or remote endpoint and it's internal configured healthchecks.

[2020-06-05 08:07] #537 closed

[2020-06-05 08:08] CarlosLanderas commented on #537
Sure, we will take a look again when a new version is released :).

[2020-06-05 08:09] CarlosLanderas commented on #540
@prawin2k can you paste your whole HealthChecks configuration?
It looks like you are not specifying the endpoints to check to the UI services.

[2020-06-05 08:44] CarlosLanderas commented on #541
System package 3.1.2 is being published with this enhancement. Thanks @ignatandrei

[2020-06-05 08:44] #541 closed

[2020-06-05 15:52] evilpilaf opened #552 "The health checks shouldn't create new connections to resources but utilise the existing ones"
**What would you like to be added**:

The health checks for dependencies which you're supposed to share an open connection though the application lifetime (e.g. Oracle, SQL, CosmosDB, Redis, etc.) should not create a new connection but take in an instance of the existing connections for the app.

**Why is this needed**:

Currently health checks like the ones for Redis, CosmosDB, Azure Storage and

[2020-06-05 18:21] NicolasREY69330 commented on #540
@CarlosLanderas
I have the exact same problem, but I think the problem is due to `AddHealthChecksUI()` but I can't figure out on how to use it.

I've just used the new packages for 3.1.1 version :

`    <PackageReference Include="AspNetCore.HealthChecks.UI" Version="3.1.1" />
    <PackageReference Include="AspNetCore.HealthChecks.UI.Client" Version="3.1.1" />
    <PackageReference Include="AspNetC

[2020-06-05 20:37] CarlosLanderas commented on #540
Yes, if you wan't the UI to check the local endpoint you should at least provide a relative endpoint to the UI settings:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L38

[2020-06-05 20:37] #540 closed

[2020-06-06 09:04] NicolasREY69330 commented on #540
Sure it makes sense, my config should be correct now but I guess I have another hostname problem with Docker, I open a new ticket then

[2020-06-06 09:25] NicolasREY69330 opened #553 "Hostname is not reachable (Docker)"
**What happened**:
Hi,
I followed the current configuration sample https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L38 provided in the current issue #540

But at the end I get the following error when using the UI
`IPv4 address 0.0.0.0 and IPv6 address ::0 are unspecified addresses that cannot be used as a target addres

[2020-06-06 10:08] CarlosLanderas commented on #553
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/442#issuecomment-640028233

[2020-06-06 18:15] NicolasREY69330 commented on #410
@CarlosLanderas 👍
Could you provide any sample from a docker / docker compose perspective to ensure we do it the right way please ?

[2020-06-08 16:09] scabana commented on #475
We have the same issue. If the monitored service goes offline, it should most likely show the entries should be set to error or something like that. If the whole service goes offline, then it's entries should be considered offline, not just "gone".

[2020-06-09 14:33] momosoiu opened #555 "Azure Service Bus Topic hc fails with "Manage,EntityRead claims required for this operation""
The Azure Service bus health checks started to fail after upgrade from version 3.1.1 to version 3.2.1 of AspNetCore.HealthChecks.AzureServiceBus

If I change the policy on the topic from Send, Listen to Manage the exception/unhealthy check is gone and it works as expected.

**What you expected to happen**:

I would expect it to work the same as version 3.1.1, without the need to change the policy.

[2020-06-09 15:26] unaizorrilla commented on #555
Hi @momosoiu

On 3.2.X we change how this perform SB health check. Now we use the management client to get information about the topic / queue / .. and this permission is mandatory.

[2020-06-09 15:45] momosoiu commented on #555
Hi @unaizorrilla,

thank you for the quick response. I have reverted to 3.1.1 for now.

My concern is that this permission is to much for a health check.

Is this something that will remain like this for never versions?

[2020-06-09 17:17] unaizorrilla commented on #555
Hi @momosoiu

Well,  previously we use scheduler messages but this introduce some other issues! If you know any other way to check the health status of topic/queue we are happy to check!

[2020-06-09 20:20] protradeshare-admin opened #556 "AspNetCore.HealthChecks.UI.PostgreSQL.Storage in different schema then public"
Is it possible to use AspNetCore.HealthChecks.UI.PostgreSQL.Storage in different schema then public?

[2020-06-09 20:24] protradeshare-admin commented on #455
For Postgres DB, is it possible to configure any other schema then public?

[2020-06-09 22:18] cdagdeviren opened #557 "Some services are not able to be constructed"
Hi,

I get the error after upgrading the package

InvalidOperationException: Error while validating the service descriptor 'ServiceType: HealthChecks.UI.Core.Notifications.IHealthCheckFailureNotifier Lifetime: Scoped ImplementationType: HealthChecks.UI.Core.Notifications.WebHookFailureNotifier': Unable to resolve service for type 'HealthChecks.UI.Core.Data.HealthChecksDb' while attempting to activ

[2020-06-09 22:20] CarlosLanderas commented on #557
Could you paste your csproj with configured UI versions? Thanks

[2020-06-10 07:24] cdagdeviren commented on #557
I using packages,

    <PackageReference Include="AspNetCore.HealthChecks.System" Version="3.1.2" />
    <PackageReference Include="AspNetCore.HealthChecks.UI.Client" Version="3.1.1" />
    <PackageReference Include="AspNetCore.HealthChecks.Aws.S3" Version="3.1.1" />
    <PackageReference Include="AspNetCore.HealthChecks.AzureServiceBus" Version="3.2.1" />
    <PackageReference Include="AspNetCore

[2020-06-10 07:25] CarlosLanderas commented on #557
@cdagdeviren if you read the DOCS, since version 3.1.1 the HealthChecks UI works with an storage provider. You can see samples here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L43

There error that you are receiving is because no storage provider has been configured.

[2020-06-10 08:07] cdagdeviren commented on #557
@CarlosLanderas thanks for help,

[2020-06-10 08:07] #557 closed

[2020-06-10 08:13] CarlosLanderas commented on #557
@cdagdeviren you are welcome :)

[2020-06-10 12:59] tiesmaster opened #558 "Add support in the CosmosDB health check to check database / collection is present"
**What would you like to be added**:
It would be very handy if the `CosmosDbHealthCheck` could also check if a given database is present, or collection. I saw that the `RavenDBHealthCheck` has support for checking for databases, so maybe this can also be useful for the `CosmosDbHealthCheck`.

**Why is this needed**:
You _might_ consider the existence of the database / collection to be part of bein

[2020-06-11 22:06] rajeshkandati commented on #391
Can you direct me on how to setup HealthCheckDatabaseConnectionString? I am using Azure SQL and HealthCheckExecutionHistories table is empty even though I tried to fail health checks several times. Also, the Timeline is empty.

[2020-06-11 23:28] CarlosLanderas commented on #391
This is being investigated here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/559

[2020-06-12 17:33] ignaciosalazarcalle opened #560 "AddWebhookNotification to call Method in Controller"
I have this configured in my StartUp.cs:
[code]

[code]
And in the Controller:
[code]
The watchdog application is configured in the appSettings.json to listen to different APIs.
So far everything works fine, but, if I force an error, I'd like to receive a notification email.
The idea is that, when an error occurs in any of the Healths, you send an email.

Environment:
- .NET Core version: 3.1
- He

[2020-06-15 20:05] tiesmaster commented on #558
Awesome! I'd like to contribute, but I don't know when (I'm quite busy atm). When I get around to it, then I'll announce something here.

[2020-06-15 22:45] NateB2 commented on #535
Currently we work around this by dynamically fetching the endpoints from an external data store during startup, adding them in the startup code, and rebooting the web app if the endpoints we want to monitor changes.  Hardly ideal - having a way to dynamically add health check endpoints in some fashion would be much better. In our circumstance, we are using Azure App Services and have no plans to m

[2020-06-17 03:54] ignatandrei opened #562 "Custom header for UI"
**What would you like to be added**:
In the page https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/6058b0cd3908a84f7d8c7faa72495d0edca80215/src/HealthChecks.UI/client/components/LivenessPage.tsx

there is a   <h1>Health Checks status</h1>

This should be replaced by a custom text that comes from a call to the http backend .(and , if the http is not 200, replaced with default text

[2020-06-17 12:28] CarlosLanderas commented on #535
@NateB2, HealthChecksDb DbContext is now public. You can retrieve it using Dependency Injection and use the underlying storage provider to add, remove or edit your remote endpoints.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI.Core/Data/HealthChecksDb.cs

[2020-06-17 12:45] kisalay19 commented on #535
@CarlosLanderas .. Great ... Let me implement it in my solution then and check :)

[2020-06-17 13:08] #535 closed

[2020-06-17 15:01] sergeyshaykhullin opened #563 "[Critical bug] RabbitMQ healthchecks spawns new rmq connection each time"
**What happened**:
When i used
[code]
extensions methods, each time healthcheck is running new connection is spawned

**What you expected to happen**:
HealthCheck Factory calls each check, but connection created once

**How to reproduce it (as minimally and precisely as possible)**:
[code]

This is happening because `DefaultHealthCheckService` is calling `HealthCheckRegistration.Factory` each heal

[2020-06-17 15:29] sergeyshaykhullin opened #564 "[Redis] Add more extensions"
**What would you like to be added**:
[code]

**Why is this needed**:
I passed some examples, i can't construct connection string using some DI dependencies.
With `StackExchange.Redis.Extensions` i can, but no `IConnectionMultiplexer` overload =/

[2020-06-17 17:09] sergeyshaykhullin commented on #563
Also using empty `.AddRabbitMQ()` with IConnectionFactory registration spawning infinite connections

[2020-06-17 19:00] edumserrano commented on #410
I would also appreciate some sample to understand how to run in docker/docker compose. If you also could explain how to get it working in K8s it would be appreciated.

[2020-06-18 07:27] unaizorrilla commented on #563
Hi @sergeyshaykhullin

Can you see the examples [here](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/a573cd2cf9bc09d8d0f790d9b54ff5ed94dca783/src/HealthChecks.RabbitMQ/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs#L139) ?

You can use the overload https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/a573cd2cf9bc09d8d0f790d9b54ff5ed94dca783/src/Hea

[2020-06-18 11:29] #563 closed

[2020-06-18 19:49] atwoodr commented on #524
Hi @unaizorrilla, I'm essentially in the same exact situation as @ChrisProlls with the same lib versions, etc.  When I try my equivalent of `https://mydomain.com/hub`, I no longer get the "Object reference not set to an instance of an object" issue, but it still reports that the endpoint is unhealthy.
 I double-checked that our signalR is working just fine in our app.

I tried all these combinatio

[2020-06-19 08:35] kisalay19 opened #565 "Dynamic addition on endpoints does not reflect in UI"
This is more of a help needed for my implementation. As per a port the "HealthChecksDb" dbcontext has been made public and is now accessible to make changes at runtime. Below is my code setup. I am able to refresh the `Configrations` DbSet but the same does not reflect in the UI

[code]
In local debug I see that the data in the context with respect to `Configurations` is getting updated but the sa

[2020-06-19 13:37] epaulsen opened #566 "Ability to customize HTTP status codes for Prometheus.Metrics"
**What would you like to be added**:
Similar to the healthchecks, I would like to have the ability to map health check results to http status codes for the prometheus metrics publisher.

**Why is this needed**:
We are currently using the Prometheus health check exporters, and have configured prometheus to scrape /healthmetrics endpoint for all instances at a given interval.  This works well as lon

[2020-06-20 05:34] atwoodr opened #567 "SignalR Health Checks do not work with Azure SignalR"
**What happened**:
We tried implementing SignalR health checks for our Azure SignalR resource(s), but no matter inputs we tried with the Xabaril `.AddSignalRHub(...)` method, we always got a 403 Forbidden response, an exception, and an unhealthy health check result.

**What you expected to happen**:
We expect the library to provide some way to verify a healthy Azure SignalR endpoint/hub/resource t

[2020-06-23 10:37] unaizorrilla commented on #524
@ChrisProlls

Yeap, you need to set the uri in configuration vars! Is not easy to get the domain name at startup time

[2020-06-23 10:37] #524 closed

[2020-06-23 10:38] unaizorrilla commented on #567
Hi @atwoodr

Azure SignalR is not tested , let me some days to check this issue and I come back with more info! I try to solve the issue you mentioned with Azure SignalR and api key, bearer tokens, probably we need a new extension method for Azure SignalR

[2020-06-26 05:56] ioxFR opened #569 "QUESTION - How to change settings without restarting API"
Hello,

I got question about healthcheck ui settings.
I developed a front with settings screen which an administrator can change the interval of healthcheck and number of history endpoints.
These values are stored in a database and used when api starting from startup.cs but now i would like to know if it's possible when user changed value to update it to HealthCheck UI instance without restarting

[2020-06-27 01:33] edumserrano opened #571 "Health checks in AspNetCore.HealthChecks.Network do not respect timeout"
**What happened**:

Health checks from AspNetCore.HealthChecks.Network do not respect timeout set when registering health check.

**What you expected to happen**:

Health check should abort when timeout is reached.

**How to reproduce it (as minimally and precisely as possible)**:

1) From Visual Studio templates, create a new ASP.NET Core web application project with Empty template.

2) Add AspNe

[2020-06-27 07:45] CarlosLanderas commented on #571
The timeout parameter appeared in a later Microsoft versions Healthcheck and maybe .needs to be implemented. Let me review this.
Thanks!

[2020-06-29 11:50] CarlosLanderas commented on #571
When HealthChecks engine run IHealthCheck.CheckHealthAsync they create a linked cancellation token from the configured timeout. Is a matter that this Cancellation Tokens are not being used with network classes.

https://github.com/dotnet/aspnetcore/blob/8c1bf1f1a31f852880c16575bca62507b75112bf/src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs#L101

Let me fix this.

[2020-06-29 17:03] CarlosLanderas commented on #571
I am actually working on this but the WithCancellationTokenAsync can't be implemented like that. It should return de tcs.Task, otherwise if the tcs completes before, the final line (await task) will end up waiting the original networking task without timeout (tcp.ConnectAsync) for example

[2020-06-30 03:35] jasonycw opened #572 "Event Store 20.6.0 gRPC connection support"
**What would you like to be added**: Support for gRPC connection string

Instead of `ConnectTo=tcp://localhost:1113`, now connection string will be `https://localhost:2113`

**Why is this needed**:
1. TCP is disabled on v20.6.0 by default, and deprecation of Atom and TCP
2. Introduction of a liveness health check at `{server_address}/health/live`.

Ref:
1. https://eventstore.com/blog/event-store-2

[2020-06-30 07:35] Noer024 opened #573 ">Basic Health Check Support In UI"
**What would you like to be added**:
Health Check UI: A method to indicate a health check given in appsettings.json will only give a basic response.

The given URI will respond with a simple 200 status **without** a full Health Check UI model. The Health Check UI instance considers this a healthy response still.

**Why is this needed**:
I cannot find a method of adding a URI that responds with a s

[2020-06-30 10:07] unaizorrilla commented on #573
Hi @Noer024

**HealthCheck UI** show and works **only** with Health Checks configured using our response model, https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI.Client/UIResponseWriter.cs

[2020-06-30 10:07] #573 closed

[2020-06-30 10:09] unaizorrilla commented on #572
Are you able to summit a PR on this?

[2020-06-30 15:43] udlose commented on #455
@CarlosLanderas can you please respond to my comment from April 20th?
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455#issuecomment-616821087

[2020-07-01 11:49] edumserrano commented on #571
If it helps I followed article from Stephen Toub this https://devblogs.microsoft.com/pfxteam/how-do-i-cancel-non-cancelable-async-operations/

In the article he returns the result of awaiting the task returned by the Task.WhenAny operation. In my case since I didn't want to return anything I removed the return statement.

I guess you found an issue where this doesn't behave like expected. It was m

[2020-07-01 12:02] edumserrano commented on #571
Also this might help: https://github.com/dotnet/runtime/issues/14991
In that issue Stephen comments with an implementation which sounds to be like what you described even though in his article he did it differently https://github.com/dotnet/runtime/issues/14991#issuecomment-131221355.

That issue also shows alternative solutions which might be of interest.

[2020-07-02 07:48] kisalay19 commented on #565
Did anyone get a change to look into my query :)

[2020-07-02 07:51] CarlosLanderas commented on #565
@kilasay19, take a look to our docker image that adds and removes endpoints on the fly when receives requests from the operator. Be sure you are using an updated UI version package

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/build/docker-images/HealthChecks.UI.Image/PushService/HealthChecksPushService.cs

[2020-07-03 08:00] unaizorrilla commented on #572
Hi @jasonycw

Are you able to send a PR on this enhacement?

[2020-07-03 08:16] jasonycw commented on #572
Hi @unaizorrilla
Not at the moment, since we are also trying to better implement the new Event Store library ourselves.

They changed to use SSL and dropped the old [`EventStore.ClientAPI`](https://github.com/EventStore/ClientAPI.NetCore) package support, replaced with [`EventStore.Client`](https://github.com/EventStore/EventStore-Client-Dotnet)

[2020-07-03 08:32] unaizorrilla commented on #572
Hi @jasonycw

Ok, I try to do that, but I'm not experienced with EventStore :-) . In your opinion, what is better to do:

 - update the current package with new 20.X version and introduce breaking changes
 - Create a new package (EventStore.Grpc) with grpc support and mantain two packages

Thanks in advance

[2020-07-03 08:55] jasonycw commented on #572
IMO, I think it would be easier to maintain a new package since EventStore did the same.

But it would be better if we can ask more people who are also using EventStore as one opinion may not reflect on everyone usage. :)

[2020-07-05 04:43] tnlthanzeel opened #574 "health check UI"
i installed healthcheck ui today and did the configruations. but when i run i get this error

An error occurred while starting the application.
AggregateException: Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: HealthChecks.UI.Core.Notifications.IHealthCheckFailureNotifier Lifetime: Scoped ImplementationType: HealthChecks.UI.Core.Notificat

[2020-07-05 05:33] tnlthanzeel commented on #574
okay i had to follow this setps

https://blog.zhaytam.com/2020/04/30/health-checks-aspnetcore/

[2020-07-05 05:33] #574 closed

[2020-07-07 13:25] skwasiborski opened #575 "Allow for single HelathChecks k8s resource to provide healthchecks from multiple namespaces"
**What would you like to be added**:
Add configuration to HealthChecks resource used with HealthChcecks operator that would allow to serve healthchecks from multiple namespaces.

**Why is this needed**:
I would like to have single UI showing health information for all services in the cluster.

[2020-07-07 13:38] CarlosLanderas commented on #575
Hello @skwasiborski
As you say, k8s resource is not cluster wide but namespace wide. I was thinking in implementing this feature some weeks again asking myself if someone could need it and here you are :)

[2020-07-09 09:04] OmerNassie opened #576 "Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
Please, fill the following sections to help us fix the issue

**What happened**:
Health checks UI has unhealthy status although the /health endpoint returns healthy. It is changed yesterday to unhealthy and no matter what I can't return it to healthy. The state is only on the server.

Moreover, there's an Endpoint row added that I didn't mention with the error:
Unexpected character encountered whi

[2020-07-09 11:24] AndrzejKroczynski opened #577 "Health check UI is not updating status when name of check is too long."
**What happened**:
Health check UI is not updating status when name of check is too long.

**What you expected to happen**:
Health check UI updates status as usual

**How to reproduce it (as minimally and precisely as possible)**:
- Create check with **name** longer that 50 chars
- Trigger status change for this check

**Source code sample**:
![image](https://user-images.githubusercontent.com/2839

[2020-07-09 12:15] virtualcca opened #578 "Memory and connection leaks when using custom add rabbitmq health check"
**What happened**:
when i use custome add rabbitmq healthcheck, like this:
[code]
then constantly call the health check interface
will constantly create rabbitmq connection instances

The following memory comparison is that after 5 calls, you can see that there are 5 new instances of rabbitmq
![image](https://user-images.githubusercontent.com/5656078/87038372-34468400-c220-11ea-86fb-3b2dcfb382c3.p

[2020-07-09 12:26] unaizorrilla commented on #578
Hi @virtualcca

An extension method is available to properly use the registration and avoid create multiple connections:

Also, you can register the IConnectionFactory directly (instead of IConnection)

[code]

[2020-07-09 12:30] virtualcca commented on #578
I can know if I use it directly like
[code]
is ok

But I hope that the problems added by the custom can also be solved, or maybe this overload can be specially marked under the possible problems

After all, an overload is exposed, then it is either functioning normally, if there are other prerequisites, it should also be paid attention to in some form, otherwise it is too easy to misuse

[2020-07-09 13:01] Kiechlus opened #579 "AzureKeyVault: naming of `keyIdentifier` is misleading"
The parameter is called `keyIdentifier`, but what is actually meant is `keyName`. https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.AzureKeyVault/AzureKeyVaultOptions.cs#L100

Because the `GetKeyAsync` function is called like this:
`GetKeyAsync(this IKeyVaultClient operations, string vaultBaseUrl, string keyName, CancellationToken cancellationToken = defau

[2020-07-09 13:05] CarlosLanderas commented on #579
Hello @Kiechlus . A PR is welcome :)

[2020-07-09 13:06] unaizorrilla commented on #578
We have comments on the RabbitMQ readme

 https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/src/HealthChecks.RabbitMQ

but we can add this into Remarks comments on code!

Thanks!

Can I close the issue?

[2020-07-09 13:23] virtualcca commented on #578
Ok thanks for your answer

[2020-07-09 13:49] Kiechlus commented on #579
![image](https://user-images.githubusercontent.com/9875731/87048278-d30cb980-c1fb-11ea-93f2-f885d640aa2f.png)

[2020-07-09 14:02] Kiechlus commented on #579
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/580/files

[2020-07-10 16:57] tommytayman opened #581 "Setting the WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG in Azure deployment slot causes HealthChecks UI Failure"
**What happened**:
We've configured the HealthChecks UI per several of the samples around MS Docs and other sources.  We noticed that the UI checks worked everywhere **EXCEPT** on production slot.  There are no (in code) configuration changes outside of connection strings that are different between our staging slot and production slot.  For our production slot, we continually see this message

![i

[2020-07-10 18:22] Odonno commented on #567
Sorry for the delay. I can confirm that Azure SignalR works. It works the same as SignalR. So, I suppose it is a configuration error.

[2020-07-10 21:17] #581 closed

[2020-07-13 03:25] #578 closed

[2020-07-13 13:40] atwoodr commented on #567
@Odonno, what method does your Azure SignalR Health Check use to authenticate then?  I've tried myriad ways of connecting to no avail.  Or is your Azure SignalR somehow unsecured?

[2020-07-13 19:13] Odonno commented on #567
Well, it was a real nightmare for us because we use Azure AD authentication. We had to create an access token by reusing the Azure AD authority (the app is calling itself, with something like impersonation but without any real user authenticated). The only missing part is that you to define this impersonation permission in the Azure AD configuration.

After that, it worked like a charm.

I assume

[2020-07-14 14:39] MithunChopda opened #582 "app.UseHealthChecksUI() crashes the Host on Asp.Net Core 3.1"
Please, fill the following sections to help us fix the issue

I have an empty ASP.NET Core 3.1 Web Application project with AspNetCore.HealthChecks.UI installed. While the app.UseHealthChecks() works fine, the app.UseHealthChecksUI() middleware crashes the Host on startup with the following error

+		[0]	{"Error while validating the service descriptor 'ServiceType: HealthChecks.UI.Core.Notificatio

[2020-07-14 17:27] CarlosLanderas commented on #582
You need to configure the storage provider. Please read the docs here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks#ui-storage-providers

[2020-07-14 17:27] #582 closed

[2020-07-14 19:55] fabioadr opened #583 "Redis UI Storage Provider"
**What would you like to be added**:
Redis UI Storage Provider
**Why is this needed**:
There are cases where we can't use SQL databases (Sql Server, Postgre SQL, MySql) due to DBA's rules, and SQLite is not an option too, because we have no write rights in the K8S pod.

InMemory is a option, yes, but we can't rely on that in some production scenarios.

[2020-07-15 11:16] mvonck commented on #552
I'm have the same issue when i make use of IConnectionFactory as dependency injection. I have register my services + healtcheck like this:
[code]

When i debug at the extension `RabbitMQHealthCheckBuilderExtensions`  and put a break point at `var connection = sp.GetService<IConnection>();` i see that a new instance of HealthCheckRegistration is created every time i call the health check page. That

[2020-07-15 12:06] unaizorrilla commented on #552
Hi @ mvonck

I don't understant the issue, in your case IConnection is null and IConnectionFactory is singleton, this create a new RabbitMQHealthCheck using the IConnectionFactoy (internally this create a new connection)

If you use this pattern

[code]

Connection is always the same and is reused!

You can register also the IConnectionFactory to use on AddSingleton<IConnection> instead of craete

[2020-07-15 12:06] #552 closed

[2020-07-15 12:25] mvonck commented on #552
Hi @unaizorrilla unaizorrilla
I can explain it with a functional test, if you add this test to functional test `RabbitMHealthCheckTests`. (+ install moq as package, because i could't find your moq framework)

[code]

A possible fix is to register RabbitMQHealthCheck as singleton so the logic in that class of reusing the connection works. So
replace the function in RabbitMQHealthCheckBuilderExtensi

[2020-07-15 12:28] unaizorrilla commented on #552
Hi

As I explained on my latest comment, if you inject IConnection (not only IConnectionFactory ), connection is reused

[code]

[2020-07-15 12:41] mvonck commented on #552
This extension also supports working IConnectionFactory, so if this is not supported the `else if (connectionFactory != null)` in RabbitMQHealthCheckBuilderExtensions should be removed:

[code]

however i prefer to use IConnectionFactory instead of injection IConnection because if i reboot my application and rabbitMQ is not ready yet, my application will not crash. See this test:

[code]

[2020-07-15 12:59] unaizorrilla commented on #552
Well, true!!

But is a breaking change! Let me work on this and mark as obsolete some methods on this extensions!!

[2020-07-15 13:52] mvonck commented on #552
Ok thx for your fast reply. I will keep using IConnectionFactory until it's removed and share my workaround here.

**Current problem**
Using this library via IConnectionFactory leads to new connections everytime the healthcheck url is called.

**Why register via IConnectionFactory?**
Because registering via IConnection leads to startup exception when rabbitMQ is not ready yet. Registering via ICon

[2020-07-15 15:24] mvonck commented on #552
Is it ok if i make a Pull Request this week so we can use IConnectionFactory again @unaizorrilla? I will make sure it will only use one connection for the health check to prevent memory leaks. Because i see that more people have made a issue
#578 #563 #480

[2020-07-16 01:50] maldworth opened #584 "Object Reference Not Set"
I'm getting that exception in the AbsoluteUriFromRelative method.

I think it has to do with this commit?
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/commit/4716252cdd0de199c7ac6d21103afec8eb05445e

I only get the error when I run local integration tests using the WebApplicationFactory for Testing
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcor

[2020-07-16 07:14] CarlosLanderas commented on #584
Do you have the stack trace? As when using test server, probably Iserver or some other http context feature might not be registered or compatible with WebApplicationFactory

If you can provide the stack trace or some additional info I can take a look

Thanks

[2020-07-16 11:08] unaizorrilla commented on #552
Hi @mvonck

Yeap I accept the PR  if you have time or I can try to do it

[2020-07-16 11:09] unaizorrilla commented on #579
Merged!

[2020-07-16 11:09] #579 closed

[2020-07-16 11:10] unaizorrilla commented on #576
This error is typical when configuration is wrong ( invalid uris for heath and ui )! Can you check if our samples are working well?

[2020-07-16 11:12] unaizorrilla commented on #577
Thanks for catch up this issue!!

@CarlosLanderas  do you have time to fix this?

[2020-07-16 11:15] CarlosLanderas commented on #577
Yes. I'll fix it

[2020-07-16 14:40] felipesfaria opened #586 "SendGrid Health Check Method not found Exception"
**What happened**:
Using `AspNetCore.HealthChecks.SendGrid 3.1.1-preview1` and `SendGrid 9.18` health check fails with the following error:

[code]

**What you expected to happen**:
Health check to connect to sendgrid.

**How to reproduce it (as minimally and precisely as possible)**:
Run sample code and open /health.
Apikey doesn't matter in this sample since error happens before sending message

[2020-07-16 15:44] maldworth commented on #584
It's happening here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/83eb960e53178520ba727cb09c2f1156ad124745/src/HealthChecks.UI/Core/ServerAddressesService.cs#L24

It's because there is no [IServerAddressesFeature with the test host](https://github.com/aspnet/Hosting/issues/967).

[2020-07-16 15:52] mvonck commented on #552
ok PR is ready

[2020-07-16 16:01] CarlosLanderas commented on #584
Take a look here for testing:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/test/FunctionalTests/HealthChecks.UI/ServerAddressesServiceTests.cs#L46

[2020-07-16 16:54] maldworth commented on #584
ok thanks!

[2020-07-16 16:54] #584 closed

[2020-07-17 13:34] manne commented on #586
I can reproduce this issue with SendGrid version `9.18.0`.

Note: The [repo](https://github.com/felipesfaria/HealthChecks.SendGrid.Sample) uses version `9.14.1` (with this version it is working)

https://github.com/felipesfaria/HealthChecks.SendGrid.Sample/blob/0207d5e190f8def7e2348e6c4bb7fa18dc3c7944/HealthChecks.SendGrid.Sample/HealthChecks.SendGrid.Sample.csproj#L9

[2020-07-18 16:27] albertocorrales opened #591 "Add Gremlin health check"
**What would you like to be added**:
Add health check for [Gremlin Apache TinkerPop](https://tinkerpop.apache.org/) Graph databases.

**Why is this needed**:
This healthcheck can be used by services like [AWS Neptune](https://aws.amazon.com/neptune/) or [Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support).

[2020-07-20 08:07] NicolasReyDotNet commented on #410
@edumserrano @CarlosLanderas
Hi, any update on this ?

[2020-07-21 20:25] acgritt commented on #93
@unaizorrilla I know it has been a long while, but has anything been done to support this?

[2020-07-22 02:28] GustavoFonsecaDeAlmeida commented on #583
@fabioadr  The entire core was built using the entity framework core. I don't think there is an easy way to make this addition.

[2020-07-22 02:33] GustavoFonsecaDeAlmeida commented on #576
I had this problem in some load tests. However the reason was my proxy while the servers were overloaded and were responding too many requests.

I think it's not a health check lib problem.

[2020-07-22 06:12] OmerNassie commented on #576
Hi guys, unfortunately it is not invalid URIs issue since in other applications the implementation works perfect.
The thing is the configured endpoint (/health) returns healthy health check while /healthchecks-api returns this error message.

I tried renaming the health endpoint, delete website cache, nothing fixes the problem.
When added more healthchecks they wasn't reflected and the error still

[2020-07-22 16:05] unaizorrilla commented on #552
Closed with #587

[2020-07-22 16:06] unaizorrilla commented on #578
Closed with #587

[2020-07-22 16:06] unaizorrilla commented on #563
Closed with #587

[2020-07-22 16:06] unaizorrilla commented on #480
Closed with #587

[2020-07-22 16:10] unaizorrilla commented on #586
Hi @manne , @felipesfaria

is any braking change on 9.18.0 but version is minor :-(

I try to do some tests this week but if any of you discover the issue, please, let me know!

[2020-07-22 16:13] unaizorrilla commented on #583
Yeap,

All the providers are based on EF Core, I think is not easy to do

[2020-07-22 16:15] unaizorrilla commented on #576
Hi @OmerNassie

Are you check our samples and how to configure UI?

[2020-07-22 17:41] unaizorrilla commented on #577
Hi @CarlosLanderas

Can I close this?

[2020-07-23 01:56] edumserrano commented on #410
I didn't find any solution. I just use an absolute url.

[2020-07-23 03:48] ignatandrei commented on #410
What about my previous suggestion?

[2020-07-23 06:05] NicolasReyDotNet commented on #410
@edumserrano
You work with a dockercompose file ? If yes I'm interested in seeing it and you startup.cs file as well, could you share these piece of code here ?

[2020-07-23 08:01] CarlosLanderas commented on #577
I'm on holiday. I haven't worked on it yet.

[2020-07-23 21:14] dannyBies commented on #586
It looks like this will be fixed once https://github.com/sendgrid/sendgrid-csharp/issues/1027 is resolved.

[2020-07-24 17:35] IeuanWalker commented on #481
@CarlosLanderas i like this idea, would also be good to set the table schema, like hangfire does -
![image](https://user-images.githubusercontent.com/6544051/88419059-6806d980-cddc-11ea-9d06-0ba8c84d165f.png)

[2020-07-27 02:18] GustavoFonsecaDeAlmeida opened #594 "Parallel verification and notification"
**What would you like to be added**:
During the integrity application process, I saw that the verification and notification processes (if configured) work synchronously.

[Verify](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs#L54)

[Notification](https://github.com/Xabaril/AspNetCore.Diagnostics.Healt

[2020-07-28 10:58] josephderonde opened #595 "Update StackExchange Redis Version Please"
Hi,

Please could you update the version of StackExchange redis you use to 2.1.58.

currently i can see you are using "/AspNetCore.Diagnostics.HealthChecks/blob/master/build/dependencies.props" to set
<StackExchangeRedis>2.0.601</StackExchangeRedis>

From version 2.1.0 StackExchange added support for redis sentinel, and from 2.1.50 they have enabled you to pass "0.0.0.0,serviceName={ServiceName}"

[2020-07-28 11:07] unaizorrilla commented on #595
I try to do asap!

[2020-07-28 11:20] josephderonde commented on #595
brilliant thanks @unaizorrilla

[2020-07-28 11:42] unaizorrilla commented on #595
Already pushed, a new release build is on app veyor, when finished a new package 3.1.2 will be on nuget with a dependency on latest 2.1.58 redis package!

Please close if the new package fix the issue

[2020-07-28 12:31] scabana opened #596 "WebHooks - Real status"
**What would you like to be added**:

A way to output the real status, Degraded or Unhealthy.

**Why is this needed**:

Currently, when a health check fails, it's not possible to know if it's a full failure or a degraded mode. We would like to use this to indicate to the recipient that it's a degraded mode which in turn does not trigger a call until working hours.

[2020-07-28 15:29] freedeveloperjagg opened #597 "Possibility to run the health check only on demand"
**What would you like to be added**:
A button in the interface and a configuration setting that allow to stop and only scan for the health check on demand or when you need it.

**Why is this needed**:
The APIs that I develop are under high traffic and the continue lectures of the Health check routines produce a significative overhead in processing.

[2020-07-28 23:40] GustavoFonsecaDeAlmeida commented on #594
@unaizorrilla  Can we talk about?
I can make PR

[2020-07-29 10:47] #595 closed

[2020-07-29 10:48] josephderonde commented on #595
awesome - i will test the sentinel mode and update results here so you can update documentation etc at a later date.

[2020-07-30 07:24] attiqeurrehman opened #598 "GetHealthReport Json parsing error"
**What happened**:

Giving error on staging server regarding JSON parsing. Following is the error:

[code]

**Source code sample**:

**ConfigureServices** method.

[code]

and **Configure** method:

[code]

Following are the appsettings.json:

[code]

**Environment**:

- .NET Core 3.1
- Healthchecks version 3.1.1
- Operative system: Windows 10

[2020-07-30 14:40] Mr-Pearce opened #599 "Custome IHealthCheckPublisher reports every 30 seconds"
Please, fill the following sections to help us fix the issue

**What happened**:
I build a Custom IHealthCheckPublisher to post to our Riot/Matrix Server if a Service is unhealthy.
Unfortunately the  Publisher publishes every 30 Seconds after Startup with a healtcheck that only reports unhealthy (for testing purpose)

My appsettings.json(also tested appsettings.Developement.json) sets

    "Evalua

[2020-07-31 03:07] ranouf opened #600 "What is the difference between AddSqlServer and AddDbContextCheck?"
Hi,

I noticed that there is extension to validate that the connexion to SQL Server works correctly:
- AddSqlServer
- AddDbContextCheck

What is the difference? Do you recommend to use one more?

Thanks

[2020-07-31 07:13] Mr-Pearce commented on #599
Just found out that you have to configure the publishers separately under `ConfigureServices`.
The default here is 30 seconds.

[code]

[2020-07-31 07:13] #599 closed

[2020-07-31 07:37] Mr-Pearce commented on #548
Just found a solution for that 30 second publisher Problem
maybe this  helps #599

[2020-08-03 16:47] josephderonde commented on #203
I have no idea why i have left this open for so long, i have the healthcheck for this working now

                .AddRabbitMQ(
                    $"amqp://{configuration["EventBusConnection"]}/",
                    failureStatus: HealthStatus.Degraded,
                    name: "basket_rabbitmq-check",
                    tags: new string[] { "rabbitmq", "basket_rabbitmq" })

connection to the

[2020-08-03 16:47] #203 closed

[2020-08-03 16:56] josephderonde commented on #595
@unaizorrilla i now have this working with redis sentinel in docker swarm

i am not sure if you want to update the docs or anything to point to the fact it works.

in swarm mode i had to point at my manger as the ip address and expose the ports for redis and redis sentinel. i could not find a better option for this i would have preferred if they had given us an option to pass in the sentinel conta

[2020-08-04 08:27] SaeedGz98 opened #601 "Show query result in healthcheck ui"
Hi, I have a SQL server query that returns a list of my crashed sites, and the result of this query may change every day.
I want to show the query result in healthcheck UI as "Crashed sites" with unhealthy badge.
How can I do that?
Thanks in Advance.

[2020-08-04 22:15] pbolduc opened #602 "Use consistent config setting name values"
Please, fill the following sections to help us fix the issue

**What happened**:

I was reviewing the source code to understand it more and noticed in consistency in the naming of configuration settings.  It seems [KubernetesDiscoverySettings](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/92b4e5a2bf9d266022221cb0309a54ba69827da0/src/HealthChecks.UI/Core/Discovery/K8S/Kubernet

[2020-08-05 17:10] RagnarGothur opened #603 "HealthCheck UI is empty"
Hello!
In my case the "/health-api" works as expected: returns json with healthcheck results. But there are no any healthcheck results on "/health-ui" because the "/health-ui-api" returns an empty array.
Configuration examples:
[code]

All of the packages have 3.1.1 version.
How can I fix it?

[2020-08-06 09:08] SteppenHorde commented on #603
Finally got it working by changing code like this:
`.AddHealthChecksUI(settings => settings.AddHealthCheckEndpoint("checks", "/health-api"))`.
But I still wonder why the code sample from [UIAndApiCustomization](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UIAndApiCustomization/Startup.cs) didn't work for me... Can someone explain that incomprehens

[2020-08-10 07:25] attiqeurrehman commented on #576
@OmerNassie I am having the same issue and individually calling /health for other services are working fine.

[2020-08-10 13:55] andrewchaa opened #604 "HealthCheck on Azure ServiceBus Topic Subscription"
**What would you like to be added**:
We have healthCheck on Topic and Queue but do not have healthcheck on Topic's subscription yet.

**Why is this needed**:
One of my service creates 3 subscriptions to a topic and I wanted to add healthchecks on to those subscriptions. Initially I used Queue health check but it didn't work.

[2020-08-13 23:11] heaths opened #606 "Please upgrade to the new Key Vault and Storage client libraries"
We have released [new versions](https://aka.ms/azsdk/net) of the Azure SDK Client Libraries for Key Vault, Storage, and other Azure services. We see that you are still using the older packages. The new Azure SDK is faster, leaner, and more extensible. Please see our [introductory video](https://aka.ms/azsdk/intro) and our [value propositions](https://aka.ms/azsdk/valueprop) for more information. W

[2020-08-14 10:28] camiteca opened #607 "Make the Health-UI independent of internet access"
**What would you like to be added**:

I'd like to be able to run the health-ui independent from internet access.

**Why is this needed**:

We have closed environments that are not allowed by our organization's firewall to access external Urls. If we try to run it as is, we see some ugly fallbacks:

![image](https://user-images.githubusercontent.com/1260651/90240300-43c17a00-de29-11ea-82b2-32acc566

[2020-08-14 13:28] wireless90 opened #608 "Cant see any health checks in ui"
.net core 2.2

`csharp
public void ConfigureServices(IServiceCollection services)
        {
            services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_2);

            //services.AddInMemoryStorage();

            services.AddHealthChecksUI()
                .AddHealthChecks()
                .AddCheck<DummyCheck>("Dummy Checku");

        }

        // This method gets c

[2020-08-14 18:20] wireless90 commented on #608
Solved, did not specify configuration

[2020-08-14 18:20] #608 closed

[2020-08-15 13:45] rupeshtech commented on #283
@fglaeser sorry for late response.

Indeed it works as it supports IConfiguration

[2020-08-15 13:45] #283 closed

[2020-08-15 15:59] maikebing opened #609 "MySqlConnector 1.0.1 Rename MySql.Data.MySqlClient to MySqlConnector !"
System.TypeLoadException: Could not load type 'MySql.Data.MySqlClient.MySqlConnection' from assembly 'MySqlConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92'.
|    at HealthChecks.MySql.MySqlHealthCheck.CheckHealthAsync(HealthCheckContext context, CancellationToken cancellationToken)
    at System.Runtime.CompilerServices.AsyncMethodBuilderCore.Start[TStateMachine](TStat

[2020-08-17 02:17] maikebing commented on #609
Need to wait upstream.

[2020-08-17 02:17] #609 closed

[2020-08-17 08:51] sungam3r opened #611 "Redis Sentinel support"
Hi. I use `RedisHealthCheck` to connect to the Redis cluster in Sentinel mode so my connection string specifies Sentinel addresses, not Redis: `tst-srv1.domain.com:26379,tst-srv2.domain.com:26379,tst-srv3.domain.com:26379` . I get this error:

[2020-08-17 09:51] Odonno commented on #603
I have the same result you have. Seems like the code sample is broken at the moment.

But, to me, it feels more natural and logic to specify the endpoints yourself. If no endpoint provided, then no result (empty UI). So, the default behavior would be to do this:

[code]

[2020-08-17 11:35] m-jepson opened #612 "Incompatible with MySqlConnector v. 1.x"
Namespaces changed in the MySqlConnector library, which breaks the healthcheck.

[2020-08-18 03:00] mohitpaliwal82 opened #613 "Getting Exception System.AggregateException"
**What happened**:
Hi Team
I am using .net core version 3.1 and using AspNetCore.HealthChecks.UI (3.1.1) and AspNetCore.HealthChecks.UI.Client (3.1.1)
and getting below exception

System.AggregateException: 'Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: HealthChecks.UI.Core.Notifications.IHealthCheckFailureNotifier Lifetime: Scoped Implem

[2020-08-18 04:17] CarlosLanderas commented on #613
Hello. Check the Storage Provider configuration section. Latest versions are compatible with different storage providers and you need to configure one of them.

Thanks :)

[2020-08-18 04:17] #613 closed

[2020-08-20 14:07] aevitas opened #614 "ServerAddressService throws InvalidOperationException"
After having successfully tested the health check endpoint and UI, I'm suddenly greeted with `InvalidOperationException`s and all sorts of incomprehensible log messages in production.

Within my ASP.NET Core 3.1 application, I've registered the health checks like so:

[code]

The `/healthz` endpoint is working fine, and I can observe my services being available, both in test and in production. How

[2020-08-20 14:29] CarlosLanderas commented on #614
Hello @aevitas aevitas. Where are you deploying the application?.

When the host starts it waits for kestrel or IIS to report the listening addresses by using IServerAddressFeature.

Are you using docker? Are you specifying the listening URLs with env variables?

[2020-08-20 14:43] aevitas commented on #614
Hey @CarlosLanderas

Thanks for getting back to me so quickly! We're deploying the application to IIS, and I'm fairly certain (although not 100% sure) that the listening URLs aren't passed through environment variables. I assumed the UI would be able to resolve the health endpoint through simply adding it as a relative URL using `cfg.AddHealthCheckEndpoint`. Is that assumption incorrect and should

[2020-08-20 14:51] CarlosLanderas commented on #614
Here is the PR where this was introduced:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/339

As you can see a Microsoft Employee participated in the discussion and told us that kestrel reports the listening URLs immediately after started and IIS might take a while, but the UI server doesn't until reported. It could be happening that an ipv6 or non DNS format address is being

[2020-08-20 14:55] CarlosLanderas commented on #614
#410 might be related

[2020-08-20 15:31] CarlosLanderas commented on #600
Hello @ranouf ! AddDbContextCheck is from Microsoft and it tests whether the DbContext can connect with the Database Connection string. Both Healthchecks have different options and you can use the one that suits better to you 👍🏻

[2020-08-20 15:31] #600 closed

[2020-08-21 02:32] gitfool commented on #482
None of our code provides any aws credentials at all since the AWS SDK for .NET [searches for credentials](https://docs.aws.amazon.com/sdk-for-net/v3/developer-guide/net-dg-config-creds.html#creds-assign) anyway. In prod it just reads the EC2 instance metadata and when testing (inside containers) we inject the well-known environment variables.

TL;DR please allow for not specifying any credentials

[2020-08-26 21:17] espenrl commented on #607
I'm experiencing the same issue in a production environment with no ability to access resources on internet.

[2020-08-27 07:51] unaizorrilla commented on #607
I’m finish my vacation and try to check this, also @CarlosLanderas  can you checkout?

[2020-08-27 16:23] CarlosLanderas commented on #607
I'll work on it. I'm gonna upgrade react version and redesign the front-end code  and I'll take the chance to do this.

[2020-08-30 15:10] LiviuSosu commented on #613
I'm follwoing strictly the documentation (without other services or providers) and I am getting the same exception. And I have exactly the same environment as mohitpaliwal82.

I'm just exploring, trying to get better, so no pressure :-) Did I undesrtood corectly, are you working on it: https://www.gitmemory.com/CarlosLanderas

or is it solved?

[2020-09-01 10:28] #604 closed

[2020-09-01 10:44] Nisden commented on #150
@inkel What about adding an ```Action<SqlConnection> beforeOpen```? That would allow users to set the AccessToken, and would be more future proof.

[2020-09-02 00:38] alm0st907 opened #615 "DnsResolveHealthcheck does not work"
While trying to add DnsResolveHealthcheck to my code, it did not perform as expected.
This healthcheck would either a) always return healthy or b) error out saying it was configured wrongly no matter what I did. I think this function either needs more documentation to explain how it should be used or is broken.

**How to reproduce it (as minimally and precisely as possible)**:
Use AddDnsResolveHea

[2020-09-02 06:39] CarlosLanderas commented on #615
Hello @alm0st907, I was reading the functional tests and the usage is like this:

[code]

[2020-09-02 07:53] #615 closed

[2020-09-02 08:50] #614 closed

[2020-09-02 08:51] CarlosLanderas commented on #606
Hello @heaths , thanks for the info!. We are back from holidays and we are gonna start working on the issues. We will update the dependencies.

[2020-09-02 08:58] CarlosLanderas commented on #603
@RagnarGothur , I see you are using AddHealthChecks without the setup configuration,that means that your settings must be specified in appsettings, secrets or environment variables, where you should specify the target healthcheck endpoints.

you can also specify the remote endpoints as @Odonno says:

[code]

Could you show your **appsettings** configuration?. They should have /health-api segment

[2020-09-02 09:01] #603 closed

[2020-09-02 11:15] CarlosLanderas commented on #571
Working on this here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/commit/59ccd8eb9391555a7477cc563c08695c6eee97b5

[2020-09-02 13:50] cscorley opened #617 "MongoDb health check fails to be healthy when connecting to a database that has no collections yet"
Please, fill the following sections to help us fix the issue

**What happened**:

MongoDb health check fails to be healthy when connecting to a database that has no collections.  This is caused by an "Sequence contains no elements" exception.

**What you expected to happen**:

Reports healthy

**How to reproduce it (as minimally and precisely as possible)**:

Create a Mongo database that has no co

[2020-09-02 15:02] unaizorrilla commented on #606
Hi @heaths

I summit a PR with changes proposed on this issue on #618  Can you check if this is ok for you?

[2020-09-02 15:43] cscorley commented on #617
Another alternative to listing databases/collections would be use Ping https://docs.mongodb.com/manual/reference/command/ping/

[2020-09-03 06:58] rnarayana opened #619 "Custom paths in kubernetes operator"
I want to host the healthchecks ui (via the operator) at `mysite.com/healthchecks/dashboard`, so that even the UI resources come under `/healthchecks/ui/...` I am exposing this via ClusterIP and routed via nginx ingress. It works if am using the default `/healthchecks` route, but the ui resources are now relative to `mysite.com` and not `mysite.com/healthchecks`. Is there a way I can make everythi

[2020-09-03 11:33] #606 closed

[2020-09-03 11:34] unaizorrilla commented on #606
Closed with #618

Thanks @heaths for helping on this!

[2020-09-03 11:35] unaizorrilla commented on #93
Done on #618

[2020-09-03 11:35] #93 closed

[2020-09-03 11:35] unaizorrilla commented on #612
Hi @m-jepson

Let me check this a soon as posible!

[2020-09-03 11:51] unaizorrilla commented on #612
Hi @m-jepson

Upgrade dependency version! A new release is on app veyor (https://ci.appveyor.com/project/Xabaril/aspnetcore-diagnostics-healthchecks/builds/35008570 ), When finish a new package with version 3.2.0 will be available on NuGet!

[2020-09-03 11:51] #612 closed

[2020-09-03 12:27] unaizorrilla commented on #612
Hi again!

The release fail because we have issue with pomelo and mysqlconnector version but i'm working around this issue!

I try to push a new release build yet and wait for the new package 3.2.0

[2020-09-03 12:39] unaizorrilla commented on #612
The new release build is https://ci.appveyor.com/project/Xabaril/aspnetcore-diagnostics-healthchecks/builds/35009538

[2020-09-03 13:21] brechtvhb commented on #575
Would also love the possibility to have one UI that serves health checks from multiple namespaces.

[2020-09-03 14:50] inkel commented on #150
@Nisden that sounds great! Would you like me to submit a PR for this?

[2020-09-03 14:50] EdoardoTona opened #620 "Dropped the support to the Azure table storage"
**What happened**:
AspNetCore.HealthChecks.AzureStorage 3.3.0 dropped the support to Azure table storage (aa0c6ffe0137970d5b20fecdb66b912a96613c3c).

**What you expected to happen**:
Be able to healthcheck the Azure table storage.

**How to reproduce it (as minimally and precisely as possible)**:
Update from AspNetCore.HealthChecks.AzureStorage 3.2.0 (last working version) to 3.3.0

[2020-09-03 15:35] unaizorrilla commented on #620
In new azure storage SDK‘a table client is not longer supported. The plan is use cosmos HealthCheck for this but SDK and healthcheck is on preview

[2020-09-04 06:51] #571 closed

[2020-09-04 06:56] CarlosLanderas commented on #619
Hello @rnarayana. This is possible when configuring the UI using this settings:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/doc/ui-docker.md#configure-ui-paths-ui-path-api-path-and-resources-path

However, I need to expose this configuration in the CRD. Right now, you can pass deployment annotations and I maybe we can add custom deployment environment variables to c

[2020-09-04 11:29] unaizorrilla commented on #620
Hi @heaths

What is the state of Azure.Data.Tables? is on preview on nuget? What is the new way to manage Storage Tables?

[2020-09-04 11:29] aleksandrdotnet opened #621 "AddElasticsearch(...) Could not load type 'Elasticsearch.Net.IInternalSerializerWithFormatter'"
I cannot check healthcheck with elasticsearch

**Source code sample**:
(...).AddElasticsearch(setup =>
                        {
                            setup.UseServer(SerilogElasticSearchConfiguration.Uri)
                                .UseBasicAuthentication(SerilogElasticSearchConfiguration.Login,
                                    SerilogElasticSearchConfiguration.Password)

[2020-09-04 17:36] christothes commented on #620
The first beta release of Azure.Data.Tables is due to release this month. Keep a lookout for a post on the [SDK blog](https://devblogs.microsoft.com/azure-sdk/) for details.

[2020-09-04 18:34] unaizorrilla commented on #620
Ok!

[2020-09-04 20:21] bsulliva commented on #251
Was the ever put into the master branch? I'd like a way to change the default refresh and remove the ability for the user to change the refresh time.

[2020-09-04 20:53] CarlosLanderas commented on #251
I think we are going to remove the interval configuration from the UI for security. Maybe we'll add start/stop polling button as other user requested this.

Maybe the best idea is configuring the interval in the backend and if someone wants to create an authenticated endpoint to mutate polling settings he is free to do that.

[2020-09-04 20:58] bsulliva commented on #251
Sounds perfect to me, I'll look forward to that addition. Thank you sir

[2020-09-05 00:27] josejavierpaez commented on #281
hi,
Please could you be more explicit when you say that you have the same path, I have the same error ".filter is not a function".

I would appreciate it if you could write an example here below

[2020-09-05 19:35] Nisden commented on #150
@inkel If you got the time for it, it would be awesome. Otherwise I could look into it.

[2020-09-06 21:48] aminebizid opened #622 "UI cause Exception when running in K8S"
My Config
[code]

[code]

I get no Exception when running locally
But in K8S, I get this:

**[21:40:17 ERR] GetHealthReport threw an exception when trying to get report from /healthz configured with name supplydata.
System.Net.Http.HttpRequestException: IPv4 address 0.0.0.0 and IPv6 address ::0 are unspecified addresses that cannot be used as a target address. (Parameter 'hostName')
 ---> System.A

[2020-09-06 23:05] aminebizid commented on #622
Solved when using port 80

[code]

[2020-09-06 23:05] #622 closed

[2020-09-07 07:28] rnarayana commented on #619
Thanks @CarlosLanderas It would be nice to have parity across all ways of usage. Are the deployment annotations same as the env variables? Would this be enough?

[code]

[2020-09-07 07:39] CarlosLanderas commented on #622
@aminebizid  you can algo use:

[2020-09-07 07:41] CarlosLanderas commented on #622
@aminebizid you can also use:

[code]

And pass a valid dns name to ASPNETCORE_URLS environment variables (http/https://localhost) or using UseUrls kestrel extension method

[2020-09-07 07:45] CarlosLanderas commented on #281
@josejavierpaez , you have different ways to configure the UI (standalone, in the same host than the healthchecks, etc) in this samples folder, take a look to them and if you still have doubts tell us!:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/samples

[2020-09-07 14:08] #591 closed

[2020-09-07 15:00] tborozan opened #624 "HealthChecks UI not displaying/writing history"
**What happened**:

HealthChecks UI not displaying history

**What you expected to happen**:

Expect to see some info in details when an entry changes from Healthy to Unhealthy and vice versa.

Currently, no history gets displayed.

![alt text](https://i.imgur.com/yvO0cmk.png)

These are the tables from my local db
[HealthCheckExecutionHistories](https://i.imgur.com/5VIMnXz.png)
[HealthCheckExecut

[2020-09-07 16:17] CarlosLanderas commented on #624
Hello @tborozan. This is working good when the UI is deployed using the k8s operator so let me check your sample to see if something is missing

[2020-09-07 16:30] tborozan commented on #624
I am not using k8s. I used the docker-compose file provided above locally to test and plan to deploy the container to Azure App Service. I actually already deployed the container to App Service as a test and still have the same issue. The container is configured using the env var in the post above.

[2020-09-07 17:18] CarlosLanderas commented on #624
Yes I know is docker, that's why I want to check the differences between your deployment and the one that our operator performs to see where the problem could be. I'll take a look:)

[2020-09-08 15:57] skiyak opened #625 "Auth support for health checks UI endpoint"
We've adopted the health checks UI, but from the documentation I couldn't find any instructions on how to enable auth for this endpoint. Is this somehow supported, or is there any plan to enable auth optionally? Currently, this endpoint is public, which is far from ideal for our case.

[2020-09-08 15:59] CarlosLanderas commented on #625
Hello @skiyak. What authentication provider would you need? We've been discussing to add support for Azure AD and Identity Server

[2020-09-08 16:00] skiyak commented on #625
Hi Carlos, thanks for the quick response. We'd be happy with Azure AD.

[2020-09-08 17:37] josejavierpaez opened #626 "Custom Description"
hi, I hope you will be fine and thanks for this amazing lib.

I would like to know how to write my custom description when I use the health checks provider by the lib. for example, am using the provider for SQL-SERVER and when the status is healthy the description is null.

like a picture

![image](https://user-images.githubusercontent.com/47426910/92509397-30ab8b00-f1d8-11ea-9e02-92d52466c2b7.png

[2020-09-09 06:47] CarlosLanderas commented on #598
Hello @attiqeurrehman, can you confirm your UI host is running in port 7000?
It looks like the UI is querying a healthcheck or endpoint not answering with the right format.

Could you upload a repro project so we can take a look?

[2020-09-09 06:49] CarlosLanderas commented on #624
@tborozan does the remote healthcheck endpoint report  services state changes?. The HealthCheckExecutionHistories table is only filled when a service switches from healthy to unhealthy and viceversa

[2020-09-09 06:53] CarlosLanderas commented on #619
Hello @rnarayana. The annotations are more for categorizing the deployments itself than for healthchecks.

There are two options here. Add specific ui configuration options in the CRD, ui_path, ui_resources_path, ui_api_path or add a deploymentEnvironment to add whatever custom environment variable.

The thing is the UI has plenty of options that can be configured and the second would be more flex

[2020-09-09 07:25] tborozan commented on #624
Yes, I tried changing it. Both the whole service and the individual healthchecks but the table did not get filled.

[2020-09-09 08:20] CarlosLanderas commented on #624
Hello @tborozan. I've tried it and it's working. Probably you are testing this with default Evaluation Time and its 180 secs. Use a lower setting with a random healthcheck to see it working faster

Try this:

[code]

In the healthcheck endpoint use a random check:

[code]

Result:

![image](https://user-images.githubusercontent.com/16475649/92573398-04e6de80-f286-11ea-8817-fe14492de75c.png)

[2020-09-09 08:30] CarlosLanderas commented on #619
@rnarayana Im working to add the current options

uiPath already exist.

And will be added:

[code]

[2020-09-09 08:56] rnarayana commented on #619
Lovely, thanks a lot Carlos!

[2020-09-09 10:54] attiqeurrehman commented on #598
@CarlosLanderas I will create the project for it and share it as soon as possible.

[2020-09-09 11:11] inkel commented on #150
@Nisden hey, sorry for the delay in replying.

Yeah, I think I can manage to make the time this or next week. Would that work?

[2020-09-09 18:46] #619 closed

[2020-09-09 18:47] CarlosLanderas commented on #619
This feature will be published in the upcoming days when the new operator image is published. I wan't to add some other feats :)

[2020-09-09 18:48] CarlosLanderas commented on #624
@tborozan let me know if this works for you so we can reopen the issue. Thanks!

[2020-09-09 18:48] #624 closed

[2020-09-10 13:49] CarlosLanderas commented on #607
This is in progress. I am updating the UI to React Hooks and adding some new feats. The material icons will now be processed by webpack and embedded in the bundle so no internet access would be required.

[2020-09-10 13:50] CarlosLanderas commented on #597
Hello @freedeveloperjagg .
I am already working on this. The new UI interface will have a start and stop button and the interval confguration will be done when configuring the UI middleware in the backend

[2020-09-10 13:52] CarlosLanderas commented on #422
This will be fixed in the new UI version. Icons will be embedded in js the bundle.

[2020-09-10 14:03] camiteca commented on #607
Since you're at it, if you could also check out also these alignment issues, it would greatly improve the visual appearence. If we deploy every tab the columns are all taking different widths.

![image](https://user-images.githubusercontent.com/1260651/92741356-d0a31900-f37e-11ea-9f73-e3e4aa8639bf.png)

Please let me know if you see fit to create a new issue to resolve this other problem.

[2020-09-10 22:04] CarlosLanderas commented on #575
Hello @brechtvhb. I have already coded this and I am already testing.

There is going to be a new CRD option scalled scope (Cluster and Namespaced)

If you use Cluster, the UI will listen to all services in all namespaces:

[code]

[2020-09-11 06:03] #575 closed

[2020-09-12 03:47] f2calv commented on #620
So Azure.Data.Tables package is [now available](https://www.nuget.org/packages/Azure.Data.Tables) (well available in beta at least...) the documentation link is broken but [samples link works](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/tables/Azure.Data.Tables/samples).

So we wait for a new cosmosdb/tables healthcheck library now right?

[2020-09-13 12:12] dannyBies commented on #586
I believe the sendgrid version in this library needs to be updated to at least version 9.20 to resolve this issue: https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/a78815946a9678fc4b5e814b89dc53197a57d8e1/build/dependencies.props#L85

Unfortunately I don't have time in the forseeable future to open a PR and test it, just leaving this here for future reference.

[2020-09-13 15:21] unaizorrilla commented on #620
Yeap! I try to do that this week!!

[2020-09-14 11:22] unaizorrilla commented on #620
Hi @EdoardoTona @f2calv @christothes

The preview of CosmosDB healthcheck already contains a AddAzureTable healtcheck using new Azure.Data.Tables preview package!

The release is on app veyor, when finished a new preview package AspNetCore.HealthChecks.CosmosDb 3.2.1-preview will be on NuGet!

Just close this issue, please reopen if necesary!

[2020-09-14 11:22] #620 closed

[2020-09-15 12:47] #532 closed

[2020-09-15 12:48] #488 closed

[2020-09-15 12:48] #320 closed

[2020-09-15 13:06] CarlosLanderas commented on #562
This is gonna be added like this in version 3.1.2:

[code]

[2020-09-15 16:31] CarlosLanderas commented on #194
Im working in this issue:

![image](https://user-images.githubusercontent.com/16475649/93238436-b94e9c00-f781-11ea-9c06-d45291bfcd65.png)

[2020-09-15 22:26] #194 closed

[2020-09-15 22:26] #562 closed

[2020-09-15 22:26] #577 closed

[2020-09-15 22:26] #597 closed

[2020-09-15 22:26] #607 closed

[2020-09-16 08:20] dsfrederic opened #632 "How can I display non-compliant healthcheck"
I'm trying to create a watchdog for our azure environment.

This would combine a list of external healthchecks. The problem is that our healthchecks are not compliant with the standard at the moment. I would rather not have to change all healtchecks. Is there a solution for this?

[2020-09-16 10:49] brechtvhb opened #633 "How to use the K8S operator together with agic?"
Is it possible to use the K8S operator together with agic?

In my other apps I have an ingress.yml which lets the application gateway know how to reach the app

example:

[code]

It is not entirely clear how I have to do this together with the operator which somehow already has options about what the UI path should be. Operators are a new concept for me.
Can anyone point me in the right direction?

[2020-09-16 10:59] sjbthfc2 opened #634 "Health Check 'Value cannot be null' error"
Hi,

I am trying to use the UI with a simple health check that returns json from an ASP.NET Core app. When I run the health check in the browser I get the following response:

`{
  "status": "Healthy"
}`

However, when running the UI, it just gets the following error:
`HealthCheck collector HostedService threw an error: Value cannot be null. (Parameter 'source')`

I use a basic ResponseWriter to w

[2020-09-16 11:01] CarlosLanderas commented on #634
The UI requires the health endpoints to use the UI response writer instead of the default one that uses text/plain response.

Take a look to the samples folder, there you can find different ways of configuration.

This could be a good start:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L59

[2020-09-16 11:07] CarlosLanderas commented on #633
@brechtvhb let me try to reproduce this scenario and add it to the docs, I think it could help many people with that have this same doubts.

[2020-09-16 14:44] sjbthfc2 commented on #634
Thanks for your help, that is working correctly now.

[2020-09-16 14:44] #634 closed

[2020-09-16 18:36] brechtvhb commented on #633
I found a way to make it work with agic:

Heres the config of my healthchecks ui:

[code]

Here's my ingress YAML

[code]

[2020-09-16 18:50] CarlosLanderas commented on #633
Hello! Your config looks exactly like the one I was going to try.

I have no issue with the operator even when I update services after several hours running. The default label is HealthChecks and not healthchecks. Could that be the problem?

It would be very useful to inspect the logs to see the operations the operator is carrying out

Thanks!

[2020-09-16 19:22] brechtvhb commented on #633
I am using this as label

[code]

What logs should I examine?
When I check them the logs of the operator say nothing, when a service got added after several hours. Could the issue be that the service was already existing without HealthChecks label. The HealthChecks label was added in an update to my service and that change did not seem to get picked up by the operator.

[2020-09-16 19:41] CarlosLanderas commented on #633
No, that should be fine. I use to label/unlabel existing services all the time without issue. Tell me if you can see any aborted connection message in your logs that might indicate that the streaming connection against the cluster was closed.

[2020-09-16 20:03] CarlosLanderas commented on #633
@brechtvhb, are you labeling pods or services?

[2020-09-17 07:02] brechtvhb commented on #633
I am labeling services. Which one is the preferred way?

[2020-09-17 07:04] CarlosLanderas commented on #633
Good. Only services are watched inside the operator 👍. Closing this issue. Open a new one if you find problems with the operator again. I've been testing and can't reproduce it

[2020-09-17 07:04] #633 closed

[2020-09-17 07:15] brechtvhb opened #635 "Operator does not see updated services"
**What happened**:
When updating a service, the operator does not see that the HealthChecks label got added to the service so it does not get pushed to the healthchecks ui.

**What you expected to happen**:
I expect to see the updated service in the health checks ui.

**How to reproduce it (as minimally and precisely as possible)**:
Add the "HealthChecks" label to the service and apply the changes

[2020-09-17 07:24] CarlosLanderas commented on #635
Have you installed the latest operator version 3.1.1? Is the first version supporting Cluster Scope

[2020-09-17 07:34] brechtvhb commented on #635
The docker image that was pulled was xabarilcoding/healthchecksui-k8s-operator:latest

I did the manual installation of this:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/deploy/operator

First the CRD, then the rest.

[2020-09-17 07:58] CarlosLanderas commented on #635
Could you paste the output for the following command to see the actual deployment image version that is being used?

[code]

[2020-09-17 08:02] brechtvhb commented on #635
[code]

[2020-09-17 08:21] CarlosLanderas commented on #635
Thank you. And could you paste the output of this?

kubectl describe crd healthchecks.aspnetcore.ui

[2020-09-17 08:32] brechtvhb commented on #635
[code]

[2020-09-17 12:25] senvardarsemih opened #636 "UI cannot display polling interval"
**What happened**:
After upgrading nuget packages (AspNetCore.HealthChecks.UI & AspNetCore.HealthChecks.UI.Client) to latest version 3.1.2,
polling interval info not displaying on right corner of the ui page.

**What you expected to happen**:
Displaying correct polling interval value

**How to reproduce it **:
Upgrade AspNetCore.HealthChecks.UI and AspNetCore.HealthChecks.UI.Client packages to 3.1

[2020-09-17 12:29] CarlosLanderas commented on #636
There is no more polling interval configuration in the front-end. It's done in the backend and you can find it in the README.docs

[2020-09-17 12:29] #636 closed

[2020-09-17 12:52] dmytrohridin commented on #558
Hello
Any progress on collections present? If not - I can take a look
Thank you

[2020-09-17 12:56] CarlosLanderas commented on #558
Looks like this was already merged
@unaizorrilla ?

[2020-09-17 12:58] dmytrohridin commented on #558
@CarlosLanderas Database existence merged, but what about collections?

[2020-09-17 16:07] CarlosLanderas commented on #635
I'm trying to reproduce the issue without any like, this is the output for my tests:

**Test: Unlabel and label a service**

kubectl label svc hcnamespaces HealthChecks- -n namespaceddemo

logs:

[PushService] Namespace demo - Sending Type: **Deleted** - Service hcnamespaces with uri : http://10.96.67.66:80/health to ui endpoint: http://10.108.108.106:80

kubectl label svc hcnamespaces HealthCheck

[2020-09-17 16:17] CarlosLanderas commented on #635
Could you delete and reinstall all operator required definitions to discard problems?

wget https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/deploy/operator/installer/releases/operator-installer-win.exe && operator-installer-win.exe --delete

and then

operator-installer-win.exe

If you are using linux, you also have the linux installer.

This will uninstall and reinstall

[2020-09-17 18:49] tiesmaster commented on #558
Indeed, support for the database is in, but collections are still pending. That was going to be a follow up PR, but I haven't got any time for that yet. That's on my TODO list, but that's going to take a bit of time. If anyone else wants to pick that, then it's all yours.

[2020-09-17 18:50] CarlosLanderas commented on #558
Yeah, I meant databases. Sorry I was reading too fast :)

[2020-09-18 16:20] #564 closed

[2020-09-18 18:05] brechtvhb commented on #635
OK, will try

[2020-09-19 01:29] CarlosLanderas commented on #625
Working in this. Finally, we are adding support for OpenId Connect so we can use Azure, and other providers as well.

https://twitter.com/Carlos_Lande/status/1307126187609784322

[2020-09-21 17:58] wladneto commented on #566
I need this implemetation... 👍

[2020-09-21 18:00] CarlosLanderas commented on #566
A PR for this feature is welcome. Feel free to contribute ☺️

[2020-09-21 18:21] wladneto commented on #566
I solved with another method...

like this:
app
                .UseHealthChecks("/metrics", new HealthCheckOptions
                {
                    ResultStatusCodes =
                {
                    [HealthStatus.Healthy] = StatusCodes.Status200OK,
                    [HealthStatus.Degraded] = StatusCodes.Status200OK,
                    [HealthStatus.Unhealthy] = StatusCodes.Status20

[2020-09-23 02:12] jayleongwk opened #640 "Getting Access Denied on WindowsServiceHealthCheck (HealthCheck.Systems extensions)"
**What happened**: When trying to use WindowsServiceHealthCheck with remote server(require Authentication), will getting Access Denied error on health check. It happens to work only on Local windows services.

For others functions in Systems package, it seem only works on Local, but not remote.

**What you expected to happen**: Use health check on remote window server to check on services status w

[2020-09-23 08:23] AroglDarthu opened #641 "HealthCheck for IdSrv needs overload with Uri Provider like the UrlGroup check."
In order to pass in a Uri that was registered with the service collection, an additional overload would be handy.
The UrlGroup health check has a similar overload.

[2020-09-23 08:24] AroglDarthu commented on #641
#637

[2020-09-23 10:00] CarlosLanderas commented on #640
Hello @jayleongwk. This is not a HealthCheck issue, but an issue with the underlying ServiceController class.
That "Access Denied" error probably indicates that the identity under which process application is running does not have permission to work with that service.

[2020-09-23 13:30] CarlosLanderas commented on #635
Hello @brechtvhb, any updates?

[2020-09-23 13:58] bogataj opened #642 "Release 3.1.2 broke retrieval of ui-settings on relative api path"
**What happened**: Release 3.1.2 broke retrieval of ui-settings on relative api path.

**What you expected to happen**: When reading ui-settings from api, it should respect and use the setting of api relative paths.

[2020-09-23 14:01] bogataj commented on #642
#643

[2020-09-23 14:38] CarlosLanderas commented on #642
Looks good. Thanks for catching this 👍

[2020-09-23 14:44] #642 closed

[2020-09-23 14:44] CarlosLanderas commented on #642
I'm gonna publish version 3.1.3 with the fix

[2020-09-23 15:37] bogataj commented on #642
I've deployed and tested version 3.1.3 now in our kuberenetes cluster and can confirm it's working as excepted again 👍

[2020-09-23 18:03] CarlosLanderas commented on #642
@bogataj are you using the K8s operator to deploy the UI and monitor de services? :). Just to know 👍🏻

[2020-09-23 18:17] brechtvhb commented on #635
Tomorrow or Friday I should have the time to have a look at it.

[2020-09-24 07:23] bogataj commented on #642
No, only plain yaml resource scripts, no CRDs, yet :)

[2020-09-24 12:25] brechtvhb commented on #635
I still have the issue even when using the installer.
I think the service stops working after exactly one hour. Could the issue be authentication or token related? How is the operator authenticating to the AKS cluster?

[2020-09-24 17:20] CarlosLanderas commented on #635
Very weird. I've just updated some labels and annotations after days of not using the operator and is responsive.

If you are inside the cluster it uses inside cluster configuration:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI.K8s.Operator/Program.cs#L40

Here is the source implementation:

https://github.com/kubernetes-client/csharp/blob/6d5fefd

[2020-09-24 18:14] brechtvhb commented on #635
I use kubectl apply -f, through azure dev ops.

Here's an example yaml:

apiVersion: v1
kind: Service
metadata:
  name: nominations-api-service
  namespace: default
  labels:
    HealthChecks: enabled
spec:
  type: ClusterIP
  selector:
    app: nominations-api
  ports:
  - port: 80
    targetPort: 80

Could you add a log statement that tells if InClusterConfig or BuildConfig was used? Just to be

[2020-09-24 19:07] forki opened #644 "HealthChecks.Prometheus.Metrics returning HTTP 503 if one healthcheck is unhealthy"
I'm using HealthChecks.Prometheus.Metrics and trying to import it into Prometheus.
As soon as one health check is going into unhealthy the whole endpoint is returning HTTP 503

It looks like Prometheus is completely ignoring the data in that case. My yml looks like that:

    - job_name: myhealthjob
      static_configs:
      - targets: ['localhost:8087']
      metrics_path : '/prometheus-health-

[2020-09-25 10:50] #566 closed

[2020-09-25 11:08] unaizorrilla commented on #644
I think this issue is just closed with #566  from @epaulsen !!

Can you check? probably the  release for new package 3.1.4 is on appveyor now but in a few minutes the package will be available on NuGet!

[2020-09-25 11:08] #644 closed

[2020-09-25 17:27] xico002 opened #645 "MongoDb Storage for .net core 2.2"
Hi!

First of all I'd like to know if  health checks has MongoDB storage support for .net core 2.2 or any other support since I can't find it anywhere.
If not I would suggest the implementation in .net core 2.2 of the providers implemented in .net core 3.1 version plus adding MongoDB support.

I would really appreciate an answer.

[2020-09-25 23:57] netcorenewbee opened #646 "Role Based Healthcheck API"
I have a scenario where we created bunch of light healthcheck API endpoints( your basic Healthcheck application with URI set is app settings.json and return json object) and then one SQL enabled Healthcheck application that will read json results from these various API endpoints and display results using HealthchecksUI.  Only problem -  I can’t seem to find a way to only expose those Healthcheck a

[2020-09-26 08:16] CarlosLanderas commented on #646
Hello, we are currently working to add OIDC Authentication and this will automatically configure endpoint authorization with default or custom policies

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/638

[2020-09-26 18:29] netcorenewbee commented on #646
Hi Carlos, Thank you for the quick response! I stumbled upon this PR before but I wonder if it will help my case.

For example my Central Health Check application may have 10 other healthcheck api's setup in its appsettings.json. The logged in user at any point may only have access to 4 out of the 10. Will the OIDC Authentication PR #638  help authenticate and authorize the each individual endpoin

[2020-09-30 02:37] MikeChristensen commented on #410
I ran into this same problem today, and here's the solution I came up with.  Basically, I create an extension method on `IWebHostBuilder` which takes the URLs, normalizes them (replaces `0.0.0.0` or `*` with `localhost`) and creates the healthcheck endpoints:

[code]

Now, when I build my `IWebHost`, I can configure the healthchecks as well:

[code]

It would also be possible to combine `Configure

[2020-09-30 02:39] MikeChristensen commented on #279
I came up with another solution for this problem, which I've added on https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/410

[2020-10-01 08:15] VKAlwaysWin opened #647 "AddSqlServerStorage: Provide possibility to pass SqlServerDbContextOptionsBuilder"
**What would you like to be added**:
Add possibility to pass SqlServerDbContextOptionsBuilder options to UseSqlServer method.

**Why is this needed**:
By default it is:
options.UseSqlServer(connectionString, s => s.MigrationsAssembly("HealthChecks.UI.SqlServer.Storage"));

And as a result it is impossible to configure SqlServer for your needs.

Example, when no access to dbo schema it is useful to

[2020-10-01 08:25] CarlosLanderas commented on #647
Hello. Could you explain what are those needs you have with SQL Server being that the UI internally handles all the stuff?
Thanks!

[2020-10-01 11:44] dmytrohridin commented on #558
@unaizorrilla check for collections is added, review PR, please
Thank you :)

[2020-10-01 11:57] VKAlwaysWin commented on #647
@CarlosLanderas , I don't have access to dbo schema on Production Environment. Only to custom one.

[2020-10-03 17:36] dmytrohridin commented on #558
cc @CarlosLanderas

[2020-10-05 07:04] rnarayana commented on #567
I've been trying to do what @Odonno suggested, but I'm getting a 404 error. Any idea how I can see more details of the error in health checks? This is what I have so far:
[code]
[code]

[2020-10-07 16:14] kooshan opened #650 "Net5.0 Support"
With release of Net5.0 RC1 we are planning to do an upgrade. UI seems incompatible with Net5.0 or EFCore5.0.

[code]

[2020-10-07 16:16] unaizorrilla commented on #650
Yeap we start the migration to .NET 5 soon! :-)

[2020-10-08 13:46] AlexanderArvanitis opened #651 "HealthCheck collector HostedService threw an error: Value cannot be null. (Parameter 'source')"
What happened:
Health checks UI is empty although the /health endpoint returns an response. When running on Kestrel I can tell from the logs that the the endpoint is called and returns correctly.

From the exception message I gather that execution.Entries in SaveExecutionHistoryEntries might be empty for some reason, but I haven't been able to test it.

Maybe I'm doing something wrong with how I s

[2020-10-08 15:03] CarlosLanderas commented on #651
Are you using HealthChecks in the same endpoint of the UI?

I miss:

[code]

[2020-10-08 15:56] conficient opened #652 "Is there a way to control the frequency of health checks?"
So I'm trialling the Health Check capability. I see the health checks appear to run pretty much constantly, with little delay between queries. Is it possible to control the frequency of the requests, or throttle the rate at which they are queried?

[2020-10-08 16:53] Kamiljen commented on #651
Hi I'm not. I was hoping to use the package to monitor multiple other applications over distributed test environments.
Lately I've been relying more and more on healthchecks, and I'd like to make my life a little easier.

From the example bellow in the documentation I was under the impression I could?

[2020-10-12 09:52] jocco commented on #482
Hey

Sorry for not providing the PR earlier, never got notified on your response.
Adding the PR now.

@gitfool not specifying credentials at all also seems like a valid option in terms of setup, it wouldn't work in my case though as we relying on the assume role work that AWS SDK does so simply removing the option to specify credentials wouldn't be a good solution for us.

[2020-10-14 07:06] DavidCMulder commented on #651
Hi,
I noticed the same issue. When the healthcheck-ui is configured to consume health endpoints that return only
{  "status": "Healthy"} , the exception occurs and all subsequent services are not displayed.

[2020-10-14 07:44] CarlosLanderas commented on #651
The remote Health endpoints should use the UIResponseWriter, because the default Microsoft response is a text/plain

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.StorageProviders/Startup.cs#L65

@Kamiljen are you using the UIResponseWriter in your remote endpoints?

[2020-10-14 08:25] CarlosLanderas commented on #652
Hello!, yes, you can set the interval using:

[code]

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks#ui-polling-interval

[2020-10-14 08:25] #652 closed

[2020-10-14 09:56] MohammedAbdelhafez commented on #652
is there a way to control the check frequency  independently in the AddCheck() or in custom health checks implementing IHealthCheck

[2020-10-14 12:43] DavidCMulder commented on #651
Hi Carlos, the response in my context is with Content-Type: application/json.
But maybe regardless of content-type and/or response, the overview should not break on an 'unsupported' health endpoint.

[2020-10-14 13:27] CarlosLanderas commented on #652
@MohammedAbdelhafez when you use AddCheck and MapHealthChecks, they are only collected when the endpoint is called, and that is what you can configure in the UI.

[2020-10-15 07:10] Kamiljen commented on #651
Hi Carlos,
I wasn't in my test, but I know that some of the endpoints I want to monitor does. I'll try with one witch does and get back to you.
I agree with @DavidCMulder about the view not breaking for a 'unsupported' health endpoint though.

[2020-10-16 14:52] ckyongrtl opened #655 "MongoDB: Registering healthcheck with raw connectionstring causes memory leak"
Please, fill the following sections to help us fix the issue

**What happened**:
When you register a MongoDB healthcheck as described below, you end up with a memory leak. Some quick memory profiling and debugging sessions revealed the internal dictionary  in the MongoDbHealthCheck (`_mongoClient`) to keep growing every time the healthcheck is being called:

[code]
I used an overload that doesn't

[2020-10-19 07:33] unaizorrilla commented on #655
Hi @ckyongrtl

Thanks for fill this issue, I try to workaround on this soon!

[2020-10-19 09:17] sibbl opened #656 "Azure Table Storage healthcheck currently not available via nuget packages"
I'm currently using the latest stable version `AspNetCore.HealthChecks.AzureStorage` in version `3.3.0` and `AspNetCore.HealthChecks.CosmosDb` in version `3.1.2`.

While `AddAzureTableStorage` was already removed from the `AzureStorage` package, the new `AddAzureTable` extension method is not available yet in the stable version of the `CosmosDb` package.

I'd appreciate if this could be made acces

[2020-10-20 14:52] ckyongrtl commented on #655
Another thing that I should mention: The snippet that I posted that was supposed to be a solution causes an increase in connections. Here's the metrics on our test DB when it was deployed:

![image](https://user-images.githubusercontent.com/53821571/96603653-82295880-12f4-11eb-9ad0-77cd8a786f62.png)

So somehow using MongoClientSettings spins up a new connection every time instead of creating once

[2020-10-21 14:38] pablotdv commented on #655
I created my mongodb health check

I'm going to publish tonight in production. Tomorrow I share the results.

[code]

Basically, I use the MongoDatabase registered in the dependency injection container.

[2020-10-21 20:05] kensykora commented on #464
I'm interested in the solution to this, I don't think the default retry policy built into the Cosmos SDK client should be in play here. If there are retries involved, that's indicative of degraded performance at best, and even if _eventually_ successful, it should be reported as degraded. That should be a signal to the ops team that additional scale is needed in cosmos to keep the instance healthy

[2020-10-22 09:01] JackPoint commented on #651
I've the same problem. I'd require authentication on my health endpoints. When the endpoint returns a 401 with no content, it says:

`Response is null or message can't be deserialized as HealthChecks.UI.Core.UIHealthReport.`

The output window says the same:

`System.InvalidOperationException: Response is null or message can't be deserialized as HealthChecks.UI.Core.UIHealthReport.`

But when the

[2020-10-22 09:04] jinek opened #658 "Violation of CA1031: Do not catch general exception types"
In the checks (for example SqlCheck https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.SqlServer/SqlServerHealthCheck.cs ) the code catches all exceptions by general catch(Exception) block.
Which violates rule https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1031?view=vs-2019 and .NET exception guides.

At the point of catc

[2020-10-22 11:58] pablotdvsmvv commented on #655
It is solved, 1 of the applications that I applied the solution works, another one I used the solution but the hideness and liveness timeout is low, so there is a timeout and I still had HTTP 500, but I believe that increasing the timeout will solve the problem in both the apps I have

[2020-10-22 11:59] pablotdv commented on #655
It is solved, 1 of the applications that I applied the solution works, another one I used the solution but the hideness and liveness timeout is low, so there is a timeout and I still had HTTP 500, but I believe that increasing the timeout will solve the problem in both the apps I have

[2020-10-22 12:07] unaizorrilla commented on #655
I try to fix this today! Thanks for showing up!!

[2020-10-22 13:39] jinek commented on #658
Oh, I see that DefaultHealthCheckService exactly catches all exceptions but specific case of cancellation. I'm closing the issue for now, will try to clarify that first.

[2020-10-22 13:39] #658 closed

[2020-10-22 14:23] JorTurFer commented on #655
Hi @ckyongrtl ,
I am trying the issue and I only can reproduce the problem when the health check fails. Could you try if the problem appears only when the health check fails?
The object `_mongoClient` adds 1 element per failed check but only 1 per all successful checks.
I will make a PR in a few hours solving the problem related with the failed checks.

[2020-10-22 15:46] unaizorrilla commented on #656
Hi @sibbl
Answered on #620 New Apis from Azure Storage remove the table client. For now is included on CosmosDbClient as mentioned on #620

[2020-10-22 15:46] #656 closed

[2020-10-22 15:48] sibbl commented on #656
I understood and appreciate this change. However, the removal was already released to Nuget and the addition wasn't released yet.

As of now, using the latest versions there's no way to health check an Azure Table Store.

[2020-10-22 16:12] unaizorrilla commented on #656
Hi @sibbl

The healthcheck is on https://www.nuget.org/packages/AspNetCore.HealthChecks.CosmosDb/3.2.1-preview package

[2020-10-22 16:17] sibbl commented on #656
...which is not a stable version as I mentioned in my initial comment. 😉

I initially thought it might be a mistake that this was removed while not having a new version ready for production use yet. But I see there's no interest in such feedback and that's alright...

Thanks and enjoy your day!

[2020-10-22 16:20] unaizorrilla commented on #656
Hi @sibbl

I'm sorry if some of my words sounds like no interest!

I appreciate the feedback, the package is on pre-release because the Microsoft library to work with tables is also on pre-release I can't do anything meanwhile microsoft lib still on preview!

[2020-10-22 16:22] JorTurFer commented on #655
Hi @ckyongrtl ,
Finally I found the issue. It was related with the method to store the different clients and the modifier `w=majority`. The changes are merged and a new version (3.1.3) is triggered. It will be available in NuGet soon. Try it and reopen this issue if the problem persists.

[2020-10-23 09:23] iTiamo opened #660 "AddAzureKeyVault: 'IHealthChecksBuilder' does not contain a definition for 'AddAzureKeyVault'"
**What happened**: I used the AddAzureKeyVault method to add an Azure Key Vault health check. I then get the following error:

[code]

**What you expected to happen**: The Azure Key Vault health check to be registered.

**How to reproduce it (as minimally and precisely as possible)**:

1. Install AspNetCore.HealthChecks.AzureKeyVault (3.2.0)
2. Add Health checks in ConfigureServices
3. Add Azure K

[2020-10-25 13:04] Imar opened #661 "Script error when running the UI project"
I am trying to get HealthChecksUI to run, but encounter an exception in the browser. Here's what I did:

1. Create new ASP.NET Core 3.1 app with MVC

2. Install the following packages:

Install-Package AspNetCore.HealthChecks.UI
Install-Package AspNetCore.HealthChecks.UI.InMemory.Storage
Install-Package AspNetCore.HealthChecks.UI.Client

leading to these settings in the project file:

    <Package

[2020-10-26 13:25] Imar commented on #661
I can no longer reproduce this issue; it may have been related to a local IIS Express server having two web sites (one with the Health UI) pointing to the same SSL port so it may have been trying to pull the script files from the wrong server.

[2020-10-26 13:25] #661 closed

[2020-10-26 18:30] anthonielance commented on #660
The _setup_ action is a required parameter. I was able to get this to work by passing in _null_ or an empty action `setup => {}` for that parameter.

[2020-10-26 21:04] sis2004 commented on #119
@CarlosLanderas was it ever merged in?

[2020-10-27 08:20] iTiamo commented on #660
Thanks @anthonielance, must not have had my coffee that day.

[2020-10-27 08:20] #660 closed

[2020-10-31 14:05] yannify opened #663 "Upgrading HealthChecks.CosmosDb from 3.1.1 to 3.1.2 causes the health checks to fail with a resource not found response"
Upgrading HealthChecks.CosmosDb from 3.1.1 to 3.1.2 causes the health checks to fail with a resource not found response.

Output when using version 3.1.1:

[code]

Output when using 3.1.2

[code]

**Environment**:

- .NET Core version : 3.1
- Healthchecks version 3.1.1

[2020-10-31 14:34] JoeSainsburys commented on #150
I could really do with this functionality as well. I will raise a PR today if that is alright? I think I will go for the beforeOpen Action approach since that seems more flexible.

[2020-10-31 14:51] unaizorrilla commented on #663
Hi @yannify

Just tested with new Azure CosmosDb and is working well on my side.

´´´csharp
.AddCosmosDb("AccountEndpoint=https://[account].documents.azure.com:443/;AccountKey=[key]", "[DatabaseName]");
´´´

Please, can you check any other related issue or add more information?

[2020-11-01 15:03] yannify commented on #663
Hi @unaizorrilla,

Thanks for the quick response!  Your example helped me solve my problem, I was missing the optional parameter of "[DatabaseName]"

So it appears that the upgrade from 3.1.1 to 3.1.2 is potentially a breaking change for some.

I found this recent PR where [DatabaseName] was introduced.

[Add support to specify the database to check for existence](https://github.com/Xabaril/AspNet

[2020-11-01 15:45] unaizorrilla commented on #663
You can also add database name on the connection string without use the new parameter

[2020-11-01 15:54] #663 closed

[2020-11-03 13:13] inkel commented on #150
@JoeSainsburys thank you! I really hope they approve it soon and is available in the next release.

[2020-11-03 19:20] LeonT27 commented on #626
Hi,

I was looking for this too, to show more information when the check is healthy but, the SQLSERVER lib (and I think all of them), don't have a way to put a custom message.

You can take the .cs file (https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.SqlServer/SqlServerHealthCheck.cs) and add your custom message but, you're going to use and maintain tha

[2020-11-07 17:33] bkaid commented on #650
Not entirely certain its a .NET 5 issue, but something I'm noticing on .NET 5 is that if a health check fails (in my case .AddNpgSql), the UI writer (`ResponseWriter = UIResponseWriter.WriteHealthCheckUIResponse`) fails with the following error:

[code]

[2020-11-07 22:27] adrianiftode opened #665 "Azure Service Bus Queue and Azure Queue Storage registrations use the same name"
Please, fill the following sections to help us fix the issue

**What happened**:

These two health checks use the same name for the corresponding registrations

**What you expected to happen**:

To use different names

**How to reproduce it (as minimally and precisely as possible)**:

[AddAzureQueueStorage](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/96465d0424b8877378a7a3d

[2020-11-08 21:19] ahryshchanka opened #666 "ui-docker.md invalid image name in docker-compose example"
**What happened**: issue in documentation

**What you expected to happen**: example in ui-docker.md valid

**How to reproduce it (as minimally and precisely as possible)**: run code from [Sample Docker Compose area](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/doc/ui-docker.md#sample-docker-compose)

**Source code sample**:
[code]
invalid line `image: healthchecksui`

[2020-11-10 20:23] NateB2 commented on #537
It looks like the issue has been resolved in .NET 5: https://github.com/dotnet/efcore/issues/18673

[2020-11-10 21:10] CarlosLanderas commented on #537
We start migrating soon. If it works we el release cosmos provider nugget ;)

[2020-11-12 22:56] andyblack19 commented on #656
If you're going to remove this useful extension without any stable alternative, then at least update your readme which says it's available.
Also, shouldn't you have bumped the major version here, if making this breaking change and removing functionality?

[2020-11-13 05:40] Gopichandar opened #668 "Does AspNetCore.HealthChecks.UI.MySql.Storage supports MariaDB"
Can is use AspNetCore.HealthChecks.UI.MySql.Storage for MariaDB or any other workaround for this to use use HealthCheckUI with MariaDB backend

[2020-11-13 08:23] unaizorrilla commented on #656
Hi @andyblack19

Sorry!!  I agree and appreciate this feedback!

[2020-11-14 15:36] albertocorrales opened #670 "Check health of specific table in DynamoDB healthcheck"
**What would you like to be added**:
Check health of specific table in DynamoDB healthcheck

**Why is this needed**:
Right now the health check for DynamoDB it is only testing that you can perform ListTablesAsync operation successfully. However, when it comes to a real scenario, you might want to check health of a specific table. In this way you can ensure that your table exists and it is accessib

[2020-11-16 16:09] #150 closed

[2020-11-16 18:34] brechtvhb commented on #635
@Kampfmoehre Yes indeed that's my workaround too till there's a permanent fix.

[2020-11-16 18:47] CarlosLanderas commented on #635
This started happening when I updated the Kubernetes Client version. I do not know if the watch open connection drops. These days we are going to start migrating everything to dotnet 5.0 and I'll try all this stuff

[2020-11-16 20:30] adrianiftode opened #671 ".NET documentation contains extra </ param> in several extensions"
Please, fill the following sections to help us fix the issue

**What happened**:

The documentation contains extra ending param node in several places

**What you expected to happen**:

.NET documentation to be correctly formated

**How to reproduce it (as minimally and precisely as possible)**:
Visual Studio warning related to this issue

![image](https://user-images.githubusercontent.com/1375293

[2020-11-18 14:50] maikebing commented on #650
.Net 5
`
Method 'CommitTransactionAsync' in type 'Microsoft.EntityFrameworkCore.InMemory.Storage.Internal.InMemoryTransactionManager' from assembly 'Microsoft.EntityFrameworkCore.InMemory, Version=3.1.3.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.`

[2020-11-19 04:08] Gopichandar opened #673 "Is it possible to run the Healthcheck UI to execute on specific time daily?"
Is there a way to run the Healthcheck UI to execute on specific time daily? I have a scheduled tasks that run on daily basis and I want to monitor those with HealthcheckUI.

I know we can have "EvaluationTimeInSeconds" to 24*60*60 for daily task but that wont give flexibility to run on specific time like 10am daily,

Any workaround for this.  thanks in advance.

[2020-11-19 14:05] netcorenewbee opened #674 "HealthChecksUI is not logging execution records to DB when no instance of the application is open"
Please, fill the following sections to help us fix the issue

**What happened**: My application is hosted in IIS, I see executions being recorded into the db only when the application is open in the browser. I'm using SQLServerStorage. Is this by design?

**What you expected to happen**: I expect the application to continuously monitor my healthcheck endpoints even when the application is not open

[2020-11-19 19:22] Jaxelr opened #675 "Allow HttpHandlers on AddUrlGroup and AddUri extension methods"
**What would you like to be added**:
I would like the ability to customize the HttpClientHandlers in a similar fashion to the ConfigureWebhooksEndpointHttpclient and ConfigureApiEndpointHttpclient customization handler.

**Why is this needed**:
I currently have some websites that i would like to monitor behind an IIS 10 with windows authentication enabled. I would like to pass network credentials

[2020-11-20 07:55] tiakun opened #676 "Health checks for IDbConnection"
**What would you like to be added**: Health checks package for generic `IDbConnection`

**Why is this needed**: While current health checks packages covers all popular databases, the packages themselves depends on the data access package which might conflict or duplicate with the package used in the application project. For example, there are `System.Data.SqlClient` and `Microsoft.Data.SqlClient`

[2020-11-20 09:18] amih90 opened #677 "Invalid host services while using `AddHealthChecksUI()` with Azure Functions"
Please, fill the following sections to help us fix the issue

**What happened**:
Failed to use HealthChecksUI together with Azure functions dependency injection, not sure if it is a bug or should be an enhancement. I haven't seen any docs about it

exception:
[code]

**What you expected to happen**:
I've expected that a UI endpoint will be exposed as azure function.

**How to reproduce it (as mini

[2020-11-20 13:04] Kampfmoehre opened #679 "Allow custom headers in Kubernetes Operator health checks"
**What would you like to be added**:
I would like to have the ability to specify a custom header that is sent when the Kubernetes operator makes the health check request. Add another optional field where I can specify a header.

Alternatively send any header that at least makes the request identifiable as health check from the UI.

**Why is this needed**:
The health checks are spamming the request

[2020-11-20 13:59] CarlosLanderas commented on #650
Sorry, I've been very busty this last weeks and I'm gonna start working on this ASAP

[2020-11-21 02:08] #640 closed

[2020-11-21 02:11] CarlosLanderas commented on #635
Ok, I think I found the problem. This is a regression from the previous version.
It looks like the internal HttpClient is disconnecting due to inactivity. I can see this in the logs:

[02:10:10 ERR] The request was canceled due to the configured HttpClient.Timeout of 100 seconds elapsing.

I'm going to add back the reconnection on watch close. Next operator version will address this.

[2020-11-21 15:32] brechtvhb commented on #635
Nice, thank you!

[2020-11-22 16:13] CarlosLanderas commented on #679
@Kampfmoehre we can add this to the CRD definition and allow to configure this as annotations in the yaml. I can implement this for the next version

[2020-11-22 16:14] #671 closed

[2020-11-22 16:15] #586 closed

[2020-11-22 16:17] CarlosLanderas commented on #677
@amih90 , the UI is compatible with Asp.Net Core and can be run in Kestrel or IIS servers.
I don't think this can be run within an Azure Function due to it's internals, hosted services etc.

We have a docker image that you can use in Azure Containers Instances, Kubernetes, WebApp for containers, etc.

[2020-11-22 16:17] #677 closed

[2020-11-22 16:26] CarlosLanderas commented on #668
Hello @Gopichandar . Let me take a look into it and maybe we can release a new Maria DB provider package

[2020-11-22 16:30] CarlosLanderas commented on #646
@netcorenewbee take a look to the restrict access UI with OIDC sample that protects the endpoints.
You can actually create a policy that requires a role and use the RequireAuthentication on the MapHealthChecksUI endpoint

[code]

[code]

[2020-11-22 16:32] CarlosLanderas commented on #665
@adrianiftode this looks like a bug!. Thanks for catching this

[2020-11-22 16:35] CarlosLanderas commented on #650
We are releasing a preview1 version of all the packages today. :) (5.0-preview1)

[2020-11-22 16:35] #650 closed

[2020-11-22 16:38] maikebing commented on #650
Thank you very much.

[2020-11-22 16:40] CarlosLanderas commented on #632
@dsfrederic, you can use a different Response Writer and map it to another health path.

For example, use default healthchecks in /healthz

[code]

Use custom healthchecks and transformation with your custom response writer:

[code]

Add them as two different remove endpoints:

/healthz
/healthz2

[2020-11-22 16:57] CarlosLanderas commented on #601
#626

[2020-11-22 16:59] CarlosLanderas commented on #598
Closed for inactivity. Feel free to reopen

[2020-11-22 16:59] #598 closed

[2020-11-22 17:00] CarlosLanderas commented on #666
Thanks for the PR. Closing!

[2020-11-22 17:00] #666 closed

[2020-11-22 17:01] CarlosLanderas commented on #625
@skiyak, we decided to not introduce this inside the UI as there are simpler mechanisms to do this. Take a look to the new OIDC samples added to the samples folder:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/samples/HealthChecks.UI.Oidc

Thanks!

[2020-11-22 17:01] #625 closed

[2020-11-22 17:01] #576 closed

[2020-11-22 17:03] CarlosLanderas commented on #673
Hello @Gopichandar, Sadly, this is not possible at the moment.

[2020-11-22 17:25] CarlosLanderas commented on #626
Hello, we could implement something like this:

[code]

However, I would like to have a common surface for all healthchecks and the problem I foresee is that is gonna be very difficult to know what params/information every user is gonna need. Maybe we don't need this for all HealthChecks and can only be implemented in those that this feature is more requrested.

[2020-11-22 18:00] CarlosLanderas commented on #512
@denisky , latest docker image (5.0.0-preview1) updates to the latest Azure App Configuration package. The former version was extremely old. Please, give it a try and if you find some problem let us know

[2020-11-22 18:00] #512 closed

[2020-11-22 18:47] bakgerman opened #682 "AddSqlLIteStorage and AddInMemoryStorage throw Exception on .NET Core 3.1 and EF 5.0"
Having issues using InMemory or SqlLite storage when changing from EF 3.1.10 to 5.0.
The issues occur using either .NET Core 3.1.10 or 5.0.

First Issue:

Calling services.AddHealthCheckUI.AddSqliteStorage throws the following Exception:

 Message=Method 'Create' in type 'Microsoft.EntityFrameworkCore.Sqlite.Query.Internal.SqliteQueryableMethodTranslatingExpressionVisitorFactory' from assembly 'Mi

[2020-11-22 19:04] bakgerman opened #683 "Allow IBM MQ Health Check to do a deeper check including the Queue/Topic/Process"
**What would you like to be added**:
Today the health check constructs a new MQMQueueManager and checks for lack of an Exception.  Which works great.  I would like it to optionally also call queueManager.AccessQueue() or queueManager.AccessTopic() or queueManager.AccessProcess() to see if said entity actually exists.  All 3 of these take a string as the 1st argument and possibly the 2nd argument o

[2020-11-22 19:09] bakgerman opened #684 "More liberal DNS Check - check only for existence of at least 1 IP address"
**What would you like to be added**:
So today DNS Check compares the dns name and IP number in the arguments.   I wanted a DNS check that only checks if there is at least 1 IP Address found, in other words I wanted only to check the the DNS name is in fact registered.

**Why is this needed**:
I don't need to verify that the IP Address is a certain value, just that the dns name has at least 1 IP Ad

[2020-11-22 19:48] CarlosLanderas commented on #682
Hello @bakgerman
Why are you using .NET Core 3.1 with EF 5.0? What is the use case?

I'm running the InMemory provider targeting net 5.0 and I do not have any problem,

[2020-11-22 20:14] CarlosLanderas commented on #684
We have the DnsResolveHealthCheck, we can add DnsResolveHostsCountHealthCheck to the network package.

[2020-11-22 20:17] CarlosLanderas commented on #668
According to Pomelo package this are the supported versions:

Currently supported versions are:

MySQL 8.0
MySQL 5.7
MariaDB 10.5
MariaDB 10.4
MariaDB 10.3

If you are using that versions you might only configure the connection string and it should work.

Give it a try and let us know if it does not work.

Thanks!

[2020-11-22 20:17] #668 closed

[2020-11-23 17:53] bakgerman commented on #682
Thanks, I will look into this on my end with a new empty solution and see where it got off track.

[2020-11-23 17:54] bakgerman commented on #684
That would be nice.  You could maybe specify an int that says at least how many IPs should be found.

[2020-11-23 18:10] bakgerman commented on #682
BTW EF Core 5.0 is supported on any .NET Standard 2.1 platform, so using that on .NET Core 3.1 is allowed.
EF Core 5.0 does not imply that it is tied to .NET 5.0.

See https://docs.microsoft.com/en-us/ef/core/what-is-new/

Also see https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/breaking-changes for breaking changes.

[2020-11-23 18:18] bakgerman commented on #683
Maybe build IBMMQQueueHealthCheck and IBMMQProcessHealthCheck, where there is additional string argument for queueName or processName.

[2020-11-23 21:30] CarlosLanderas commented on #682
We migrated all packages to net 5.0 (included healthchecks)
As we support asp.net core only we have moved on from netstandard in 5.0 branch.

That might not be compatible

[2020-11-24 07:24] CarlosLanderas commented on #684
@bakgerman take a lot to the PR (you can configure minHosts and maxHosts)

[2020-11-24 07:25] CarlosLanderas commented on #675
@Jaxelr PR created!

[2020-11-24 09:40] vishal-ls opened #687 "Multiple Azure Service Bus Subscription Health Check"
**Getting error if adding multiple azure service bus subscription**:

**Sometimes a micro service may be consuming events from multiple service bus topics. Right now while adding health check for multiple service bus topic subscription throws error**:

Error detail is :
System.ArgumentException: Duplicate health checks were registered with the name(s): azuresubscription (Parameter 'registrations')

[2020-11-24 11:06] JackPoint opened #688 "Application Insights - Availability"
**What would you like to be added**:
I added the package to report the health checks to Application Insights. It seems I can only find the results via Metrics -> Namespace: azure.applicationinsights -> Metric: AspNetCoreHealthCheckStatus. This also only reports the total, not the individual checks.

I expected to see the availability in the Application Insights Availability section. That gives me

[2020-11-24 16:01] bakgerman commented on #682
OK, I see: .NET 5.0 + EF 5.0 + Health Check 5.0 Preview works on my PC.
A mixture of versions does not.  Will close the issue.

[2020-11-24 16:01] #682 closed

[2020-11-24 16:02] bakgerman commented on #684
Cool, I will examine the PR by end of today.

[2020-11-24 16:55] maikebing commented on #410
@MikeChristensen Thank you very much，I modified the regular expression
`^(?<scheme>https?):\/\/((\*)|(0.0.0.0))(?=[\:\/]|$)`
`^(?<scheme>https?):\/\/((\+)|(\*)|(0.0.0.0))(?=[\:\/]|$)`

[code]

[2020-11-25 03:43] bakgerman commented on #683
I am working on a PR for this, will submit in a few days

[2020-11-25 07:06] CarlosLanderas commented on #683
Great  @bakgerman, thanks!

[2020-11-25 11:35] rebeccapowell commented on #621
Same issue. It seems like using Serilog ElasticSearch Sinks in combination with this package causes an issue, since this dependency has a specific version requirement.

[2020-11-25 11:50] netcorenewbee commented on #646
Thank you, I will take a look today. This will however only restrict users to the HealthUI page itself it sounds like. Not to individual endpoints configured for UI.

This is still a useful feature to provide some level of restriction.

[2020-11-25 14:02] CarlosLanderas commented on #646
Hello! With that approach you protect all the UI resources. If you talk about the health endpoint themselves, those are an endpoint exposed by microsoft package and you can also use RequireAuthentication

[2020-11-25 14:32] bakgerman commented on #683
So far I have added in my branch

HealthChecks.IbmMQ
    IbmMQProcessHealthCheck
    IbmMQQueueHealthCheck
    IbmMQTopicHealthCheck

HealthChecks.IbmMQ.DependencyInjection
    IbmMQProcessHealthCheckBuilderExtensions
    IbmMQQueueHealthCheckBuilderExtensions
    IbmMQTopicHealthCheckBuilderExtensions

UnitTests.DependencyInjection
   Added missing folder for IbmMQ
   Added missing unit test for

[2020-11-26 07:40] #675 closed

[2020-11-26 08:39] deathchurch commented on #674
I am also seeing this issue with the exact same setup.

[2020-11-26 09:26] deathchurch opened #690 "Order by Name on Health Check Status page"
The ability to order the health checks on the Health Check Status page by Name rather than the Id in the database.

I have added the checks in alphabetical order in appsettings.json and would like to keep that order when displaying the Health Checks Status page. I assume they get added into the DB in the order they complete for the first time.

I assume its this line https://github.com/Xabaril/Asp

[2020-11-30 15:38] netcorenewbee commented on #674
One reason why I think this could be happening is because I have both my localhost and the IIS instance pointing to the same DB server. If I leave my IIS instance alone, it is saving execution records just fine.

[2020-11-30 19:47] netcorenewbee commented on #646
When will this change be available in production and and what version of the HealthChecksUI do you recommend I download?

[2020-12-01 11:21] niranjan2020 opened #692 "Unable to run health check ui in docker"
net core 5 application. I have added docker-file and running container which works fine. I have added health check into my application. In my application I have just added swagger and added sql health check. Below is my dockerfile

[code]

When I run this application it works fine and when I open https://localhost:32788/swagger/index.html it works fine
Also when I open https://localhost:32788/hc T

[2020-12-01 12:14] hlovdal opened #693 "Missing changelog with breaking API notices"
**What happened**:
Updating AspNetCore.HealthChecks.Rabbitmq from 3.0.3 to 3.1.4 caused build failure due to breaking API changes.

**What you expected to happen**:
When APIs are changed in a breaking way, that should be explicitly documented.

**Source code sample**:

[code]

[code]

**Solution**.

Please add a proper changelog document to this projects to at least document API breakages, althoug