[2019-07-30 16:22] #247 closed

[2019-08-01 20:18] mattmelton opened #248 "AzureServiceBusTopicHealthCheck + Partitioning"
Adding a message with the following will fail if the Topic is partitioned:

[code]

The documentation [prescribes several methods of resolving a partition key](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning#using-a-partition-key) depending on the configuration.

I would suggest a configuration callback func/delegate. For example:

[code]

[2019-08-06 15:02] inech opened #250 "AddUrlGroup - show urls in data"
Hi! We're migrating a project from deprecated Microsoft health checks ([Microsoft.Extensions.HealthChecks](https://github.com/dotnet-architecture/HealthChecks)) to new Microsoft.Extensions.Diagnostics.HealthChecks and we've decided to use your cool project :)

The deprecated `.AddUrlCheck(...)` contained `data` with url and status code of the response:
[code]
([link](https://github.com/dotnet-arch

[2019-08-06 16:21] danielearwicker opened #251 "Short refresh interval makes DOS attack a bit too easy"
An issue was logged #229 that was closed, but it's a genuine problem. Any user who knows the status URL can set the refresh interval to zero (or even a negative value) and this may overload the services being health-checked, ironically leading to them becoming unhealthy.

We are scared of letting users know the URL for this reason! Can we have the option to hide the refresh interval control from t

[2019-08-06 16:24] unaizorrilla commented on #251
PR is welcome

[2019-08-06 16:24] unaizorrilla commented on #250
PR is welcome

[2019-08-08 14:53] mattmelton commented on #248
FWIW we can't use the Azure Service Bus checks in our production env (which is partitioned) until a partition key or message id is set

[2019-08-09 14:30] Kiechlus commented on #248
Having the same problem, when I use partitioned queues with duplicate detection enabled:
`"exception":"Batching brokered messages with distinct SessionId, PartitionKey, or MessageId  is not supported for an entity with partitioning and duplicate detection enabled.LogicalPartitionId:250::PartitionKey:::SessionId:::MessageId:aa371440ad2f4f9f86a2877f5b1f4fe4::ViaPartitionKey::: Reference:955d3fa5-e52

[2019-08-09 20:39] panna-ahmed commented on #18
@CarlosLanderas I have everything right but still getting this TypeError: A.filter is not a function error.
Here are  my config:

app.UseHealthChecks("/health", new HealthCheckOptions()
            {
                Predicate = _ => true,
                ResponseWriter = UIResponseWriter.WriteHealthCheckUIResponse
            })
            .UseHealthChecksUI(setup =>
            {

[2019-08-12 09:46] unaizorrilla commented on #248
Hi guys!

I’m on vacation but in a few days I try to check this issue

[2019-08-12 15:08] mnadeau2 commented on #243
same issue

[2019-08-12 21:21] hugoterelle opened #253 "Azureservicebus checks is going crazy ..."
We have an issue in our production environment thanks to Healthchecks servicebus.
How can we cancel all these messages?

![image](https://user-images.githubusercontent.com/2490657/62899255-adf79880-bd57-11e9-9605-66733a6f047f.png)

[2019-08-12 21:34] unaizorrilla commented on #253
O try to review this healthcheck tomorrow and share with you more info!

[2019-08-12 22:41] inicolay commented on #253
we are seeing this issue as well

[2019-08-12 23:15] unaizorrilla commented on #253
I try to check this asap! Is so curios because the healtcheck is scheduling and cancel the message. I need check if some is broken or is a ‘permission ‘ issue in the client side.

Can you see any error on log message from helathcheck Code?

[2019-08-12 23:40] unaizorrilla commented on #253
Is queue or topic health check?

[2019-08-12 23:54] unaizorrilla commented on #253
Hi @hugoterelle @inicolay

I debug AzureServiecBusTopicHealthCheck and is working fine on my side! I try to change the policy to use only send permission and also is working fine.

Can you create a repro that I can validate with my own topic service?

[code]

This healtcheck create a scheduler message and cancel it, if you see many scheduled message this is because cancelation is not working? Are

[2019-08-13 00:14] #248 closed

[2019-08-13 00:18] unaizorrilla commented on #248
Hi @mattmelton  @Kiechlus

A new version is on release build, When finished 2.2.5 will be on NuGet for Azure Service Bus, with this version you can set a Action<Message> when register the healtcheck in order to configure any property ( MessageId, PartitionKey etc )

Thanks to @mattmelton to contribute this!

[2019-08-13 06:42] mattmelton commented on #253
@hugoterelle - try Service Bus Explorer: https://github.com/paolosalvatori/ServiceBusExplorer

I think there are a couple of issues with the code:

- RetryPolicy.NoRetry won't retry cancellation calls
- Cancelling ought to be a 'best-efforts' approach, i.e. a try-catch-finally with attemps in both the try and finally blocks
- CheckHealthAsync should throttle - currently the Azure code catches and

[2019-08-13 08:19] hugoterelle commented on #253
@mattmelton I tried Servicebus explorer and I also wrote some code to cancel the scheduled messages.  But without the "sequence number", I cannot cancel any message (this is a long value, I cannot try all possible values)

@unaizorrilla It is a queue.

Here is the code we use:

[code]

And here is the error we found in our logs before finding the problem in the queue:

**Health check "azurequeue"

[2019-08-13 08:38] unaizorrilla commented on #253
I try queues and topics yesterday and works fine! Is a regular queue? Partioned?duplication detection?

[2019-08-13 08:47] hugoterelle commented on #253
Yes, this queue is partitionned.

![image](https://user-images.githubusercontent.com/2490657/62927748-78829780-bdb7-11e9-9b38-20a33e654f9d.png)

[2019-08-13 08:57] unaizorrilla commented on #253
Can you try latest version? (Published yesterday) 2.2.5

[2019-08-13 09:06] hugoterelle commented on #253
The problem is not in development.  It happened in our production environment while (maybe) servicebus was having a connection issue.

We cannot test on demand as we need to publish a new version in production.  Before publishing a new version, it has to be tested, validated, etc.

Moreover, the problem only happened once (we use your library since 2 months).

Our concern right now is to cleanup m

[2019-08-13 09:54] unaizorrilla commented on #253
Well,
1. Is so curious your queue is partitioned and healthcheck is working because this feature only work with 2.2.5 after a @mattmelton PR that I merge yesterday.
2. By default scheduled messages is with a 2 hours time, after this 2 hours this messages are moved from scheduled to active messages and you can delete it using 360 tool, sdk etc. You can filter this message inspecting the body with c

[2019-08-13 11:20] hugoterelle commented on #253
@unaizorrilla These messages are present since 2-3 days as "scheduled" and we are not able to delete them using sdk, tools, etc.

[2019-08-13 11:36] unaizorrilla commented on #253
No sense! The scheduling is for 2 hours by default! I check the code this morning and after this time message are moved to active Status

[2019-08-13 11:43] hugoterelle commented on #253
And why @inicolay is facing the same issue?

[2019-08-13 11:51] wingchunninja commented on #168
Hi,

we are experiencing the same issue.

We have a .NET Core project that is being built with a docker image and it is published as App service in Azure.

As application settings are used the ones from azure in the following way HealthChecksUI__HealthChecks__0__Uri (used as environment variables).

We have three projects published the same way. In the healthchecks-ui overview
the other two show s

[2019-08-13 12:31] unaizorrilla commented on #253
Hi @hugoterelle

Sorry, I try to help!! I try to do the same scenario but in my side is work fine. I schedule message a without cancel and after the specified time messages are active!

If i can do something more, please let me know!

[2019-08-15 13:41] Flouss opened #254 "Typo in configuration example for "EvaluationTimeOnSeconds""
Current:
`{
  ...
    "EvaluationTimeOnSeconds": 10,
    ...
 }`
Should be:
`{
  ...
    "EvaluationTimeInSeconds": 10,
    ...
 }`

[2019-08-16 13:01] Kiechlus opened #255 "Batching brokered messages is not supported for an entity with partitioning and duplicate detection"
We always used queues with partitioning enabled. When we additionally turned on duplication detection, health tests fail with the following error:

`{"status":"Unhealthy","description":null,"exception":"Batching brokered messages with distinct SessionId, PartitionKey, or MessageId  is not supported for an entity with partitioning and duplicate detection enabled.LogicalPartitionId:206::PartitionKey

[2019-08-16 13:59] unaizorrilla commented on #255
Hi @Kiechlus

With 2.2.5 registration method you have a configuringMessage action to setup your sessionid, partitionKey and other properties.

[2019-08-18 08:49] #255 closed

[2019-08-18 08:50] unaizorrilla commented on #253
I close the issue because we don't have more feedback or actions! Feel free to Re-Open

[2019-08-18 08:50] #253 closed

[2019-08-18 08:51] unaizorrilla commented on #251
Hi @danielearwicker

Can you check PR?

[2019-08-18 14:44] danielearwicker commented on #251
PR was submitted by me :)

[2019-08-20 03:09] saber-wang opened #256 "Can UseHttpMessageHandler accept a Func < IServiceProvider, HttpMessageHandler>?"
The "Cannot access a disposed object. Object name:'Sockets HttpHandler'" error will occur when passing an instance.The problem is caused because a single HttpClientHandler instance is used for all requests. It's the HttpClientFactory's job to manage, pool and recycle handlers.
https://stackoverflow.com/questions/54256792/net-core-httpclientfactory-dispose-httpclienthandler

[2019-08-20 05:05] CarlosLanderas commented on #256
You are absolutely right. It is being used in with a named client but this should be a factory.

[2019-08-20 05:19] CarlosLanderas commented on #243
I'm gonna fix today #256 and use the time to have separate http handlers for the api and the webhooks client.

[2019-08-20 06:34] saber-wang commented on #256
@CarlosLanderas Are there plans to support NetCore 3.0??

[2019-08-20 09:27] CarlosLanderas commented on #256
@saber-wang , yes of course :)

[2019-08-20 11:26] CarlosLanderas commented on #256
UI Version 2.2.33 is being published. You have a usage sample here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/test/FunctionalTests/HealthChecks.UI/Configuration/UIConfigurationTests.cs#L171-L190

[2019-08-20 11:27] CarlosLanderas commented on #243
UI Version 2.2.33 is being published. You have a usage sample here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/test/FunctionalTests/HealthChecks.UI/Configuration/UIConfigurationTests.cs#L171-L190

[2019-08-20 12:09] saber-wang commented on #256
@CarlosLanderas  Good:)

[2019-08-20 12:09] #256 closed

[2019-08-20 12:16] CarlosLanderas commented on #256
@saber-wang  is working for you?

[2019-08-20 12:16] #243 closed

[2019-08-20 12:22] CarlosLanderas commented on #227
@whoiskevinrich we do not have a functional test for AWS S3 as it is a cloud service. The usage is passing the arguments needed to create a client:

Options receive a access-key, a secret key, the bucket name and a AmazonS3Config object.

You have a sample here:

https://docs.min.io/docs/how-to-use-aws-sdk-for-net-with-minio-server.html

[code]

[2019-08-20 12:22] #227 closed

[2019-08-20 12:28] CarlosLanderas commented on #254
Hello @Flouss , this issue has already been opened in the past. We will change it when shipping the next major version for .net core 3.0 because this breaking change affects all appsettings.json running health checks nowadays.

Thanks for reporting!.

[2019-08-20 12:28] #254 closed

[2019-08-20 12:40] saber-wang commented on #256
@CarlosLanderas I work in NetCode 3.0 and currently do not support it, so I use my own compiled version. I see that the source code is consistent with my modification, and it's working very well at present.

[2019-08-21 09:42] Kiechlus commented on #255
Ok thanks, it worked by adding a partition key: `configuringMessage => configuringMessage.PartitionKey = "123"`

[2019-08-22 14:57] kafeltz commented on #18
@panna-ahmed same here... the server is returning a json the UI don't understand.

And taking a look at the source code `AspNetCore.Diagnostics.HealthChecks\src\HealthChecks.UI\client\components\LivenessPage.tsx` the input is really wrong. The `ResponseWriter = UIResponseWriter.WriteHealthCheckUIResponse` is not sending the correct json to the UI.

[2019-08-22 17:19] CarlosLanderas commented on #18
@panna-ahmed please check the documentation, you are setting the UI API to the same path of the healthchecks endpoint. That's why the UI is not retrieving the correct data.

[2019-08-22 17:27] rokansikder opened #257 "The SSL connection could not be established"
When application deployed to IIS, HealthCheck UI doesn't work. It shows "The SSL connection could not be established, see inner exception" which eventually send lots of error notification to sentry (we logged errors in Sentry). But HealthCheck UI works perfectly during development. I used the following configuration
[code]

And following appsettings.json

[code]

I also tried with following code

[2019-08-22 17:30] CarlosLanderas commented on #257
HealthChecks UI has now the chance to configure the HttpMessageHandlers for its clients, I guess we should expose the same behaviour for the URL group health check

[2019-08-22 18:06] rokansikder commented on #257
Could you please provide sample code?

[2019-08-28 06:44] Zetanova commented on #204
Any news?

I cant find a new property in WebHookNotification

[2019-08-28 07:27] Zetanova opened #259 "HealthCecks-UI Webhook section"
The UI section "Webhooks" has low value and is leeking secrets from the Url or Payload.
Most of the destination require some kind of ApiKey in the Url or in the Payload

It would be better just to display the name, lastUsage, lastResultStatus and lastResultMessage(error message).
Then it would have some diagnostic purpose.

[2019-08-29 14:32] twurm opened #260 "Docker Container - EvaluationTimeOnSeconds"
There doesn't appear to be a way to override the EvaluationTimeOnSeconds when using docker images.  We tried setting: -e 'HealthChecksUI:EvaluationTimeOnSeconds=60' but the requests still seem to occur every 10 seconds.

Docker Image: xabarilcoding/healthchecksui:latest

[2019-09-03 07:34] kooshanabedian opened #261 "Migration to Net Core 3.0"
Hi, what is your time frame to migrate to Net Core 3.0?

As of today I get this exception trying to run UI on 3.0:

[code]

[2019-09-03 07:53] CarlosLanderas commented on #261
We are gonna merge the UI version 2.0 and then migrate to net core 3.0. All this should be available next week.

[2019-09-03 07:53] kooshanabedian commented on #261
Great!

[2019-09-03 14:05] sevansoft commented on #260
Try EvaluationTimeInSeconds, I think there is a discrepancy between some of the samples/the documentation and the implementation

[2019-09-03 14:22] sevansoft opened #262 "How to Control AddApplicationInsightsPublisher interval?"
When using
`services.AddHealthChecks().AddApplicationInsightsPublisher();`

I am seeing customEvents items entered into the associated Application Insights Logs every 30 seconds. What settings are involved in this internal and can they be overridden?

[2019-09-03 16:31] unaizorrilla commented on #262
Hi @sevansoft

You can configure your TelemetryChannel on AI

https://docs.microsoft.com/en-us/azure/azure-monitor/app/telemetry-channels
https://docs.microsoft.com/es-es/azure/azure-monitor/app/telemetry-channels#configuration-in-code-for-aspnet-core-applications

[2019-09-03 16:31] #262 closed

[2019-09-03 16:52] OmnipotentOwl commented on #113
I see there is currently a PR #231  that would resolve this that has been open for over a month with no reviewers commenting on it. Hopefully, it will get some traction soon that will improve the Kubernetes experience.

[2019-09-03 21:09] CarlosLanderas commented on #113
I'll review it tomorrow. We have been working in UI 2.0 and .net core 3.0

[2019-09-03 21:22] CarlosLanderas commented on #259
Related to #204

I think we are going to show just the webhook name, that should identify the service, or maybe we can just strip out the querystring and keep the url host

[2019-09-03 21:26] CarlosLanderas commented on #257
Here you have a test configuring webhooks and health collector http handlers:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/test/FunctionalTests/HealthChecks.UI/Configuration/UIConfigurationTests.cs#L171-L191

[2019-09-03 21:27] #257 closed

[2019-09-03 23:06] #50 closed

[2019-09-03 23:07] CarlosLanderas commented on #220
Bump! New UI is ready.

[2019-09-03 23:08] CarlosLanderas commented on #261
The new UI has been released and merged to master branch and we've created a 3.0 branch from master. We are gonna start working on it

[2019-09-03 23:08] #261 closed

[2019-09-03 23:10] CarlosLanderas commented on #260
Yes. The property has a typo. We are gonna fix it in 3.0 because it is a breaking change.

As @sevansoft points is InSeconds:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Configuration/Settings.cs

[2019-09-03 23:12] CarlosLanderas commented on #260
Related #254

[2019-09-03 23:13] CarlosLanderas commented on #237
Ping @lfraile

[2019-09-03 23:14] CarlosLanderas commented on #226
Ping @unaizorrilla

[2019-09-04 00:10] carlowahlstedt commented on #220
v34?

[2019-09-04 05:32] lfraile commented on #237
Sorry I didn't read this before.

Seems reasonable. All the code is in the repo so if you want to take a look go ahead. Let me know if you need help. We can do a remote coding session if needed.

[2019-09-05 15:38] pthelusma opened #265 "Options from environment variables"
Hello, using the docker image but I cannot seem to find a way to pass in environment variables or use appsettings to override the default UIPath and APIPath. Is there a way to do this already? Would this be a viable option to contribute to the codebase?

[2019-09-06 14:31] peterbomers commented on #265
I have almost the same question
We like to do some branding of the docker image.
Is it possible to specify an inline css environment variable?
Or add a specific key to the AAC service?

[2019-09-06 14:39] CarlosLanderas commented on #265
I have already thought about the CSS stuff. I'm gonna add some parameters for docker.

 For the API paths, let me take a look

[2019-09-07 05:31] cilerler commented on #159
@CarlosLanderas It looks like we have the same issue again starting from 2.30.  Can you re-open the issue, please?  Thanks.

[2019-09-07 06:56] cilerler opened #267 "K8S Error discovering service <servicename>. It might not be visible"
_Possible duplicate of https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/113_

When I try to use Kubernetes discovery, it identifies the services which have `HealthChecks: "true"` in the label but throws the error below.

[code]

[2019-09-07 13:02] CarlosLanderas commented on #159
Right now, it is fully configurable. Use UseRelative... in UseHealthChecksUI setup Properties or disable them to match your paths. You should be able to configure all scenarios.

Could you give a sample of your current code?

[2019-09-08 01:18] cilerler commented on #159
The issue is exactly the same, just change the line below https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/e616bb9545a38106268f23703704e9b13c14630b/samples/HealthChecks.UIAndApiCustomization/Startup.cs#L46 as

[code]

[2019-09-12 13:48] NxSoftware opened #268 "Health Check driven from non-JSON response"
Is it possible to configure the Health Check UI to look for a 200 OK response rather than attempting to parse the JSON response?

For example we have several services configured with Health Checks and returning the expected JSON response. We also have another service that is written by an external team and doesn't expose a health check API, however it does have a simple idempotent GET endpoint tha

[2019-09-13 07:16] NxSoftware commented on #268
I guess, at least for now, I could add a custom [Uri HealthCheck](https://www.nuget.org/packages/AspNetCore.HealthChecks.Uris/) to the service running the Health Checks UI then configure the UI to point to itself.

[2019-09-16 10:08] Zoon-bori opened #269 "KubernetesHttpClientExtensions stop collecting if an endpoint returns an empty response"
Hi Team,

When I add two "uri" in the appsettings.json file as below, it returns below null reference error notification.
    "uri": [
      {
        "name": "Site A",
        "value": "https://www.SiteA.com/"
      },
      {
        "name": "Site B",
        "value": "https://www.SiteB.com/"
      }

-Error Notification----------------------------------------------------------------------------

[2019-09-16 10:09] Zoon-bori commented on #269
wrong path.

[2019-09-16 10:12] Zoon-bori commented on #269
Hi @unaizorrilla
Please help check this if this is the same issue here.
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/92

Thanks for your support in advance.

[2019-09-17 15:37] unaizorrilla commented on #269
Hi @CarlosLanderas

Can you check this?

[2019-09-17 15:38] unaizorrilla commented on #267
Hi @CarlosLanderas

Can you check this?

[2019-09-17 21:28] jnovick opened #271 "Allow scraping Prometheus metrics instead of pushing"
If applications already have Prometheus metrics, it would be nice to be able to just add health check metrics in instead of pushing them. Where I work, we run our application in Kubernetes and federate our Prometheus servers between environments. We scrape automatically in Kubernetes. We don't like to use the push pattern, we prefer Prometheus scrape at a regular interval. This is also the recomme

[2019-09-18 04:12] hpcsc opened #272 "Allow specifying service url for DynamoDB check"
Hi,

For DynamoDB, Amazon SDK provides an option in `AmazonDynamoDBConfig` to specify `ServiceUrl`. Is it possible to allow setting this option when using DynamoDB health check?

This option is useful when running the application with local DynamoDB (.e.g. in docker container). Everything can be tested locally without connecting to actual DynamoDB on AWS

Thanks

[2019-09-18 09:03] AmirSasson commented on #234
Experiencing the same. did you find a solution? @khteh ?

[2019-09-18 15:42] unaizorrilla commented on #272
PR welcome!! :-)

[2019-09-18 15:44] unaizorrilla commented on #234
Well,

I'm not a expert guy with MySql (this is a contribution healthcheck), is Mysql.Data the recommended data access library?

Can you add global:[namespace] to spcify valid type in your code?

[2019-09-19 01:32] khteh commented on #234
`MySqlConnectionStringBuilder` was and old code from my legacy application. I remove that and use connection string defined in <foo>.json

[2019-09-19 15:46] Zetanova opened #273 "HealthChecks.EventStore under Linux: connection leak"
HealthChecks.EventStore lets the connection open or does not properly dispose it.
There is a know issue with sockets under linux,
where undisposed sockets don't get finalized by the GC and stack up over time.

HttpClient's and other components fill then fail with "address already in use"

[2019-09-19 16:35] cilerler opened #274 "Historical data"
Is there an easy way to see historical data?

[2019-09-19 16:54] CarlosLanderas commented on #274
@evacrespob and I are working in a new feature in the UI that will allow to see healthcheck state changes history

[2019-09-20 12:43] Henkpuik opened #275 "Parameters Ipaddress and item.host are not showing in UI"
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/9b6559fb12e4cc2378e0d075cf6a0ff57cf9e91e/src/HealthChecks.Network/DnsResolveHealthCheck.cs#L30

return new HealthCheckResult(context.Registration.FailureStatus, description: "Ip Address {ipAddress} was not resolved from host {item.Host}");

I think this is the solution for it.

return new HealthCheckResult(context.Registration.Fai

[2019-09-21 19:25] unaizorrilla commented on #274
Please checkout latest verssion of the UI for netcore2.2!

[2019-09-21 19:25] #274 closed

[2019-09-21 21:41] cilerler commented on #265
👍 for CSS environment variable

[2019-09-21 22:14] cilerler commented on #274
Nice job! ⭐️ Thank you 🍪 ☕️

However, not seeing **description** kind of keeps the issue alive.  And I can see your UI concern, so I wonder if you may add the error message as a tooltip if you don't want to use the regular text, please?

![image](https://user-images.githubusercontent.com/385958/65379729-e2396f80-dc9a-11e9-88f4-ddfba9b959dd.png)

[2019-09-21 22:29] cilerler commented on #274
Also, something is off here.  How come disk storage reports it like this? I see the same behavior on other checks too.

[code]

![image](https://user-images.githubusercontent.com/385958/65379843-4bba7d80-dc9d-11e9-91e2-256fbc677e93.png)

[2019-09-21 22:52] CarlosLanderas commented on #274
Timeline descriptions are coming in the next versionas we need to do some internal changes. Let me see if I can reproduce the disk issue.

[2019-09-21 23:16] unaizorrilla commented on #274
Hi @cilerler

I check the DiskDrive healtcheck and is working well. can you debug it?

Code is pretty simple

[code]

HealthCheck is only test if exist and actual is less than minimun free megabytes

[code]

Please, if you see any bug on this healtcheck can you create a new issue with a repro?

[2019-09-21 23:21] CarlosLanderas commented on #275
Totally right. It's missing the string interpolation. We fix it ASAP

Thanks for reporting

[2019-09-22 00:35] cilerler commented on #274
I don't think it fails since hard-drive has enough space _(like 10GB usage vs. 100GB actual)_ and that is the also one I sent you since technically it is impossible that test to go `Unhealthy` or `Degraded` status.  Also, according to code, I provided, `failureStatus: Degraded` so how is that shows "Unhealthy" as to status.

I don't think this is a check related, and it should be on UI end unless

[2019-09-22 07:22] CarlosLanderas commented on #275
@Henkpuik thanks for reporting. Version 2.2.3 is being built and will have this fixed

[2019-09-22 07:22] #275 closed

[2019-09-22 07:55] CarlosLanderas commented on #274
Ok @cilerler. We will take a look into the issue. Thank you very much for the detailed explanation. We are releasing 3.0 this week and we will start working on failure descriptions👍

[2019-09-23 05:14] Mordag commented on #196
@CarlosLanderas  I am facing a few problems with setting a custom url. I have used the example but the actual UI is not loaded. The page is just blank.

[2019-09-23 15:30] #273 closed

[2019-09-23 15:33] unaizorrilla commented on #273
Follow this build https://ci.appveyor.com/project/Xabaril/aspnetcore-diagnostics-healthchecks/builds/27602790 to see when the package will be created, new version for EventStore is 2.2.3

[2019-09-24 10:04] #260 closed

[2019-09-24 22:39] eobeda opened #279 "AddHealthCheckEndpoint Question"
Feature: HealthChecks-UI

When using the AddHealthCheckEndpoint setting, I'd like to use a relative path or find a way to extract the IIS in-process address and port that the site in running under.
[code]
I found the options for "UseRelativeApiPath" during config, but setting it to true doesn't seem to control the AddHealthCheckEndpoint  parsing
[code]

Any suggestions ?
Thanks
Ed
ps: Using VS 201

[2019-09-25 12:53] ThomasBergholdWieser opened #280 "Run every healthcheck in its own scope"
Right now adding multiple different checks using the same DbContext type will result in some of them being failed, because the DbContext might already be disposed.

Default Lifetime of DbContext is scoped, it would be a shame to have to change that to transient for HealthChecks to work properly in this scenarop.

Please change or add options to configure this behavior.

[2019-09-25 12:57] unaizorrilla commented on #280
Hi @ThomasBergholdWieser

Can you send us a repro?

[2019-09-25 15:03] ThomasBergholdWieser commented on #280
Sure. Here you go. You need to run dotnet ef database update on this first to be able to run obv.

https://github.com/ThomasBergholdWieser/healthchecksrepro

Just execute the /health endpoint a few times, it should happen pretty often. Change the Lifetime to Transient to make it work.

[2019-09-25 15:57] unaizorrilla commented on #280
Hi @ThomasBergholdWieser

Your healthcheck,  AddDbContext is out-of-box healthcheck from ASP.NET Core Diagnostics package. You will open the issue on http://github.com/aspnet/aspnetcore
Probaly @rynowak can help you!!

I close this, reopen if you consider is necessary!

[2019-09-25 15:57] #280 closed

[2019-09-26 09:58] solacens commented on #267
Same problem here. Is it related to the fact that only HTTPS port is opened for the service to be discovered?

[2019-09-26 14:47] rscooper opened #281 "HealthChecks UI - TypeError: e.filter is not a function"
Hi,

I'm encountering a JavaScript error in the latest AspNetCore.HealthChecks.UI v3.0.0 release.

The API request returns successfully but the console (Chrome & FF) shows an error:
[code]

The page displays:
![image](https://user-images.githubusercontent.com/19773282/65698404-5a75ab80-e074-11e9-93a1-c3589265159f.png)

Is it just me?

Thanks.

[2019-09-26 15:05] CarlosLanderas commented on #281
That error means you have a wrong configuration. Be sure the UI is pointing to and endpoint that is serving the health JSON result using the UIResponseWriter present in the UI.Client package.

Could you paste your current configuration?.

You can also check the samples section to find different ways of configuring the UI.

[2019-09-26 15:15] rscooper commented on #281
Sure, I'm using:

[code]
and
[code]

The response from '/health' endpoint returns:
[code]

[2019-09-26 18:14] tpao opened #282 "AspNetCore.Healthchecks.Oracle health check swallows exception"
I am using the AspNetCore.Healthchecks.Oracle health check as follows in my Startup.cs
``public void ConfigureServices(IServiceCollection services)
        {
services.AddHealthChecks()
                .AddOracle(DbConnectionString, name:"Auth DB Health Check");
}``

and I made a typo in my connection string and the health check fails but because the exception is swallowed it made this difficult to

[2019-09-26 18:21] tpao commented on #282
By the way, I was able to get the underlying exception thrown by Oracle Managed Client just in case it is needed.

Oracle.ManagedDataAccess.Client.OracleException (0x80004005): ORA-12545: Network Transport: Unable to resolve connect hostname
 ---> OracleInternal.Network.NetworkException (0x80004005): ORA-12545: Network Transport: Unable to resolve connect hostname
 ---> System.Net.Sockets.SocketEx

[2019-09-26 20:57] unaizorrilla commented on #282
Hi @tpao

Oracle healthcheck is honoring the exception message right now

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/b31936bed18f33f8f3c1dd65180911b6affbd92a/src/HealthChecks.Oracle/OracleHealthCheck.cs#L36

[2019-09-26 21:00] unaizorrilla commented on #281
Your configuration is not valid  rscooper, you are using the same path for healtz ( the healthchecks json result information ) and for the UI api. Please checkout the samples to see how ApiAndUI can be in the sample project.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UIAndApi/Startup.cs

I close this issue, please reopen if you have any other p

[2019-09-26 21:00] #281 closed

[2019-09-26 21:00] unaizorrilla commented on #279
Hi @eobeda

thanks for ask the question, @CarlosLanderas can you take a look here!

[2019-09-30 08:19] rupeshtech opened #283 "AspNetCore.HealthChecks.UI does not read appsettings according to ASPNETCORE_ENVIRONMENT"
# Issue Description

I am using AspNetCore.HealthChecks.UI nuget package to show in UI,  healthchecks of different services.
It reads the endpoints from appsettings.json .

I have different appsettings (appsettings.json, appsettings.Test.json, appsettings.Production.json)
And setting ASPNETCORE_ENVIRONMENT accoridng to environment.

In Test Appsettings, endpoints are of Test
In production appsetti

[2019-09-30 19:43] ThomasArdal opened #284 "Using both a publisher and health checks UI"
Is it possible to configure both a publisher and health checks UI. The reason I'm asking is that I tried and my publisher isn't invoked when settings up Health Checks UI. Maybe I'm doing something wrong, but code looks pretty much like this:

[code]

The publisher is never called. If I remove the `AddHealthChecksUI` call, the publisher is invoked just fine.

[2019-10-01 04:46] ranouf commented on #87
Hi,

I followed your instructions and copy in startup:
[code]

But I continue to get:

Here is my app.settings:
[code]

[2019-10-01 05:39] ranouf opened #285 "Response is null or message can't be deserialized as HealthChecks.UI.Client.UIHealthReport."
Hi,

i m using .net core 2.2, I configured my startup with :

            services.AddHealthChecks()
                .AddCheck<MYHealthCheck>("MY");
                .AddCheck<YOUHealthCheck>("YOU");
            services.AddHealthChecksUI();

AND

            // HealthCheck
            app.UseHealthChecks("/healthchecks", new HealthCheckOptions()
            {
                Predicate = _ => true,

[2019-10-01 05:40] CarlosLanderas commented on #87
Hello @ranouf, you are exposing healthcheck results and api in the same /hc path.

Change the API path or use the default

Also in the appsettings, the target path is the one you register with UseHealthChecks (in this case /hc)

I recommend you to check and run the samples.

[2019-10-01 05:41] CarlosLanderas commented on #285
I've answered you in #87

[2019-10-01 05:41] #285 closed

[2019-10-01 12:26] Grey007 opened #286 ".NET Core 3.0 + Docker + Kubernetes, Error on Application Start Up."
Hi there,

I am busy migrating my application from core 2.2 to core 3.0 and getting the following error on application startup:

I'm not too sure why it's failing as it works locally. Here is my code:

[code]
[code]
app.settings file:

[code]

Any suggestions as to what I am doing wrong?

[2019-10-01 12:39] CarlosLanderas commented on #286
Hello. Remember the application is running in port 80 in Kubernetes, not in 44350. You should change that in appsettings.json or use endpoint configuration by code when using AddHealthchecks(setup)

[2019-10-01 12:47] Grey007 commented on #286
That didn't work. Still got the same error. Is it still http://localhost:80? Or should I be using the service?

[2019-10-01 15:02] ranouf commented on #87
The things is the sample are with .net core 3.0 and I m using 2.2. I tried to go back in the history, but I didn t succeed to find to good way to configure it :)

Thanks @CarlosLanderas  for answering, i will take a look on it today.

[2019-10-01 15:15] ranouf commented on #285
@CarlosLanderas  gave me the solution.

The issue came from the appSettings, here are the correct settings:

[code]

[2019-10-01 17:19] ranouf commented on #181
Hi,

In local, everty thing works fine, but I publish the webapp on Azure I got an issue:

Following your suggestion, I updated the _HealthCheckDatabaseConnectionString_ properties to Data Source=%APPDATA%\\wwwroot\healthchecksdb

My thinking about this probleme is because the webapp doesnt have the permission to create healthchecksdb.

Is there someone who had the same issue and found a way to fi

[2019-10-01 17:54] inkel opened #287 "[Elasticsearch] Add degraded health status"
I was looking at the code of the Elasticsearch health check and found that it's using a simple ping to test whether Elasticsearch is up or not, which is not bad, but I was thinking that it would be nice to have it actually using the [cluster health](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-health.html) API in Elasticsearch and report healthy for green, unhealthy for

[2019-10-01 18:09] unaizorrilla commented on #287
A PR is welcome for this!!

[2019-10-01 18:46] OmnipotentOwl commented on #113
@CarlosLanderas Any update on PR #231 for when someone might look at it and provide feedback?

[2019-10-01 19:40] ranouf opened #288 "HealthChecks Uri is not overwritten in Azure"
Hi,

I publish my webapp on Azure.

I set this configuration settings _HealthChecksUI:HealthChecks:Uri_ to _https://mywebsite.net/healthchecks_

but in the log I continue to see:

How to configure HeathCheckUI correctly?

Thanks

[2019-10-01 21:01] ranouf commented on #181
So the problem is clearly due to missing permissions. I dont know to change it on Azure easily. So I added healthchecksdb in the git repository, which is, in my mind, something wrong because the file changes at each commit.

So, I m still looking for a clean solution :)

[2019-10-01 21:51] ranouf commented on #288
I overwritten by code the configuration like:

[code]

[2019-10-02 11:08] cheesi opened #289 "Ignore certificate validaton"
Hey!

I'm facing a problem with the healthchecks ui, which needs to load the healtchecks from a server with a self-signed certificate.

I thought this code would solve the problem, however, i still get an exception. The "Certificate check called!" is **NOT** printed to the console, it seems like it doesn't get called. The HealthCheck.UI seems to use the right HttpClient, as the `BaseAddress` confi

[2019-10-02 11:08] unaizorrilla commented on #289
Let me check on this today!

[2019-10-02 11:39] CarlosLanderas commented on #289
Hello. Please use the setup method to use a custom http handler.

Sample:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/test/FunctionalTests/HealthChecks.UI/Configuration/UIConfigurationTests.cs#L171

[2019-10-02 11:54] cheesi commented on #289
Thanks, that works!

[2019-10-02 11:54] #289 closed

[2019-10-03 09:13] dcanamares opened #292 "Using HealthChecksUI throw exception on call ServiceProvider.GetService"
I'm using HealthChecks UI and I want to create my database on the startup of the application.

`            var serviceScopeFactory = app.ApplicationServices.GetRequiredService<IServiceScopeFactory>();
            using (var serviceScope = serviceScopeFactory.CreateScope())
            {
                var dbContext = serviceScope.ServiceProvider.GetService<MyDbContext>();
                dbConte

[2019-10-03 10:33] mikevanoo opened #293 "Repeated LINQ "could not be translated and will be evaluated locally" warnings are logged when a health check fails"
Could be similar to #94 .

When a health check fails, the following warnings are logged:

[11:23:29 ERR] Health check BlobStoreWrite (SqlServer) completed after 99.2562ms with status Unhealthy and 'null'
[11:23:30 WRN] The LINQ expression 'where [lf].HealthCheckName.Equals(__livenessName_0, InvariantCultureIgnoreCase)' could not be translated and will be evaluated locally.
[11:23:30 WRN] The LINQ

[2019-10-04 07:51] dcanamares commented on #292
I have been solved the error changing the order of the code at ConfigurationServices. It is mandatory configure HealthChecks before DbContext.

`            services.AddHealthChecksUI()
                    .AddHealthChecks()
                    .AddSqlServer(connectionString:configuration.GetConnectionString("MyConnection"));`

`services.AddDbContext<MyDbContext>(options => options.UseSqlServer(Co

[2019-10-04 07:51] #292 closed

[2019-10-04 14:53] phatcher opened #295 "Conform results to HealthCheck RFC"
Has any thought been given to being able to output the results using the proposed [RFC health check](https://inadarei.github.io/rfc-healthcheck/)  format - this would make these checks much more useful in heterogeneous environments and for generalised monitoring?

[2019-10-04 14:59] unaizorrilla commented on #295
Hi @phatcher
God question, but i think this question is better fro asp.net core guys, probably @rynowakis interested on it!

[2019-10-04 16:09] CarlosLanderas commented on #288
Do you have any other configuration in your appsettings.json?

[2019-10-04 16:13] CarlosLanderas commented on #286
You should use the Kubernetes service name for the target healthchecks endpoint.

That name of the service exposing the deployment is the one that will address your request to a pod.

Use 80 or 443 depending on your remote endpoint configuration.

[2019-10-04 16:13] #286 closed

[2019-10-04 16:14] CarlosLanderas commented on #284
@ThomasArdal let me test it and I'll come back to you

[2019-10-04 16:20] CarlosLanderas commented on #283
Hello. We relay on IConfiguration so we will use the configuration providers you have configured. Have you configured AddJsonFile by yourself? By default it should use target environments

[2019-10-04 16:21] rynowak commented on #295
We'd be interested when this gains momentum and starts being adopted by monitoring tools.

[2019-10-04 16:22] #282 closed

[2019-10-04 16:29] CarlosLanderas commented on #268
Hello @NxSoftware, yes the UI is designed to use the UI.Client so the best idea is using a Uri HealthCheck to have a successful status.

There are no plans to supports raw status codes in the UI

[2019-10-04 16:29] #268 closed

[2019-10-04 20:26] insideou7 opened #296 "'More' Async HealthCheckReportCollector"
Currently individual health checks are collected synchronously (albeit inside of an async method). This means the total time to run the health checks is the sum of each individual test instead of the longest test duration. I'm using the Health Check UI as a poor man's APM tool so I have quite a few tests running.

I think this could be accomplished by replacing the ForEach loop inside of HealthChe

[2019-10-04 21:42] insideou7 commented on #296
After playing around with the source I wasn't able to reproduce the issue. I'll update the packages in my project and see if that fixes it for me.

[2019-10-04 21:42] #296 closed

[2019-10-06 20:02] CarlosLanderas commented on #293
Hello @mikevanoo
What UI version are you using?

[2019-10-07 07:42] mikevanoo commented on #293
Apologies, @CarlosLanderas , I should have said. I'm using 2.2.34:

`<PackageReference Include="AspNetCore.HealthChecks.UI" Version="2.2.34" />`

[2019-10-07 16:44] ciceroneves opened #297 "HealthChecksUI not reading settings from appsettings.json"
Hi,
I have followed the instructions on how to setup health checks and got HealthChecksUI running

The health checks are working fine and the UI also loads ok. The issue is that it does not show any of my health checks.

The only way I found to make it work, was to specifically deckare the endpoint the UI should call when adding it in ConfigureServices.

[code]
I would like to know why adding the

[2019-10-08 01:52] mike-cochrane opened #298 "DLL file from the AspNetCore.HealthChecks.SqlServer NuGet package (v3.0.0) has no date modified"
The DLL in the package has no Date modified.

![image](https://user-images.githubusercontent.com/1772681/66361400-22a72600-e9db-11e9-8658-d7f6ac1af06d.png)

This causes an issue when using NuGet pack for an application using the package.

[pack] The DateTimeOffset specified cannot be converted into a Zip file timestamp.

More details here

https://github.com/NuGet/Home/issues/7001

If I do a simpl

[2019-10-09 18:42] inkel opened #299 "AppInsights Publisher doesn't track exceptions for health results with exceptions"
I've identified that the current `ApplicationInsightsPublisher` https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/b31936bed18f33f8f3c1dd65180911b6affbd92a/src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs do not track exceptions when a report contains exceptions.

Most, if not all, of the implemented health checks, have this form:

[code]

But the pub

[2019-10-11 11:56] jeffGillings opened #300 "ServiceBus response taking over 20 seconds"
I'm using HealthChecks AzureServiceBus v2.2.5 to make the calls below

[code]

and notice that I get intermittently failures (between 2-3 a week and sometimes once a month) from the AddAzureServiceBusQueue and AddAzureServiceBusTopic calls (response times exceeding 20 seconds) which I'm only seeing for healthcheck requests.
Any suggestions as to why this is happening?

[2019-10-11 12:01] CarlosLanderas commented on #300
Since version 3.0 all healthchecks have a timeout parameter. This is something that was missing in version 2.2 in the Microsoft API and was really important when a service is down, because it takes several seconds to respond.

[2019-10-11 14:12] jeffGillings commented on #300
I don't believe that the services are down as it's only the heath check calls that have this issue, application calls to these services don't show this issue and subsequent health check calls (about a minute later) respond in tens of milliseconds.

[2019-10-11 14:19] CarlosLanderas commented on #300
Ok. Let me take a look 👍

[2019-10-14 06:35] ThomasArdal commented on #284
@CarlosLanderas Any news on this one? :)

[2019-10-14 15:34] unaizorrilla commented on #300
Hi @jeffGillings

I'm trying to check Azure Service bus and all is working fine for me! I add the same configuration as you ( one queue and one topic ) .

The health check times are ok after some working hours

![imagen](https://user-images.githubusercontent.com/1630008/66763224-c5621780-eea7-11e9-812f-c7901313b9d7.png)

Probably I need more information about your configuration in order to continu

[2019-10-15 14:36] herkusas opened #303 "Persistant storage (HealthChecks.UI)"
I do want to reuse SQLite database after every deployment so I could see all history...

If there is any way to do that without changing source code? I've missed something?

Since now every time I run solution DB wipes out... (e.x ... on state from: a few seconds ago...)

[2019-10-16 19:35] jnovick opened #304 "Re-use rabbit connection for RabbitMq Health check"
As per [official docs](https://www.rabbitmq.com/connections.html) and its suggestions on [high connectivity churn](https://www.rabbitmq.com/networking.html#dealing-with-high-connection-churn), connections are meant to be long lived. Ideally, I believe this should be configured as a singleton, but I understand there may be use cases where this could be configured differently. Currently the code doe

[2019-10-17 00:50] WolfspiritM opened #305 "RequireAuthorization doesn't work as expected"
One of the big features of the new endpoint routing in asp.net core 3 is the possibility to specify Authorization for each endpoint.

With the current implementation for MapHealthChecksUI() the following doesn't work and only blocks one of the routes (the webhook one).
[code]
It would be great if this can be made possible cause we don't want the health-ui endpoint to be open to the public.

I thin

[2019-10-17 12:58] rupeshtech commented on #283
@CarlosLanderas  I dont know it is bug or not but if appsettings.Production.Json has less endpoints than appsettings.Json then it shows additional endpoints from appsettings.Json....Which was my case.
my appsettings.json has 6 endpoints where as appsettings.Production.Json when I removed extra 3 endpoints from appsettings.json then it show ONLY FROM appsettings.Production.json

[2019-10-17 16:18] unaizorrilla commented on #300
Enjoy guy!! no worries

[2019-10-18 14:36] adamoisescu opened #306 "HealthChecks.UI allow html/js customization"
Hello,

We are using HealthChecks.UI package to display our services health and we'd like to add an icon for each service that would redirect to the corresponding Azure Application Insights. We tried to add it as a link or as html in the name/description we provide externally but (as expected) it was parsed as plain text :)

Since only CSS customization is possible from outside, is there any optio

[2019-10-19 09:48] unaizorrilla commented on #306
A think this is not supported right now, but we accept PR to improve customization features :-), probably @CarlosLanderas  can help on any question about this!

[2019-10-19 09:50] unaizorrilla commented on #305
Umm, god catch!

Let me check if we can do something on this!

[2019-10-19 09:53] unaizorrilla commented on #303
Hi @herkusas

Nope :-( at this moment, UI delete an create a new database (with latest migrations) every time you start the UI.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/9bc53be4d169e1af485df213747e4cba523b3f6e/src/HealthChecks.UI/ServiceCollectionExtensions.cs#L95

[2019-10-19 09:53] #303 closed

[2019-10-19 09:55] unaizorrilla commented on #304
Hi @jnovick

We do some changes in other healtchecks related with the same issue, we are happy to accept a PR about his if you have some time, if not, I can do this but need some time!

[2019-10-20 16:27] jnovick commented on #304
Okay, I'll submit a PR shortly. I am planning on adding several options to allow users to solve the problem in the best way that fits their project. I don't want to lock people into fitting their project architecture to fit the same way I have mine by designing the health check to solve my problem. Let me know what you think once I push up a PR.

[2019-10-20 20:22] jnovick commented on #304
I have submitted a PR (https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/307). Let me know what you think. I prioritized not changing existing behavior and instead making it easy to follow a better pattern, but I am not sure if I created too many config options.

[2019-10-21 10:37] tzkhan commented on #300
Hey @unaizorrilla I'm working on the same codebase alongside @jeffGillings and can help provide some of this information.

- Is healtcheck 2.2 or 3.0?
  - 2.2.5
- Queue is partitioned? with sessions? with duplicate detection?
  - Message TTL - 10675199 days
  - Lock duration - 1 minute
  - Duplicate detection history - 10 minutes
  - Max size - 5GB
  - Current size - 0 KB
  - Partioned - false
- T

[2019-10-21 15:49] coshea opened #308 "Json Parsing error"
Hi all,

I seem to be running into an issue where the healthcheck fails and then the entire service becomes unresponsive. It throws errors saying it can't parse the json and the only solution is to restart the service. I only get the issue after the service has been running for many days.

I am running an ASP.NET Core 2.2 Windows service.

Below are the logs I am getting:
[code]

Startup method lo

[2019-10-21 18:28] Expecho opened #309 "Azure Storage: Queue"
This health check provider currently lacks support to report on missing queues. If we take a look at the [Azure Service Bus Queue health check](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs#L21) we can see it is possible there and I would like to have this feature for storage queues as well.

I don't m

[2019-10-22 10:15] CarlosLanderas commented on #308
Can you show your UI endpoint configurations? As I do not see them in code I guess you have them in appsettings.json

Thanks

[2019-10-22 10:17] CarlosLanderas commented on #306
Hello @unaizorrilla @adamoisescu
Allowing consumers to bind their own javascript files to the UI is easy to implement.

What I am concerned about are the possible bugs that will be reported here because of this custom scripts

[2019-10-22 10:28] CarlosLanderas commented on #297
Hello @ciceroneves
I can't see the app.UseHealthChecksUI line in your code.
UseHealthChecksUI is the method that wires the middlewares and binds the configurations.

[2019-10-22 13:24] coshea commented on #308
Here is the settings in my appsettings.json file:
[code]

Thanks

[2019-10-22 16:31] renatogbp opened #310 "Sftp Connection Refused"
On file [SftpHealthCheck](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.Network/SftpHealthCheck.cs), line 26, the port is not being set, even though there's a port property in options. What am I missing here?
I try to make a sample Sftp connection without port and it didn't work. When I add the port it works.
[code]

[2019-10-22 19:32] ciceroneves commented on #297
Hey @CarlosLanderas,
Thanks for taking time to look into that.
I am using that line in my code. Only forgot to include it in the code snippet.
I have edited the question and added the line.

[2019-10-22 20:52] CarlosLanderas commented on #297
@ciceroneves, I've just tested the UIAndApiCustomization with your settings and it works just fine.
Please, Use that sample to test it and adjust your project.

Remember you can use HealthChecks-UI or HealthChecksUI settings key. The last one if the newest one to avoid problems with environment variables configuration

[2019-10-22 20:52] #297 closed

[2019-10-22 20:53] CarlosLanderas commented on #310
@renatogbp , let me take a look a it but it looks like you are absolutely right

[2019-10-22 21:09] #310 closed

[2019-10-22 21:13] CarlosLanderas commented on #310
@renatogbp , version 3.0.1 is being published and it is now taking the configured port in consideration. Thanks for reporting the issue and let us know if everything works ok.

[2019-10-22 21:15] CarlosLanderas commented on #308
@coshea , are you configuring healthchecks and ui in the same application?

I see services.AddHealthChecks()
but I do not see any healthcheck configured if you are running the UI and the healthchecks in the same endpoint

[2019-10-22 21:18] CarlosLanderas commented on #288
@ranouf , HealthChecks are an array, you should configure them with indexes:

HealthChecksUI:HealthChecks:0:Name=httpBasic'
HealthChecksUI:HealthChecks:0:Uri='uri'
HealthChecksUI:HealthChecks:1:Name=httpBasic2'
HealthChecksUI:HealthChecks:1:Uri='uri2'

and so on

[2019-10-22 21:18] #288 closed

[2019-10-22 21:28] CarlosLanderas commented on #279
@eobeda , I know you can get the listening urls using
[code]
You can get several addresses (http, https) and maybe use the first to get a relative url
but this does not work with IIS, is a feature that only reports the listening addresses when using Kestrel.

We would need to have this feature working along with kestrel and IIS

Maybe @rynowak  can give us some more information about this, I don't

[2019-10-22 21:32] CarlosLanderas commented on #284
@ThomasArdal  I see ElmahIoPublisher is a code of yours, Is difficult to find out what's going on without taking a look to the internal wiring of that method

[2019-10-22 21:46] CarlosLanderas commented on #298
It looks like a bug yes. I think we need to republish de nuget.

[2019-10-23 06:24] ThomasArdal commented on #284
@CarlosLanderas `ElmahIoPublisher` is written by me, yes 👍 I can definitely debug this, but the reason I was asking was to find out if both a publisher and UI can be configured. That definitely looks possible from your code, why this must be somewhere inside my code. I'll try to debug what is going on.

As for the implementation, it is here: https://github.com/elmahio/Elmah.Io.AspNetCore/tree/mast

[2019-10-23 07:46] ThomasArdal commented on #284
Weird. This works:

[code]

If I invoke `AddHealthChecksUI` before setting up the publisher, the publisher is never invoked.

[2019-10-23 10:15] adamoisescu commented on #306
Definitely a valid concern @CarlosLanderas
What about allowing to pass a hyperlink and an icon per each app (optionally) and adding it besides the name of the app in the Health Checks table?
I could try to do it :)

[2019-10-23 12:32] dietermijle commented on #272
+1

[2019-10-23 18:30] coshea commented on #308
@CarlosLanderas Here are the 3 healthchecks I use

[code]

Thanks

[2019-10-24 13:32] adamoisescu opened #311 "Persistance of health checks history after restart"
Hello again.

We are using an Azure Web App for Containers to host our watchdog app for HealthChecks. We noticed that at every restart of the watchdog app our Health checks history would reset. We mounted an Azure Blob into our container to store the healthchecksdb there and not live within the webapp but the history is still not persisted.

This is most probably because Database.EnsureDeletedAsyn

[2019-10-24 15:07] renatogbp commented on #239
Hi,

I have being trying to use the DataDog publisher, but it isn't publishing any metrics to datadog.
This is my Setup:
[code]
Can someone add tests to make sure this is working, please?

I have been using DataDog for other metrics and that's how I configure:
[code]

[2019-10-26 20:41] CarlosLanderas commented on #308
@coshea why are you using AddHealthchecks twice?

[code]

Sorry in order to help you I need to test the sample uploaded to some repository

[2019-10-26 20:45] #308 closed

[2019-10-28 20:41] CarlosLanderas commented on #306
@adamoisescu, we will have your this customization option in consideration for next UI version.
Thanks :)

[2019-10-28 20:41] #306 closed

[2019-10-29 09:42] adamoisescu commented on #306
Sounds great, thank you!
Do you already know more or less when the new UI version will be released?

[2019-10-30 07:50] Henkolicious opened #313 "GC Info"
Present GC Info example wanted, SO explanation here:
https://stackoverflow.com/questions/58620559/healthchecksui-memory-gcinfo-net-core-3

[2019-10-30 10:26] RehanSaeed opened #314 "Add Remaining Memory Health Check"
The memory check requires you to specify a maximum memory limit. Unfortunately, there doesn't seem to be a way in .NET Core to get the maximum memory allowed (this is especially useful in a Docker container).

It would be amazing if instead of specifying a maximum memory limit, we could do the opposite and specify a remaining memory limit e.g. If we have less than 200MB left, fail the health check

[2019-10-30 14:25] espenrl opened #315 "UI: health check history feedback"
I love the following piece of UI - it tells what has happened in  a useful way:

![image](https://user-images.githubusercontent.com/4621581/67860316-d18fdb00-fb1d-11e9-9a01-1a613559fe3a.png)

# Presents itself as per health check - which is false

The data is per endpoint, but the buttons to trigger the UI is per health check. In reality all the buttons trigger the same presentation.

![image](htt

[2019-10-31 14:15] cypressious opened #317 "Allow configuring Elastic Timeout"
The Elastic client allows configuring request timeouts via `ConnectionSettings.RequestTimeout`, however this is not exposed in `AspNetCore.HealthChecks.Elasticsearch`.

Consider adding a way to configure the timeout.

[2019-10-31 14:20] unaizorrilla commented on #317
PR welcome ! :-)

[2019-10-31 21:50] ahryshchanka commented on #206
I got the same problem, any ideas how to fix it?

[2019-11-01 09:12] ahryshchanka opened #318 "Add Azure IoT Hub Health Check"
The health check will verify ability to read from Azure IoT Hub ?

The main idea is create registry client and try to read 0 rows based on connection string?
use [Microsoft.Azure.Devices](https://www.nuget.org/packages/Microsoft.Azure.Devices/1.27.0-preview-003)

[2019-11-01 09:24] ahryshchanka commented on #318
PR #319

[2019-11-03 02:31] iSatishYadav opened #320 "Health Check UI should be Mobile-responsive"
Health Check UI is a great ready-made page with minimal configuration required for setting up.
It would be a great help if the page can be made mobile-responsive by default.

[2019-11-03 03:29] wgv-rulak opened #321 "MinimumSecondsBetweenFailureNotifications does not work"
I was debbuging why this does not work . lastNotification
 here always comes back as null , where conition has a bug. https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/d0b3804f7593b7fdcaf46e9acd5fb528a95e0f52/src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs#L71-L75

if you remove the where and just do this it works, there may be some special characters in the heal

[2019-11-06 11:03] unaizorrilla commented on #321
Hi @CarlosLanderas

Can you checkout this asap please?

[2019-11-06 14:57] inkel commented on #150
I've similar issues with this and ended up creating a custom SQL Server health check: we use a custom connection manager, so this health check uses that, but while working on that I thought about how this feature could be added to `AspNetCore.HealthChecks.SqlServer`.

There's a tutorial named [_Secure Azure SQL Database connection from App Service using a managed identity_](https://docs.microsoft.

[2019-11-07 00:29] rwkarg opened #324 "[RabbitMQ] Health Check fails for SSL/TLS connections"
This commit https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/commit/3c149151d3ccb044995e1df9526e702da7ba744d removes passing in the `_sslOptions`, even if they are specified. This prevents a health check from being successful to an SSL/TLS endpoint on a broker.

Behavior is as expected in version 3.0.0, prior to this commit.

[2019-11-07 22:16] renatogbp commented on #310
Just an updated. I've test the new library and the Sftp HealthCheck is not returning a response. The curl request on my docker compose stays open and creates many open requests which are causing memory leak on my container.

[2019-11-07 22:20] CarlosLanderas commented on #310
Could you provide the code sample with your docker compose so I can test this?

Thanks

[2019-11-08 15:06] CarljohanDanling commented on #168
Having same problem as OP. Working like a charm local, but in Azure, running as an web app, it throws: "GetHealthReport threw an exception when trying to get report from ...".

• Exception type: "Newtonsoft.Json.JsonReaderException".
• Failed method: "Newtonsoft.Json.JsonTextReader.ParseValue".

[2019-11-08 21:23] gdodd1977 opened #325 "AppInsightsPublisher doesn't push Healthy results"
I'm using the AppInsightsPublisher and the only time I see anything pushed to AppInsights is if an unhealthy result is returned. Is that by design?

[2019-11-08 22:09] unaizorrilla commented on #325
Hi,

No, publisher send also events when health check result success

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/83047f04bdb1bdc8b641208dd5c36e7a0599d372/src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs#L90

You can set also detailed information for send events for each check inside.

If you can’t see this events please let me know the  versio

[2019-11-09 04:55] gdodd1977 commented on #325
Yeah. I'm definitely not getting anything published for healthy events. I'm on version 2.2.1.

[2019-11-09 08:21] unaizorrilla commented on #325
Let me check, I try to create a simple repro and reply here

[2019-11-11 09:30] unaizorrilla commented on #325
Hi @gdodd1977

I check your version and publisher is working as expected. In the image bellow you can see a custom event with status Healthy.

![image](https://user-images.githubusercontent.com/1630008/68576164-ddf52b80-046d-11ea-81c7-c3e6ef7a18c2.png)

Can this solve your question? Can I close the issue?

[2019-11-11 09:34] unaizorrilla commented on #324
Hi @rwkarg

You can specify ssloption on ConnectionFactory definition. This works for you?
[code]

[2019-11-11 09:50] unaizorrilla commented on #321
Fixed on #322 ? A new release build is on appveyor, when finished a new package 3.0.1 will be on nuget. Please, close this if the issue is resolved.

[2019-11-11 09:50] unaizorrilla commented on #318
PR is cancelled

[2019-11-11 09:50] #318 closed

[2019-11-11 09:59] unaizorrilla commented on #315
Hi @CarlosLanderas

I checked out this issue and probably we have a bug here!, can you take a look on this asap?

[2019-11-11 10:07] unaizorrilla commented on #314
Hi @RehanSaeed

The health check for memory is checking if the current process (not the entire system, container) is using more memory than a specified threshold!

[code]

If you need a new healthcheck to check remaining memory on system ( container, machine ), pr is welcome!

[2019-11-11 10:28] santoshpatro opened #326 "HealthCheckUI not displaying the status of the dependencies like CosmosDB"
I have asp.net core 2.2 project for building APIs. The APIs are dependent on few other services like Azure CosmosDB, Azure ServiceBus, Azure Storage services. I have the following code to implement the HealthCheck:

**Startup.cs**

[code]
On validating the following Url:

http://localhost:63812/healthcheck

**Results:**
[code]

But on checking the HealthCheckUI I am not seeing CosmosDB as the depe

[2019-11-11 10:50] unaizorrilla commented on #326
hi @santoshpatro

If your project is asp.net core app 2 please use UI 2.2.X and not 3.0.X versions.

Latest 2.2 version is

https://www.nuget.org/packages/AspNetCore.HealthChecks.UI/2.2.35

[2019-11-11 10:51] unaizorrilla commented on #326
The sample apply to healthchecks versions

[2019-11-11 11:56] santoshpatro commented on #326
Hi @unaizorrilla ,

I applied the following nuget packages but still it is not working for me. I still see the same response.

![HealthCheckComponents](https://user-images.githubusercontent.com/3316116/68585483-65f82700-04a8-11ea-9193-67846ff6d147.jpg)

[2019-11-11 12:44] unaizorrilla commented on #326
Can you share the project or a repro with me?

[2019-11-11 13:07] gdodd1977 commented on #325
Hi. Yes. I see that as well. The issue I was having was that the healthy checks weren't showing up in the Live stream metrics. Only unhealthy results were. And then I was looking in traces in the logs, not customEvents. Thanks for the info.

[2019-11-11 14:31] santoshpatro commented on #326
Have some issues while sharing the project. But I followed all the steps that you mentioned above.

[2019-11-11 14:36] unaizorrilla commented on #326
Try to create a repro (simple) or use sample  "UI and API" and I can check your configuration.

[2019-11-11 17:53] rwkarg commented on #324
This constructor:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/3c149151d3ccb044995e1df9526e702da7ba744d/src/HealthChecks.RabbitMQ/RabbitMQHealthCheck.cs#L17
allows passing of SslOptions which get saved internally, but the previously mentioned PR removes any usage of that option.
Behavior in 3.0.0 would use the specified SslOption which is not surprising. The 3.0.1 package wi

[2019-11-11 19:49] #321 closed

[2019-11-12 14:14] CarljohanDanling opened #327 "Issue with /healthchecks-api"
Hi. First, thanks for your work with this project!

We are working on an app hosted as an web app in Azure. To get started we have only implemented an url-healthcheck on google's firstpage, just to get some visual feedback from the HealthChecks UI.

The setups looks like this:

[code]

[code]

[code]

Running this on my local machine, valid json response from /healthchecks-api is returned and the

[2019-11-12 14:55] renatogbp commented on #310
I tried to reproduce on a local sftp server with a sample code but I wasn't able to

[2019-11-13 07:03] CarlosLanderas commented on #315
Sorry for the delay. I'm gonna take a look

[2019-11-13 08:59] hpcsc commented on #272
@unaizorrilla I created a PR at https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/328

Please kindly help to review it

[2019-11-13 09:43] CarlosLanderas commented on #315
@espenrl, I am fixing this problem and also adding error descriptions to the timeline:

![image](https://user-images.githubusercontent.com/16475649/68751725-5f7dc280-0602-11ea-92b4-32b8da7380b4.png)

[2019-11-13 11:26] #315 closed

[2019-11-13 11:41] #53 closed

[2019-11-13 11:41] #71 closed

[2019-11-13 11:41] #86 closed

[2019-11-13 11:42] #132 closed

[2019-11-13 12:01] cilerler commented on #38
@CarlosLanderas somewhat confused, is this issue has been resolved?

[2019-11-13 13:30] CarlosLanderas commented on #265
This afternoon I'm gonna add this functionality.

The image will allow to configure custom css for branding using a volume and all the paths:

[code]

[2019-11-13 13:42] CarlosLanderas commented on #279
@rynowak @glennc any Idea about how this can be achieves when using IIS?

[2019-11-13 13:42] CarlosLanderas commented on #38
@cilerler , you can follow the issue here, where we threw the question to asp.net team members:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/279

[2019-11-13 17:31] pthelusma commented on #265
Will the ui_path accept just "/" as well?

[2019-11-13 17:35] CarlosLanderas commented on #265
@pthelusma, asp.net core middleware does not allow to bind "/" as a valid path. It throws an exception

[2019-11-13 17:38] pthelusma commented on #265
Makes sense. Thank you

[2019-11-13 18:01] CarlosLanderas commented on #259
Version 3.0.3 won't display the whole webhook uri anymore, it will display the host instead.

[2019-11-13 18:01] #259 closed

[2019-11-13 18:54] CarlosLanderas commented on #313
@Henkolicious , data dictionary is new in 3.0 version and are still not supported. Let me talk with @unaizorrilla and we might add it.

[2019-11-13 19:28] CarlosLanderas commented on #265
Available in UI Version 3.0.3

PR:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/332

Updated docs:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/doc/ui-docker.md

[2019-11-13 19:28] #265 closed

[2019-11-13 19:30] CarlosLanderas commented on #313
@Henkolicious I've seen we support data dictionary in the backend but we do not use it in the frontend as you can use HealthCheckResult description.

What exactly are you trying to do?

[2019-11-13 19:31] #284 closed

[2019-11-13 19:32] CarlosLanderas commented on #305
@WolfspiritM  you can configure all UI paths using the setup of MapHealthChecksUI

[2019-11-13 21:07] WolfspiritM commented on #305
@CarlosLanderas Thank you, but this isn't the problem. Yes you can configure the path. But this issue is not about paths but about security and authorization. The new Endpoint system has a feature to add ".RequireAuthorization" to the endpoint to force it using Authorization or ".RequireHost" to make it require a specific host. This doesn't work in this case as only one of the routes gets blocked.

[2019-11-13 21:13] CarlosLanderas commented on #305
@WolfspiritM you are right. Let us rework the internals to achieve this.

[2019-11-14 10:26] vikpck opened #333 "CosmosDB health check is healthy whilst the write calls timeout"
Hi,

We've been using https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.CosmosDb/CosmosDbHealthCheck.cs for a while and learnt yesterday that the health check remains green/healthy when write calls to the collection timeout.

I don't know how Cosmos works behind the scenes, but cosmosDbClient.ReadAccountAsync() doesn't imply that we can successfully write

[2019-11-14 16:31] ahryshchanka opened #335 "Add Azure IoT Hub Health Check"
The health check will verify ability to communicate with Azure IoT Hub ?

The main idea is create clients and try to read 0 rows based on connection string/write-delete and etc.
use Microsoft.Azure.Devices nuget package

[2019-11-14 16:32] ahryshchanka commented on #335
PR #334

[2019-11-14 17:59] inkel commented on #325
I think that is dependant on Azure App Insights and not this library. I'm also using this version and healthy results. Try with a query like the following:

[code]

[2019-11-14 19:00] inkel commented on #317
I'm happy to send a PR for this, however, I've got a couple of questions:

Both current extensions `IHealthChecksBuilder.AddElasticsearch` accept an optional, last parameter `TimeSpan? timeout = default`. Now, according to the documentation, this parameter is _An optional System.TimeSpan representing the timeout of the check._

My question would be: should we use that value too and pass it to `Ela

[2019-11-14 19:07] inkel commented on #299
I'm closing this one as #302 has been merged.

[2019-11-14 19:08] inkel commented on #287
PR #290 adds this feature!

[2019-11-15 04:34] tBStar opened #336 "Add Authentication for Webhooks"
Hi,
I am looking to send notifications to Webex but the API endpoint requires a token bearer to be passed along. Is there a way to add a token overload to the SendRequest method in the WebHookFailureNotifier class?

Thanks

[2019-11-15 05:27] rynowak commented on #279
@tratcher @jkotalik - any ideas?

[2019-11-15 05:37] Tratcher commented on #279
IServerAddresses was added to IIS in-proc in 3.0. That said, using a relative path is a much better idea. What do the expected urls look like for these various components? Generating a url per-request is much easier because you can use the request's scheme, host, port, PathBase, etc..

[2019-11-15 06:26] CarlosLanderas commented on #279
@rynowak @Tratcher thank you very much for your help :)

[2019-11-15 07:23] CarlosLanderas commented on #279
@Tratcher is this working with IIS Express?. I'm doing a test and I get 0 ServerAddresses configuring IIS Express InProcess

![image](https://user-images.githubusercontent.com/16475649/68924441-215add00-0781-11ea-9e81-a8689f194dd1.png)

[2019-11-15 13:54] sonisudarshan0 opened #337 "IApplicationBuilder doesn't support app.UseRouting() how to use in version Asp.Net Core 2.2"
I'm trying to configure :-

           public void Configure(IApplicationBuilder app, IHostingEnvironment env)
            {
            app.UseRouter(config =>
            {
                   config.MapHealthChecksUI();
            });
            }

and getting this error :

![image](https://user-images.githubusercontent.com/50704950/68948086-23528980-07dd-11ea-971e-24f38ae214ab.png)

so, my co

[2019-11-15 14:05] CarlosLanderas commented on #337
UseRouting is for 3.0. For 2.2 you have to use:

app.UseHealthChecksUI();

[2019-11-15 14:07] #337 closed

[2019-11-16 10:08] sefacan opened #338 "Add support custom storage provider for persistent history"
Hi,
We are using HealtChecksUI for five containers. Healtchecks history is not persistent with SqlLite. Maybe we can use volumes for persisting data or several storage provider can be added.

It can be like Hangfire features.

example:
UseMemoryStorage()
UsePostgreSqlStorage()

[2019-11-18 16:46] inech commented on #298
Same problem for me with a _HealthChecks.Uris.dll_

[2019-11-18 21:46] unaizorrilla commented on #333
Hi @vikpck , thanks for fill this issue!

I try to review this issue asap!

[2019-11-18 21:47] unaizorrilla commented on #335
Hi @ahryshchanka

Thanks for fill the issue, i try to review the PR a soon as posible!

[2019-11-18 21:49] unaizorrilla commented on #338
Hi @sefacan

You can change the EF provider to be used!

[2019-11-18 21:59] sefacan commented on #338
@unaizorrilla
I guess I couldn't tell you what I wanted.

The HealthChecks.UI project has the following code block.

[code]

And following code block has the internal class. I can't override or inherit from IHealthCheckReportCollector interfaces.

[code]

[2019-11-19 01:43] rpopovych commented on #239
Sorry, I missed this message. The extension method configures it's own Datadog service internally, and currently exposes a parameter to configure the Datadog agent name.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/5dde843c51c7a4b6778c444adae6a95527f58068/src/HealthChecks.Publisher.Datadog/DependencyInjection/DatadogHealthCheckBuilderExtensions.cs#L18

Using the `IDogStatsd

[2019-11-19 01:44] #239 closed

[2019-11-19 19:46] vikpck commented on #333
Spent a few more days looking into this. This is an intermittent connectivity issue whereby client issues TCP Retransmit when communicating with Cosmos DB. These retransmits are issued by Linux kernel, as opposed to Client SDK and they really are intermittent. I could not replicate them with Cosmos health check, but can replicate them when writing data into collections, but only in a specific Azur

[2019-11-20 13:36] FForthmann opened #341 "Minor spelling mistake in README"
In line 76 of your README.md the word `package` is written false as `pacakges`. I tried to fix it myself but was not allowed due to authorization restrictions.

[2019-11-21 10:23] a-z-hub opened #342 "Suggestion: Naming inconsistency for Aws and Azure packages"
Aws and Azure service have different naming pattern:
![image](https://user-images.githubusercontent.com/4180472/69329558-6475ee00-0c62-11ea-8642-8e5bef27a121.png)

I think, better solution to use pattern HealthChecks.{cloud-provider}.{service}

[2019-11-21 10:31] CarlosLanderas commented on #342
I completely Agree with you. I would also prefer Healthchecks.Azure.Whatever

@unaizorrilla what do you think

[2019-11-21 10:53] unaizorrilla commented on #342
Yeap

[2019-11-21 11:03] CarlosLanderas commented on #342
The problem is that similar named nuget packages would be duplicated and the consumers would find that confusing

[2019-11-21 11:10] a-z-hub opened #343 "Suggestion: Naming inconsistency for Identity Service"
All packages have full name of checked services except Identity Service.
It have names:
- package name `AspNetCore.HealthChecks.OpenIdConnectServer`
- project name `HealthChecks.IdSvr`

[2019-11-21 11:17] ahryshchanka commented on #342
I think it is possible to solve:
1] publish packages with valid names
and
2] publish new version of existing packages with [Obsolete](https://stackoverflow.com/questions/1759352/how-to-mark-a-method-as-obsolete-or-deprecated) attribute on `MethodName(this IHealthChecksBuilder builder, ...)` and full information about new packages and names
3] increase changed packages versions
4] remove inconsiste

[2019-11-21 11:18] unaizorrilla commented on #342
Nuget does not allow tremove packages

[2019-11-21 11:20] CarlosLanderas commented on #342
As @unaizorrilla  says, nuget do not support to completely remove packages as you would be breaking thousands of projects.

[2019-11-21 11:29] #341 closed

[2019-11-21 11:54] ahryshchanka commented on #342
Yes, of course, we can't remove packages.

We can copy/paste already existing project and fix naming for it. As a result we will have 2 packages:
- first package with new valid name and some version
- second package with new version, old invalid name and Obsolete attribute where we will add message about first package and requirement to use new renamed package (reference to it, name or something e

[2019-11-21 11:59] ahryshchanka commented on #342
In case some dev install old package Obsolete will inform them about new better version of package.

+ it is possible to mark package as [deprecated](https://stackoverflow.com/questions/50795559/how-to-deprecate-a-nuget-package) , sorry, I can't check how it works

[2019-11-22 01:24] alefcarlos opened #345 "[Docker image] Is there a way to configure de app path Base ?"
When using sub-directory in URL it needs to set pathBase, is there a way to set it in the docker image?

It is trying to lookup resources in "/".

![image](https://user-images.githubusercontent.com/5452336/69390327-a2e4ca80-0cad-11ea-8633-55f86fa4744e.png)

[2019-11-22 06:01] javaadpatel opened #346 "Exception when trying to use HealthCheckerUI"
Hi, I am using dotnetcore 2.2 and am trying to get my project setup, I've gotten the healthcheker endpoint setup and returning data. But when I try to use the health checker UI I get this exception:
![image](https://user-images.githubusercontent.com/22832462/69401570-1adae100-0cfe-11ea-9e50-421e75b4ee24.png)

I've installed the AspNetCore.HealthChecks.UI package v2.2.35

[2019-11-22 06:21] CarlosLanderas commented on #345
If you are using s subdirectory you can use the UseRelative options in the UI setup

[2019-11-22 06:46] CarlosLanderas commented on #346
Could you paste your csproj? Thanks

[2019-11-22 07:48] javaadpatel commented on #346
@CarlosLanderas  thanks for the help, here is the packages from the csproj file:
[code]

[2019-11-22 13:20] espenrl commented on #315
Looks good! Thanks @CarlosLanderas

[2019-11-22 13:50] alefcarlos commented on #345
@CarlosLanderas  I need to set UseRelative as an Env variable ?

[2019-11-22 14:07] CarlosLanderas commented on #345
I've just realized the docker image is currently exposing branding and path configs but I'm not sure you can configure the relative path settings. Let me check it and if is not supported I'll submit a PR to add it ASAP

[2019-11-22 14:10] CarlosLanderas commented on #346
Apart from those dependencies what netcoreapp version is your target? netcoreapp22 or netcoreapp30?

It looks like you are using 2.2 Nuget dependencies with netcoreapp30 target

[2019-11-22 14:12] CarlosLanderas commented on #315
Glad to help @espenrl.
Thanks!

[2019-11-22 14:30] CarlosLanderas commented on #345
@alefcarlos , I am configuring the application under app1 subdirectory and it works:

![image](https://user-images.githubusercontent.com/16475649/69433963-ef2b1b80-0d3c-11ea-86dc-47ac9d1f5129.png)

[2019-11-22 14:38] javaadpatel commented on #346
The project is targetting .net core 2.2

[2019-11-22 14:43] alefcarlos commented on #345
I'm using reverse proxy, it may help.

[2019-11-22 20:48] WolfspiritM commented on #305
I tested latest version and at least the informations are now secured. Thank you! Is it on purpose that the app (resources) in itself is still available even so it's not able to pull data without authentication?

[2019-11-22 21:03] CarlosLanderas commented on #305
Hello @WolfspiritM. I've configured authorization metadata for the healthchecks and Webhooks endpoints but protecting the UI resources / adding authentication mechanisms like idsrv / azure AD is out of the scope of the project at this moment.

[2019-11-22 21:22] WolfspiritM commented on #305
@CarlosLanderas Thank you for the answer. I can understand that adding authentication to the UI is out of the scope but can you tell me what the problem is with passing the result of the MapGet's in https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/bc0f481404412015aa11aeb30709eebba5dcd9dc/src/HealthChecks.UI/Core/UIEndpointsResourceMapper.cs#L19 to the HealthChecksUIConventionBui

[2019-11-22 21:26] CarlosLanderas commented on #305
Sorry. I explained myself about the authentication part but not about the statics. We can definitely add the resources endpoints to the convention builder. I'm gonna add it 👍

[2019-11-22 21:27] WolfspiritM commented on #305
Thank you very much 👍

[2019-11-26 00:44] rwkarg commented on #324
Is there any more information about what "fix a minor issue with ssl options" is from the previous checkin? (It doesn't look like there was a PR for that change to link). It appears that the change was just to ignore the passed in `sslOption` which seems to just be wrong, unless there is some context I'm missing.

Otherwise, the fix seems to be reverting the code back to actually using the `sslOpt

[2019-11-26 13:34] unaizorrilla commented on #343
True, a PR for change the project name to OpenIdConnectServer is appreciated! Really, this healtcheck use discovery endpoint ( .well-known/openid-configuration) and works for any OpenIdConnect server like Identity or Azure AD, Auth0 etc...

[2019-11-26 13:36] unaizorrilla commented on #346
Hi @javaadpatel

You have many references in your project with different kind of frameworks like AspNet.WebApi ( strange here), can you create a repro in order to investigate this issue?

Can you try to use our samples (UIandApi) and add your references ..

[2019-11-26 13:37] unaizorrilla commented on #345
Hi @CarlosLanderas are you following this issue?

[2019-11-26 13:40] unaizorrilla commented on #324
Hi @rwkarg

If you need to use ssl options you can use the overload with ConnectionFactory, this does not work for you?

[code]

[2019-11-26 13:46] unaizorrilla commented on #333
Hi @vikpck
We accept a PR to improve CosmosDb healtcheck for sure, reading docs on this Microsoft is suggesting

**_To use the .NET SDK, use the DocumentClient.ReadDocumentCollectionAsync method, which returns a ResourceResponse that contains a number of usage properties such as CollectionSizeUsage, DatabaseUsage, DocumentUsage, and more._**

https://docs.microsoft.com/en-us/azure/cosmos-db/monito

[2019-11-26 14:10] CarlosLanderas commented on #345
Yes. When we merge the relative UI PR we continue with this 👍

[2019-11-26 17:19] rwkarg commented on #324
No. Updating all of our services across the company is not a desirable option.

What is the resistance to fixing the issue with the `.AddRabbitMQ(string, SslOption)` method? It works as expected in 3.0.0.

[2019-11-26 17:20] unaizorrilla commented on #324
Is not "resistance", i need some time to do that!! PR is welcome of course

[2019-11-26 17:22] rwkarg commented on #324
I'm happy to submit a PR. I just need to know what "fix a minor issue with ssl options" refers to. If I just revert the change that happened in 3.0.1 then I will reintroduce the minor issue.

[2019-11-26 17:23] unaizorrilla commented on #324
let me check the changes

[2019-11-26 17:32] unaizorrilla commented on #324
Hi @rwkarg

I don't see more than removed ssloption. PR is welcome, and try to check if sslOptions is honored when method is executed and not used default

![imagen](https://user-images.githubusercontent.com/1630008/69657725-2110ea80-107b-11ea-9d09-5027bdcb7c62.png)

[2019-11-26 19:38] rwkarg commented on #324
I'm taking a look at the change and while verifying it, it seems like the DI extension method has been updated to use a factory which will recreate a new RabbitMQHealthCheck each time a check is made which defeats the purpose of having RabbitMQHealthCheck reuse it's internal connection.

I think I'll initially just add back the SslOption support as a minimal change and then tackle actually reusing

[2019-11-26 20:53] chrisketelaar opened #348 "HealthChecks.Publisher.ApplicationInsights: TelemetryConfiguration.Active is deprecated"
This issue is not to be confused with #186

According to Microsoft to use of `TelemetryConfiguration.Active` in HealthChecks.Publisher.ApplicationInsights, is deprecated for AspNetCore. Their advise is to use `IOptions<TelemetryConfiguration>` and get the InstrumentationKey from there.

Link to code:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/e5e0a26aa9829d29c569e43c65b9ca

[2019-11-26 21:12] renatogbp commented on #239
Thank you @rpopovych, it works now!
Can I give a suggestion? Would be possible to add a try catch around DogStatsd.Configure ?
Sometimes I need to deploy to a test server where I don't have datadog running. With the current code, it keeps throwing exceptions because cannot resolve the container name

[2019-11-28 15:16] dtarczynski opened #349 "Healthchecks-api endpoint returns empty array"
I have troubles trying to setup Health Check UI, my setup is as follow:

Startup.cs:

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddHealthChecks();
                .AddSqlServer(
                    connectionString: connectionString,
                    healthQuery: "SELECT TOP (1) * FROM [DbTable]",
                    name: "Database",

[2019-12-02 08:54] javaadpatel commented on #346
I'm still trying to figure out what the issue is, I did as you suggested and copied all the references I had into the sample project and everything worked fine.

[2019-12-02 11:01] Grey007 opened #350 "Provide path for healthchecksdb SQL Lite DB"
Hi,

Is it possible to provide a path for the SQL Lite DB to be saved to?

We are running our .net core app in Kubernetes + Docker and we've prevented the app to write to the file system.

Therefore we would like to mount the db to mounted drive

[2019-12-02 12:20] karl-sjogren commented on #350
You can configure it in appsettings like this.

[code]

It is also available in the readme.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks#configuration

[2019-12-02 12:52] Henkolicious commented on #313
@CarlosLanderas maybe I'm just doing it the wrong way, but I was simply just trying to collect GC metrics and present them in the UI. Which I managed to do, however my implementation does not feel like I did it the right way, this specific section in the SO thread:

<pre>
            .AddCheck("Memory", () =>
                new GCInfoHealthCheck()            // This section right here

[2019-12-02 15:24] unaizorrilla commented on #350
I close this issue because is already documented as @karl-sjogren says!

[2019-12-02 15:24] #350 closed

[2019-12-02 15:25] unaizorrilla commented on #346
Hi @javaadpatel

I close this issue, if you discover something new please reopen or create a new detailed issue

[2019-12-02 15:25] #346 closed

[2019-12-02 15:25] unaizorrilla commented on #348
Hi @chrisketelaar

PR is welcome, thanks!!

[2019-12-02 17:09] #279 closed

[2019-12-02 17:20] CarlosLanderas commented on #313
Garbage collector health checks has been created in System Package.

[2019-12-02 17:23] CarlosLanderas commented on #305
@WolfspiritM, I've merged the previous pending UI pull request and right now I'm working on this. Gonna test this code but it should protect all resources:

[code]

[2019-12-03 11:57] ffMathy opened #351 "Critical: AddHealthChecksUI calls BuildServiceProvider, causing Singletons to be instantiated multiple times"
AddHealthChecksUI calls BuildServiceProvider, causing Singletons to be instantiated multiple times. This also causes memory issues, and should be fixed.

[2019-12-03 11:58] ffMathy commented on #351
Related StackOverflow question: https://stackoverflow.com/questions/48856483/net-core-singleton-creation-is-called-multiple-times

[2019-12-04 12:03] #305 closed

[2019-12-04 15:53] Rameron opened #355 "Why returned Healthy when Uri is not available?"
I'm trying to receive status of server by some URI. If Uri is not available, HealthChecks-UI show it Healthy.

How to fix it?

Thanks.

[2019-12-04 21:43] CarlosLanderas commented on #355
Could you show us some code? If you need some help we need some more information

[2019-12-04 21:51] Rameron commented on #355
What kind of information do you want? I have just added `services.AddHealthChecksUI();`  and ` app.UseHealthChecksUI(config =>
            {
                config.ApiPath = "/hc-api";
                config.UIPath = "/hc-ui";
            });` to my service for checking statuses, then some configure `"HealthChecks-UI": {
    "HealthChecks": [
      {
        "Name": "Backend Server Health Status",

[2019-12-05 09:19] Rameron commented on #355
Problem resolved after updating from 2.2 to ASP.NET Core 3.0

[2019-12-05 09:19] #355 closed

[2019-12-05 13:38] RDJoling opened #356 "Registration multiple topics on AzureServiceBusTopic healthcheck gives error."
usage:

[code]

[2019-12-05 14:55] gustavnyberg commented on #327
Any update on this?

[2019-12-05 20:36] CarlosLanderas commented on #356
All HealthChecks have a default name parameter. Use different names when adding several of them.

AddAzureServiceBusTopic(param, param2, name: "thetopicname")
AddAzureServiceBusTopic(param, param2, name: "anothertopicname")

[2019-12-05 20:36] #356 closed

[2019-12-06 15:47] Henkolicious commented on #313
Seems like I've been a potato and probably misspelled the tag, because it worked like a charm. My bad!

[2019-12-06 15:47] #313 closed

[2019-12-09 07:41] zokiz opened #357 "Date modified is missing from HealthChecks.SqlServer.dll"
The HealthChecks.SqlServer.dll file which is part of AspNetCore.HealthChecks.SqlServer (v3.0.0) Nuget package is missing the 'Date modified'. This makes our CI not able to create Nuget packages since the `nuget pack` command fails with the message `The DateTimeOffset specified cannot be converted into a Zip file timestamp.`

This makes us remove this health check and not use it at all. Is there po

[2019-12-09 15:01] unaizorrilla commented on #357
Hi @zokiz
Let me check this, but! Why you include this library in your package? Normally you reference this as nuget packager. Are you including our/this binaries in your nuget packages?

[2019-12-09 15:28] zokiz commented on #357
Yes we do. We reference the Nuget package in our API project and then we publish the project and create our own Nuget package, which is properly versioned as per our API ruleas, and includes all project dependencies so it can be later deployed on different environments. This package is then uploaded to our private Nuget server by TeamCity our CI and from there OctopusDeploy takes it in order to us

[2019-12-09 16:05] unaizorrilla commented on #357
Hi @zokiz

Normally, when we publish we create a zip file and  upload into artifact directory and then publish to any environment from here, not from new NuGet package.
After checking this, in AppVeyor the output for dotnet pack contains valid modified date, you can see this on build artifacts

https://ci.appveyor.com/api/buildjobs/tgrgdr5dg22r2sk5/artifacts/artifacts%2FAspNetCore.HealthChecks.Sql

[2019-12-10 08:34] Odonno opened #358 "Verify SQL schema"
What if we could check the SQL database schema in a healthcheck? To ensure that some tables/columns do exist based on a model.

What do you think?

[2019-12-10 14:46] shkup opened #359 "Health check UI not working"
I'm using .net core 2.2.
The health endpoint works well and returns json as expected but ui gives an empty page and in the console I see the error: File: healthchecks-bundle.js, Line: 1, Column: 4388.  ("Uncaught SyntaxError: Unexpected token {" in .healthchecks-bundle.js:1.)
I work in a closed environment (I.E No internet connection).

Startup.cs

      public class Startup{
          public Star

[2019-12-11 16:41] unaizorrilla commented on #357
Hi @zokiz

I'm following the issue https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/357 with some Microsoft guys! I

[2019-12-12 14:12] YuriiNskyi opened #360 "Health for RabbitMq is false negative"
Steps to reproduce:

1. Create ASP NET Core 2.2 project with API template.
2. This is `Startup.cs`:

[code]

3. Go to `/api/v1/health`.
4. See the `Unhealthy` response.

I have local `RabbitMq 3.7.7 Erlang 21.2`.

This issue reproduces on every RabbitMq connection string, I tried multiple of them, not only local one.

Why that response is `Unhealthy`? What should be done to supply proper healthche

[2019-12-12 20:04] unaizorrilla commented on #360
Hi

Tomorrow morning I try to review this! Sorry for the delay!

[2019-12-13 08:41] unaizorrilla commented on #360
Hi @YuriiNskyi

I review the issue and your code and the problem is related on how you specify the connection string for RabbitMQ.

HealthCheck use URI specification for connection string https://www.rabbitmq.com/uri-spec.html and your are using a wrong format. When the healtcheck try to convert this connection string the format fail and respond your default FailureStatus.

Please use valid Rabbit

[2019-12-13 08:41] #360 closed

[2019-12-13 09:28] fleed opened #361 ""Dynamic" configuration"
What's the suggested way to configure the healthchecks from a database?
I would like to have a list of systems in the database, and then add some checks for those systems.

Is there also a way to trigger a reload of the configuration (when someone adds or removes a system to/from the database)?

[2019-12-13 11:21] ahryshchanka opened #362 "Invalid package name in root README.md"
file:
`Install-Package AspNetCore.HealthChecks.AzureIoTHub`
nuget.org:
`Install-Package AspNetCore.HealthChecks.Azure.IoTHub -Version 3.0.0`

difference: AzureIoTHub and Azure**.**IoTHub, dot in name

[2019-12-13 19:18] rwkarg commented on #304
The Func based extension methods introduced in #307 don't actually result in connection reuse. A new RabbitMQHealthCheck instance is created from the factory each time the HealthCheck infrastructure evaluates.

PR #352 fixes this for the connection string based extension method, but the `Func<IServiceProvider, >` based extension methods will always result in the provided factory being called each

[2019-12-14 09:52] cilerler commented on #267
@CarlosLanderas I appreciate if you may spare your time on this 🤗

[2019-12-16 19:42] #362 closed

[2019-12-16 19:44] CarlosLanderas commented on #361
Hello @fleed.

HealthChecks UI uses a sqlite temporal database, so the way to configure dynamic healthchecks from a database would be retrieving this registers from the BD and adding them programatically inside the AddHealthChecksUI setup using the setup method AddHealthCheckEndpoint:

[code]
Sample:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.U

[2019-12-16 19:44] #361 closed

[2019-12-16 19:46] CarlosLanderas commented on #359
@shkup could you share your sample repository so we can test what the problem is?

[2019-12-16 21:21] #348 closed

[2019-12-16 21:31] CarlosLanderas commented on #349
Could you show your project dependencies versions?. It looks like there is a version mismatch

[2019-12-16 21:57] CarlosLanderas commented on #345
@alefcarlos, I've just created this PR

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/367

It allows you to set an environment variable that will disable relative paths. This is a feature that has been available for a long time in the UI but not in the docker image. I'm going to test it using a reverse proxy and if it is working I'll merge it soon

[2019-12-16 23:02] alefcarlos commented on #345
@CarlosLanderas I'm gonna test it !

[2019-12-16 23:10] CarlosLanderas commented on #345
Remember you should specify the api, resources and webhook paths using the other env variables if default absolute paths don't match the target URLs.

[2019-12-17 09:41] #335 closed

[2019-12-17 20:22] CarlosLanderas commented on #336
Hello @tBStar. I'm gonna implement two action setups in the UI settings to configure the HttpClient using this signature:

Action<IServiceProvider, HttpClient>

With this you will be able to configure any http client related stuff (including auth header) per request.

[2019-12-17 20:27] CarlosLanderas commented on #345
@alefcarlos have you tried the PR branch to check if it covers your scenario?

Thanks

[2019-12-18 11:18] #336 closed

[2019-12-18 11:19] CarlosLanderas commented on #336
Version 3.0.7 is buing deployed to nuget with this feature available.
Read PR #370  or README for more information

[2019-12-18 13:53] Berezhnyk opened #371 "CS0012 The type 'ProducerConfig' is defined in an assembly that is not referenced"
The description of AspNetCore.HealthChecks.Kafka 2.2.2 contains the following requirements:
`Confluent.Kafka (>= 1.0.0) `

I use Confluent.Kafka v 1.3.0.
But I get an error:
`CS0012	The type 'ProducerConfig' is defined in an assembly that is not referenced. You must add a reference to assembly 'Confluent.Kafka, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'`

.Net Core 2.2

[2019-12-18 13:55] CarlosLanderas commented on #371
Hello @Berezhnyk. The Healthcheck is using version 1.2.0. Let me update to 1.3.0 an publish a new version.

Thanks

[2019-12-18 14:34] alefcarlos commented on #345
@CarlosLanderas I'm gonna see it in this weekend, ok ?

[2019-12-18 14:46] Berezhnyk commented on #371
@CarlosLanderas, but I faced with this issue also with Confluent.Kafka version 1.2.0.

[2019-12-18 17:30] CarlosLanderas commented on #371
Could you paste your csproj dependencies and versions?

[2019-12-18 17:40] Berezhnyk commented on #371
My csproj:
[code]

[2019-12-18 17:46] joshlang opened #372 "[3.0.2] .AddApplicationInsightsPublisher without instrumentation key dies"
A breaking change in 3.0.2 (does not occur in 3.0.1).

In our local environment, we do not have an instrumentation key defined anywhere.  We call .AddApplicationInsightsPublisher() as part of our setup.  Since upgrading to 3.0.2, this now causes a crash complaining that a key was not defined in the constructor or options.

[2019-12-18 17:55] CarlosLanderas commented on #372
Version 3.0.1 and previous were using TeletryConfiguration.Active that is a static that has been deprecated.

Here is the PR with some instructions on how to use the new implementation:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/365

You need to register Applications Insights in the WebHostBuilder using UseApplicationInsights, or in the ServiceCollection using services.Ad

[2019-12-18 17:57] #372 closed

[2019-12-18 18:05] joshlang commented on #372
In a basic hello world app, the default asp.net core empty web template, add:

[code]

And you'll explode with:
[code]

[2019-12-18 18:09] CarlosLanderas commented on #372
Please, follow the Application Insights configuration guide here:

https://docs.microsoft.com/es-es/azure/azure-monitor/app/asp-net-core

If you use the parameterless version of AddApplicationInsightsTelemetry you should provide the configuration using an IConfiguration Provider as appsettings:

[code]

You can also use other overload and configure it directly:

[code]

[2019-12-18 18:12] CarlosLanderas commented on #371
@Berezhnyk , version 2.2 of the healthcheck is using version 1.0 as the error suggests:
.net core 2.2 branch:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/netcore-2.2/build/dependencies.props

[2019-12-18 18:17] joshlang commented on #372
Yes, thank you.  I know how application insights works, and the various configuration options.  Our application insights is working just fine, as we intend.  It's just the publisher that blows up.

I will work around this problem myself, I suppose.  Thanks anyway.

[2019-12-18 18:20] joshlang commented on #372
This would be an easy fix for you though:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/6e7be013565551b5f3c8f3e0bb9b19d059619d8a/src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs#L40

All you need to do is call TelemetryConfiguration.CreateDefault(), which is the newer way of getting a TelemetryConfiguration if none was provided (after static was

[2019-12-18 18:28] CarlosLanderas commented on #371
@Berezhnyk so weird. I have created an asp.net core 2.2 with this dependencies and I have no problem.

HealthChecks can only be used with AspNetCore. Why aren't you using Microsoft.NET.Sdk.Web?

Could you change it and reference Microsoft.AspNetCore.All?

[code]

[2019-12-18 18:34] CarlosLanderas commented on #327
@CarljohanDanling , what is the implementation of IsLocal?. As it seems to be a custom extension.
Thanks

[2019-12-18 18:37] CarlosLanderas commented on #372
Hello @joshlang, you are right but, the thing is I do not like the idea of creating the necessary components for a healthcheck to work, but just request them to the service provider. Doing this drove us to face this Deprecated static method. And TelemetryClient.CreateDefault() could be the next

[2019-12-18 18:47] CarlosLanderas commented on #372
@unaizorrilla  what do you think about this?

[2019-12-18 18:54] joshlang commented on #372
I'm actually confused as to why you don't just inject `TelemetryClient`, but I admit I have no real knowledge of your codebase.

[2019-12-19 09:59] Berezhnyk commented on #371
@CarlosLanderas Here is the code https://github.com/Berezhnyk/KafkaHealthCheck.
I've tried to build it on two different machines.

[2019-12-19 12:22] joergjo commented on #372
Remember that App Insights doesn't require an IKey to be configured to work for local development, and that is actually a useful feature. IMHO, components depending on App Insights should follow that principle.

[2019-12-19 14:24] MuiBienCarlota opened #375 "Usability concern with DiskStorageHealthCheck"
When using `AddDiskStorageHealthCheck`, `setup` argument allow us to add several drive limit  checks through `AddDrive`:

[code]

but `DiskStorageHealthCheck.CheckHealthAsync` implementation stops from the first non-compliance ([source code](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/55a2915506fc2c9c3c8eda639913d55b795b1959/src/HealthChecks.System/DiskStorageHealthCheck.cs

[2019-12-19 16:06] hyha commented on #38
Probably this is not yet completely fixed, if relative URL is used, you will still face error on UI(browser side) with error "Only 'http' and 'https' schemes are allowed"

[2019-12-19 16:35] CarlosLanderas commented on #38
endpoints.MapHealthchecks if from Microsoft. Can you try using /health-status please (with slash)

[2019-12-19 16:42] CarlosLanderas commented on #38
Can you show the health Checks that you are configuring?  I am using the same config and it works. Might be a Uri for one of the healthchecks

[2019-12-19 17:19] hyha commented on #38
Sorry missed that part...

![image](https://user-images.githubusercontent.com/1532980/71194304-b312aa00-2259-11ea-8563-f8453adcda36.png)

Just plain AddHealthCheckUI() as its configured in appsettings.json

[2019-12-19 17:21] CarlosLanderas commented on #38
Those are your errors. You are using ---- as connection strings and most libraries parse the connection strings. Use real or valid ones to get rid of the error

[2019-12-19 17:22] CarlosLanderas commented on #38
Are you sure the connection strings are valid? It looks the error might come from there.

[2019-12-19 20:02] hyha commented on #38
Thanks a lot for your time!
I'm using Kestrel, on MacOS 10.15.2 with dotnet sdk 3.1.100.
I've pasted skeleton code to https://github.com/hyha/healthchecksample
![image](https://user-images.githubusercontent.com/1532980/71205476-7ef6b380-2270-11ea-9156-e27e9189f131.png)

[2019-12-19 22:57] CarlosLanderas commented on #38
@hyha, this is working nice using Windows and Linux but I do not have a macOS to test. Could you test the following please?

Try to configure your scenario in one of the samples in this solution. This one for example:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/samples/HealthChecks.UI.Branding

Then I would need to to set a breakpoint in the following line:

https:/

[2019-12-20 12:30] hayer opened #376 "TaskCanceledException when stopping"
Getting a TaskCanceledException when stopping the webapp using Ctrl+C.

[2019-12-20 13:03] hyha commented on #38
Thanks Carlos, running that example did stopped at break point, where:
input argument (relativeUrl) = "status/200?code=ax3rt56s"
AddressesFeature.Addresses =
[0] [string]:"http://localhost:5000"
[1] [string]:"https://localhost:5001"

[2019-12-20 13:06] CarlosLanderas commented on #38
this makes no sense. The reported uris are correct http/https urls. Please, use the whole url in healthchecks appsettings:

 http://localhost:5000/health-status

 to discard is not a connection string healthcheck error

[2019-12-20 13:15] hyha commented on #38
absoluteUri = {file:///health-random}
![image](https://user-images.githubusercontent.com/1532980/71257003-82398000-2300-11ea-8d66-48cb4037b3ca.png)

Yesterday I was using "full URL" in config or code it was working, but the moment I switch to relative this L88 will complain about URL scheme not valid, also same error message on UI after launch.

[2019-12-20 13:20] hyha commented on #38
I think there's an issue on L107 (GetEndpointUri), where "Uri.TryCreate" with Uri="/health-random" & UriKind.Absolute is returning **true**....

![image](https://user-images.githubusercontent.com/1532980/71257391-a053b000-2301-11ea-99bc-b175012bfd71.png)

[2019-12-20 13:23] CarlosLanderas commented on #38
[code]
Are this the values? This is an obvious false for me. Weird

[2019-12-20 13:24] hyha commented on #38
![image](https://user-images.githubusercontent.com/1532980/71257580-0dffdc00-2302-11ea-835d-bfca0d450b7f.png)

[2019-12-20 13:30] CarlosLanderas commented on #38
It looks like this:

https://github.com/dotnet/corefx/issues/22098

[2019-12-20 13:40] hyha commented on #38
Yup, seems like to make this work may need some uglier string operations...

[2019-12-20 13:42] CarlosLanderas commented on #38
@hyha , can you try this on line 109:

if (!parsedUri || absoluteUri.IsFile)

[2019-12-20 13:44] CarlosLanderas commented on #38
@hyha can you try this in line 109:

[code]

[2019-12-20 13:45] hyha commented on #38
![image](https://user-images.githubusercontent.com/1532980/71258771-fa09a980-2304-11ea-988c-d860271c8610.png)
That works too

[2019-12-20 14:23] CarlosLanderas commented on #38
@hyha, I have been able to reproduce this problem with Manjaro Linux. Could you try this branch to confirm and I submit a PR?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/unix-absolute-paths-fix

[2019-12-20 14:44] CarlosLanderas commented on #38
@hyha I was able to reproduce the issue with Manjaro Linux. Can you test with branch to confirm it works for you?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/unix-absolute-paths-fix

[2019-12-20 15:45] hyha commented on #38
This is fixed, thanks a lot @CarlosLanderas

[2019-12-20 15:47] hyha commented on #38
Hope we can have this released to test in real environments

[2019-12-20 15:49] CarlosLanderas commented on #38
Thanks to you for reporting it! I'll release it today.

[2019-12-20 16:20] #38 closed

[2019-12-20 18:11] CarlosLanderas commented on #376
Maybe I can't see it but what is exactly the benefit or not throwing/ logging an exception for a background service being that you are completely stopping the server?

[2019-12-20 22:24] joshlang commented on #376
Stopping a service doesn't necessarily mean you want to immediately and ungracefully exit the application with an error code

[2019-12-20 22:54] CarlosLanderas commented on #376
I agree, but in the case of the UI, that is retrieving checks to be rendered in the front-end spa and that data is cleaned on every startup...

I do not see any advantage from swallowing the exception when the server is stopping when you don't use any code to handle the task cancelled exception and where there is no need to handle data correctness or assure a critical process finished

@unaizorril

[2019-12-21 21:52] ianjirka opened #380 "AspNetCore.HealthChecks.Publisher.ApplicationInsights - 3.0.2 doesn't handle missing telemetry key"
In my startup code, I don't provide a telemetry key to AI if the environment is Development.  So far this has worked fine.

With AspNetCore.HealthChecks.Publisher.ApplicationInsights v 3.0.2, I get the below exception.  3.0.1 does not have this behavior.

Can you confirm if this is a bug or if I need to change how I do startup to not configure AI health checks in this case?

Thanks much.

-------

[2019-12-22 05:31] sungam3r commented on #380
Relates to #372 and #373

[2019-12-22 19:40] CarlosLanderas commented on #380
@ianjirka, Microsoft now recommends relaying in Dependency injection to retrieve TelemetryConfiguration after TelemetryConfiguration.Active has been deprecated:

https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152

. By using:

[code]
You can directly setup your configuration from appsettings or use the setup method to provide instrumentation key.

https://docs.microsoft.com/es-es/

[2019-12-22 21:01] ianjirka commented on #380
@CarlosLanderas - I agree, and this is what I currently do.  I just do not set the telemetry key in the Development environment to avoid the number of things that need to be set up during development.

[2019-12-22 21:40] joshlang commented on #380
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/373 will fix it if it's accepted

[2019-12-22 21:43] CarlosLanderas commented on #380
@joshlang, I am going to submit a new PR that will no have the throw exception, but we are going to relay on DI and not going to use TelemetryClient.CreateDefault static, as Microsoft good practice is using Options<TelemetryConfiguration>

[2019-12-22 21:46] joshlang commented on #380
Nope, it's okay.  I'm not particularly attached to my solution, and I'm happy to see yours get preference - the important thing is that it's fixed.  You're also more familiar with the preferences & styles of this repo!

Thanks!!

[2019-12-22 22:19] CarlosLanderas commented on #375
I agree with you. The main concern would be potencial big lists of failing checks being displayed in the UI.

Here is a sample with two failing disks:

![image](https://user-images.githubusercontent.com/16475649/71328089-71ac2400-2511-11ea-8584-4785ce27044c.png)

Disks are something "more controlled" as server don't use to have much of them, but talking about other king of checks the list could be

[2019-12-22 22:21] #380 closed

[2019-12-22 22:38] CarlosLanderas commented on #371
@Berezhnyk , you are right, when using the setup function the producer config exposed is version 1.0.0 and it does not compile. Let me publish a new 2.2 version using Kafka 1.3.0 for your scenario

[2019-12-22 23:41] CarlosLanderas commented on #371
AspNetCore.HealthChecks.Kafka 2.2.3 has been published with Confluente.Kafka version 1.3.0

[2019-12-22 23:41] #371 closed

[2019-12-23 00:02] CarlosLanderas commented on #333
I've been checking this issue and the problem with
[code]
is that this class exists in package Microsoft.Azure.DocumentDB.Core that allows to connect cosmos db using SQL api, but I guess the healthcheck won't work with other apis (mongo, cassandra, gremlin)

[2019-12-23 11:03] MuiBienCarlota commented on #375
@CarlosLanderas I agree with you. The "too big list" case should be taken into consideration rigth now.

A simple approach could be, in case of multiple failure, to provide a generic message (perhaps with an optional list of each failing driveNames) and using a hierarchical data to provide each individual failures {`driveName`, `minimunFreeMegabytes`, `ActualFreeMegabytes`}.

And because `Descript

[2019-12-24 03:10] h821463015 opened #383 "healthcheck ui with error:Could not retrieve health checks data"
hi,when I use HealthCheckUI，the page get error:Could not retrieve health checks data

the startup.cs code:
` public void ConfigureServices(IServiceCollection services)
        {
            services.AddHealthChecks()

                .AddUrlGroup(new Uri("http://www.baidu.com"), "baidu", HealthStatus.Unhealthy);
            services.AddHealthChecksUI();
            services.AddMvc().SetCompatibili

[2019-12-24 07:33] CarlosLanderas commented on #383
We need the whole configuration. Are you configuring endpoints with appsettings?

[2019-12-24 08:10] h821463015 commented on #383
startup.cs
[code]
appsetting

[code]

[2019-12-24 08:12] h821463015 commented on #383
not support dontcore 2.2?

[2019-12-24 09:03] CarlosLanderas commented on #383
Package versions 2.2.* are for net core 2.2

[2019-12-24 09:36] h821463015 commented on #383
yes,I'm used .net core 2.2 ,but it doesn't work

[2019-12-24 09:37] h821463015 commented on #383
yes,I'm used the Package versions 2.2 in dotnet core 2.2 ,but it doesn't work

[2019-12-24 10:13] CarlosLanderas commented on #383
You configuration is wrong. You are settings the UI Api backend to /health and the healthcheck segment to /health as well. I recommend you to check the samples section

[2019-12-24 23:30] #383 closed

[2019-12-25 07:01] fleed opened #384 "HealthChecks.UI.dll has a wrong version in package 3.0.8"
The assembly contained in the `HealthChecks.UI 3.0.8` Nuget package has a wrong version:

`HealthChecks.UI, Version=3.0.5.0, Culture=neutral, PublicKeyToken=null`

This ends up with a runtime exception if I publish and run the application:

[code]

The workaround that I found is to reference the package **3.0.5**, but that's not the ideal solution.

[2019-12-25 10:28] unaizorrilla commented on #384
Hi @fleed

I create a simple project to check this and all is working fine and version in packages are ok. Can you clean your project and check again, if the problem persist, can you send a repro of this?

![image](https://user-images.githubusercontent.com/1630008/71443139-910da180-2709-11ea-9b47-dd2c40ef4d17.png)

[2019-12-25 10:30] CarlosLanderas commented on #384
@fleed, this is very weird, as package versions are in sync with dependencies.props and it is not a manual and error prone process.

As Unai suggests, I would try to clean the solution.

Thanks

[2019-12-25 11:00] fleed commented on #384
Hi @CarlosLanderas
Thank you for replying.
I tried running a `dotnet clean`, but I will try again cleaning the nuget packages

[2019-12-26 11:09] #384 closed

[2019-12-30 01:34] Daniel15 commented on #271
I'd also like to see this. I don't imagine it'd be much work to have an API endpoint that exposes the data in Prometheus' format. Maybe I'll submit a PR adding it if I get some free time.

[2019-12-30 01:52] Daniel15 commented on #293
This is likely due to changes in Entity Framework Core 3.0. Prior versions would implicitly/silently do client-side evaluation in cases where the query is not translatable to SQL, whereas in EF Core 3.0 it warns you about it. See https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/#restricted-client-evaluation

[2019-12-30 10:13] #376 closed

[2019-12-30 10:17] unaizorrilla commented on #376
PR is merged!

IMHO, the benefit on this is remove unnecessary noise from the logger and also allow write some code to gracefully shutdown when become necessary.

[2019-12-30 10:18] unaizorrilla commented on #359
Hi @shkup

You continue with any issue on this? can we help on anything?

[2019-12-30 10:19] unaizorrilla commented on #351
Hi @ffMathy

Let me check this and I try to respond on this question ASAP!

[2019-12-30 10:23] unaizorrilla commented on #293
Hi @Daniel15 , version 2.2.34 does not use EF Core 3, it still use 2.X, and client evaluation (log or throw) is also a configurable option.

@mikevanoo , we fix on 3.X, are you planned to migrate to 3? I try to solve this warnings on 2.X but I need some time to do that!

[2019-12-30 10:33] unaizorrilla commented on #351
Hi @ffMathy

I aggre that call BuildServiceProvider can cause that singletons can be instantiated multiple times, but in our case we use this call to resolve IConfiguration inside AddHealthChecksUI. If you test it, you can verify that the instance resolved for IConfiguration is the same one on Startup and not duplication exist in this case.

I close the issue, reopen is necessary!

Thanks for cont

[2019-12-30 11:29] ffMathy commented on #351
It needs to be reopened.

The problem is not the configuration instance. The problem is that developers assume that their Singleton services run only once.

By using your project, all my Singleton services all of a sudden run twice, leading to memory issues and locking issues.

Microsoft has very clearly defined that this is a bad idea.

If you need the configuration instance, you can access it wi

[2019-12-30 12:06] unaizorrilla commented on #351
Hi @ffMathy

Yes, i can access to configuration object without build service provider again, true, but this is a breaking change!

Meanwhile if you have a problem with some singleton registration you can move AddX after AddHealtchChecksUI.

 ie, agree that we need to fix this, but we need make a breaking change, planned for next version!

[2019-12-30 14:50] mikevanoo commented on #293
@unaizorrilla We are in the process of upgrading our solutions to .NET Core 3.1 as it's the LTS release so we'll be upgrading your packages as well. So no pressure from me on this one.

[2019-12-30 22:27] ffMathy commented on #351
Can you elaborate on how this is a breaking change? I'm fairly confident it can be done with no breaking changes.

[2019-12-31 08:26] ElderJames opened #388 "Add SkyAPM-dotnet Publisher"
[SkyAPM-dotnet](https://github.com/SkyAPM/SkyAPM-dotnet) is the .NET/.NET Core instrument agent for Apache SkyWalking.

Also use DiagnosticSource Listener to implement.

[2019-12-31 13:43] hayer commented on #376
Sorry, been off GitHub for some days now. My problem with it was that when I was running in ISExpress and stopped the application while debugger was attached it threw the exeception - everytime. Was just annoying.

[2019-12-31 13:48] unaizorrilla commented on #376
Already committed

[2020-01-02 14:09] andresmoschini commented on #338
In my opinion, it would be great if the clients could inject his own `HealthChecksDb`.

I am having issues with my integration tests using `WebApplicationFactory` and I do not have any way to avoid the db file creation:

[code]

[2020-01-02 20:54] FedericoJoseLucia opened #391 "Timeline not loading"
Im working with one of your samples and I cant make the timeline to work. The ui loads fine, but the timeline appears empty. I've tried working this out with the "HealthCheckDatabaseConnectionString" but that doesn't appear to be the problem.

[2020-01-03 00:05] CarlosLanderas commented on #391
Are you using the UI.Branding sample that has random healthchecks?
If you are using a sample where health checks never fail nothing will appear in the timeline as it only shows the healthchecks status changes

[2020-01-03 00:40] FedericoJoseLucia commented on #391
No, I made sure to make it fail and succeed several times, but the timeline is empty.

[2020-01-03 00:41] CarlosLanderas commented on #391
Strange. I've tested it and it's working. Could you upload a repro project to github?

[2020-01-03 04:52] alefcarlos commented on #345
I'm sorry for delay, end of the year was tough... I've tested here and works fine ♥️

[2020-01-03 08:12] CarlosLanderas commented on #345
Thanks! I'll merge it ASAP!

Happy new year!

[2020-01-03 12:59] FedericoJoseLucia commented on #391
I cant right now, i'll try later. Is there any sqlite configuration needed?

[2020-01-06 15:56] abraxas79713 opened #392 "2.2.0 Latest release"
I have noticed that the methods (AddKey, AddCertificate) within the AzureKeyVaultOptions class are not available in the NugetPackage release 2.2.0 is it possible to get a release for this?

Thanks

[2020-01-06 18:43] CarlosLanderas commented on #392
Sure. We can cherry-pick those changes and emit a new 2.2 release. I'll do it ;)

[2020-01-07 13:13] CarlosLanderas commented on #349
Closing for inactivity

[2020-01-07 13:13] #349 closed

[2020-01-07 13:14] #345 closed

[2020-01-08 10:21] tugbayatilla opened #395 "UriHealthCheck and UriHealthCheckOptions doesn't support credentials"
I'm trying to connect to the external system and check whether it is healthy or not! I can check the system by checking ExpectedHttpCode as HttpStatusCode.Unauthorized yet it does not prove that the system is actually healthy or not.

So I would like to implement a method to UriHealthCheckOptions like UseCredentials and use these credentials while creating HttpClient.

[2020-01-08 12:52] greenkamahl opened #396 "When there is an UnHealthy, create an entry in Sentry"
I use Sentry and every time I have an UnHealthy in my project it generates an entry, which causes an overload in it, is there any way to avoid it?
Greetings

[2020-01-08 14:11] tugbayatilla commented on #395
Hello,

I solved the issue with this approach.

`

public static IHealthChecksBuilder AddHealthCheck(this IHealthChecksBuilder healthChecksBuilder,
bool ignoreCertificate = true)
        {

const string healthCheckName = "ax-soap";
            var config = healthChecksBuilder.Services.BuildServiceProvider().GetRequiredService<HealthConfig>();

            var handler = new HttpClientHandler()

[2020-01-08 14:13] #395 closed

[2020-01-09 00:03] sgtzippy commented on #359
I could use some help on this as well, as it is also failing for me. I've tracked down the issue:

The problem is in the healthchecks-bundle.js file. The syntax error on Line 1 character 4388 is because of the "=>" syntax. This is an issue, because IE 11 does not support the arrow syntax. The healthchecks ui works just fine in Chrome, Edge, and Firefox, but that's because they do support that. Is

[2020-01-09 00:07] CarlosLanderas commented on #359
Sorry, but we do not support IE :/

[2020-01-09 00:14] sgtzippy commented on #359
I didn't see that notification in the readme, That's disappointing. Thank you though.

[2020-01-09 05:32] shkup commented on #359
I will upload a sample later on today. It doesn't work for me at Chrome either.

[2020-01-10 05:02] Daniel15 commented on #271
Actually, looking at the code, this is already possible today! It's just undocumented.

Add something like this to `Configure`:
[code]

Then you can add `https://example.com/health/prom` as a target in Prometheus.

[2020-01-13 12:32] andreycherkashin commented on #29
@unaizorrilla any updates? Still in plan or suspended?

[2020-01-17 09:49] mikevanoo commented on #293
@unaizorrilla Just upgraded to v3.0.9 and I don't see this issue so from my point of view I'm happy.

[2020-01-17 10:01] #293 closed

[2020-01-19 19:25] santoshpatro opened #399 "HealthCheck UI not able to pull the details when deployed using Azure Dev Spaces"
I have submitted a bug at : https://stackoverflow.com/questions/59813525/healthcheck-ui-not-able-to-pull-the-details-when-deployed-using-azure-dev-spaces with all the details

Can anyone help me to know how to fix this issue?

[2020-01-20 10:55] adamoisescu opened #400 "Azure Table storage check cannot find table"
We have an issue after upgrading AspNetCore.HealthChecks.AzureStorage
to Version="3.0.1". Our table storage health check returns this error:  "Table 'ourtablename' not exists."

Downgrading the package to AspNetCore.HealthChecks.AzureStorage
to Version="3.0.0" fixes the issue.

[2020-01-20 14:56] unaizorrilla commented on #400
Hi @adamoisescu

I just tested the healthcheck and is working fine.

[code]

The error "Table XX not exist" is default error when the table does not exist in the storage account, this error is from code:

[code]

Can you add more information on this issue, try to create a repro app or show us the code?

[2020-01-20 14:59] unaizorrilla commented on #399
Hi @santoshpatro

The error seems related with sqlite,

This project works fine on local and not when this is deployed using Azure Dev Spaces?

Are your modify default path or connection string for UI local database?

[2020-01-20 15:03] unaizorrilla commented on #396
Hi @greenkamahl

I thing this issue is not related with this project, probably you can discuss this with Sentry guys!

[2020-01-20 15:03] #396 closed

[2020-01-20 15:05] unaizorrilla commented on #358
Hi @Odonno

Umm for us, healtchecks evaluate the service availability not the configuration of the service. In our case, sql server check  the service is up and running but not schema migrations etcs etc.

If you need this feature probably for some specific scenario you can create custom healtcheck to do that!..

Thanks

Unai

[2020-01-20 15:05] #358 closed

[2020-01-20 15:06] unaizorrilla commented on #359
Hi @shkup

Can you send us more information? Can you test our samples and check if all is working?

[2020-01-20 15:07] unaizorrilla commented on #375
Hi @CarlosLanderas are you following this questions?

[2020-01-20 17:24] santoshpatro commented on #399
I have not modified path or connection string in this case. I just tried the same parameters both in the POC and the original project.

[2020-01-21 09:08] adamoisescu commented on #400
Hello,

I found the issue. We didn't pay attention to the method's signature. Sorry for this.

In 3.0.1 the method signature is:
`public static IHealthChecksBuilder AddAzureTableStorage(this IHealthChecksBuilder builder, string connectionString, string tableName = null, string name = null, HealthStatus? failureStatus = null, ...)`
whereas in 3.0.0 it was:
`public static IHealthChecksBuilder AddAzu

[2020-01-23 14:22] cjbush commented on #225
I'd be interested in having this feature as well. @michalkisielewski what were you thinking of in terms of how it could be customized?

[2020-01-23 15:40] williancesar opened #401 "Heathcheck UI shows "No connection could be made because the target machine actively refused it""
Hi!

A few weeks ago, I made a simples PoC of the healthchecks with healthchecks UI for some old soap webservices endpoints and works great!

Today I created a new project with the real implementation and the UI shows the message:
"No connection could be made because the target machine actively refused it"

- The webservices are working and I can access from browser.
- The healthcheks middleware i

[2020-01-23 16:44] #401 closed

[2020-01-27 00:18] mariopasquali opened #402 ".net core 3 single file deployment with custom css and Windows service"
Hello,

Great project!

I am having troubles when deploying using single file exe as Windows service with custom css.  Long story short, when ran as Windows service, the current directory is c:\windows\system32.  The issue with custom css is:

[code]
I can't specify a path like desired (such as in appdata, based on the entrypoint, etc) due to the `Path.Combine(Environment.CurrentDirectory, path)`.

[2020-01-27 10:38] MaxShoshin opened #403 "HealthCheck UI in docker doesn't display healthy status of service when first status is failuse"
I'm using docker image for hosting HealthCheckUI.
Image: xabarilcoding/healthchecksui:3.0.3
It is latest now.

I start healthcheck ui container first.
It tries to get healthcheck info of my not started application (display unhealthy status in UI - it is ok).
Then i start my application (it is healthy now).
Unhelathy status in UI of my service is not updated (see following error for details).

It s

[2020-01-27 17:43] mariopasquali opened #404 "Question: proper approach to filter notifications"
Hi,

I have a few monitored resources having brief hiccups, like for example rejecting an HTTP GET once in a while (like once per day).  These hiccups are not an issue to me, but lead to unnecessary notifications via the webhooks.  I would like to solve this the proper way and need some guidance.

A first approach might be to wrap the health-checks in order to not report failures immediately, but

[2020-01-29 14:40] novotnycodestories opened #405 "History timeline does not work on .NET Core 3, does on .NET Core 2.2"
Hello,
I am not able to get history timeline to work on .NET Core 3, using version of AspNetCore.HealthChecks.UI v3.0.9. Timeline works fine on netcoreapp2.2 with package 2.2.35.
In netcoreapp3.0 project I simply register UI service using
[code]
and then registers route using
[code]
In netcoreapp2.2 I do basically the same. No configuration from appsettings is used, no webhooks, no other nugets ar

[2020-01-31 18:49] alexandrejobin opened #406 "InvalidOperationException in Microsoft.Data.Sqlite.dll in VS Output console"
When I use the HealthChecksUI, I get many exception in the visual studio output console:

[code]

To test it, just create a new aspnet core web project and add this in the startup.cs. No need to add anything in the Configure section. If you remove the `AddHealthChecksUI()` line, there's no error.
[code]

Any idea?

[2020-02-01 20:43] sadedil commented on #403
Same issue here,

We are using K8s liveness probes. When the pod restarted once, Healthcheck UI can't find the new pod anymore. In the UI we started to see `Endpoint, Unhealthy, Connection refused` messages.

When i restart the `xabarilcoding/healthchecksui:3.0.3` pod, it's started to working as expected.

[2020-02-01 21:05] CarlosLanderas commented on #403
I'll take a look!. However, we are gonna release the k8s operator soon, that will handle all the heavy work for you.

Check this video

https://twitter.com/Carlos_Lande/status/1223594881186258944?s=19

[2020-02-04 15:17] riscie commented on #207
Hmm I am the other way. What would you type if you would allow 5 jobs to fail but not 6? `MaximumJobsFailed = 5` is what I would do. So if I would like to be informed at the first failed job it would be `MaximumJobsFailed = 0` for me. But not everyone thinks the same way of course.

[2020-02-04 20:43] bgrainger commented on #234
It doesn't support async operations properly (https://bugs.mysql.com/bug.php?id=70111) but the code uses `Async`: https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/1b8597151d19d4eaba0780cd4f4aa5920088ec45/src/HealthChecks.MySql/MySqlHealthCheck.cs#L23-L25

It was changed here: https://github.com/Xabaril/BeatPulse/issues/47

You should avoid using the `MySql.Data` NuGet package an

[2020-02-05 15:33] aleksa-kuzman opened #407 "Healthcheck UI not working on NET Core 2.2"
This is my configuration

ConfigureServices
[code]

Configure

[code]
appsettings.json:

[code]

On the the UI I GET HTML layout but no healthchecks displayed.
Does anyone know what the issue might be?

[2020-02-05 16:42] #407 closed

[2020-02-06 08:53] ranouf opened #408 "Update nuget for Azure Storage"
The new version of Azure storage is available here:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/README.md

Could you update your service:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.AzureStorage/AzureBlobStorageHealthCheck.cs

(same for table storage and queue)

Thanks

[2020-02-06 16:26] CarljohanDanling opened #409 "Possible to customize the description text cell?"
I'm wondering if its possible to customize the layout and structure of how the text for the description row is shown in the HealthChecksUI webpage?

It would be nice to be able to make new lines if you want to display a collection of description text. In our project we collect data from microservices. If we would get, lets say 5 types of parameters that we would like to show in the description tex

[2020-02-07 09:42] Genmutant opened #410 "[UI] Relative Address for HealthCheckEndpoint with Kestrel at http://0.0.0.0:0"
I'm trying to bind HealthCheckEndpoint using the relative address;

[code]

but because it is configured to use http://0.0.0.0:0 in Kestrel, it throws an exception. I'm not hard set on using automatic port selection, though it is nice for testing. It throws the same exception when using a specific port, though.

[code]

[2020-02-07 13:51] kevbite commented on #226
It would be great if this could have an extension point so that other people could build the alternative database support. Would love if this supported MongoDB.

[2020-02-08 20:40] IsaacWalker opened #411 "HealthCheck UI SQLite Error"
Howdy,

I'm trying to add a the UI to the health checks in an  Asp.Net Core 3.1 Project, and I'm running into this error:
![image](https://user-images.githubusercontent.com/36536997/74091535-72dce480-4ab0-11ea-8780-3040ca65915a.png)

Which, when viewed in the browser console:

![image](https://user-images.githubusercontent.com/36536997/74091546-90aa4980-4ab0-11ea-9624-7aea0aa7f27b.png)

...and fol

[2020-02-08 22:00] unaizorrilla commented on #411
Hi,

Can you share with us more info? A repro project?

Is like some exception with sqlite when evaluate the health checks! Can you try sample projects, UIandApi is like you are trying to do!

[2020-02-09 00:29] IsaacWalker commented on #411
Okay I think I found the culprit, you should be able to reproduce it by adding the following reference:
``
 <PackageReference Include="Microsoft.EntityFrameworkCore.InMemory" Version="3.1.1" />
``
This of course has a further dependency on Microsoft.EntityFrameworkCore.InMemory v3.1.1.
Now, changing it to the version used in HealthCheck.UI (3.0.0) fixes the problem, and is using that version of EF

[2020-02-10 17:28] eobeda commented on #168
The issue of "Unexpected character encountered while parsing value: <. Path '', line 0, position 0." occurs in two flavors:

1) All the time, as in issue #15247.
2) Occasionally/intermittently.

The cause is due to the System.Net.Http.HttpResponseMessageExtensions.As function expects only JSON content. It does not check the content-type of the response before passing it to Newtonsoft.

So, when yo

[2020-02-11 14:10] ig-sinicyn opened #412 "[BUG] RabbitMQHealthCheck does not close connection, host hangs on exit."
**Repro steps:**
Run a host with RabbitMQHealthCheck configured via ConnectionFactory(). Trigger a health check. Press Ctrl-C on a host console.
**Expected behavior:**
Host terminates successfully.
**Actual behavior:**
Host process does not exit even after host shutdown completes.
[code]
endpoint for checks:
[code]
launchsettings.json:
[code]
Sample: [RabbitMqCheckDemo.zip](https://github.com/Xaba

[2020-02-11 18:21] unaizorrilla commented on #412
Hi @ig-sinicyn

I'm fixing the issue, meanwhile you can workaround your code with:

[code]

[2020-02-11 21:23] unaizorrilla commented on #412
Commiting and a new release build is on AppVeyor, when finish a new package 3.0.5 will be available o NuGet.

Please close the issue if the new package solve the problem!

[2020-02-12 09:57] CarljohanDanling opened #415 "[Question] Webhooks [[LIVENESS]] and [[FAILURE]]"
Hi. If I have a collection of healthchecks under one specific HealthCheckEndpoint. Is it possible in the [[LIVENESS]] and [[FAILURE]] to target the specific one that Webhooks notifies Slack about?

For example. If I have 3 apps under the endpoint name "Agents" (app1, app2 & app3). If app1 fails, the [[LIVENESS]] says "Agents are failing...". I would like to point out that just app1 is failing, not

[2020-02-12 12:41] erwin-faceit commented on #406
Can this be related to this issue?
https://github.com/dotnet/efcore/issues/18307

I've had this in the past (few months ago), but with the newest version of Visual Studio I'm not seeing these anymore.

[2020-02-12 14:47] alexandrejobin commented on #406
I'm not able to get more information about the error so I can't say if it's related or not. The error seems to be logged only in the VS debug window and not in the application log. I can't trap it or if I can, I don't know how.

[2020-02-12 16:38] Marusyk opened #416 "How to get DetailedOutput of health check?"
I used beatpulse before and there is amazing feature `DetailedOutput`

http://your-domain/hc?detailedOutput=true

![Screenshot_1](https://user-images.githubusercontent.com/9221694/74356168-8fd22a00-4dc6-11ea-833c-dc2022217f72.png)

Can I got such info using this library without installing AspNetCore.HealthChecks.UI (I don't need any UI because I use it in Web API)?

[2020-02-12 17:18] Marusyk commented on #416
Ok, I found a solution in [Scott's post ](https://www.hanselman.com/blog/HowToSetUpASPNETCore22HealthChecksWithBeatPulsesAspNetCoreDiagnosticsHealthChecks.aspx)

It would be great to add this to docs.

[code]

[2020-02-12 17:29] #416 closed

[2020-02-12 17:47] AndreaLando opened #417 "System.InvalidOperationException in Microsoft.Data.Sqlite.dll"
Hi, I am developing an UI health check web browser but when poll the sample endpoint http://localhost:8005/hc a have an exception and the /hc-ui remains blank.

System.Net.Http.HttpClient.health-checks.LogicalHandler: Information: Start processing HTTP request GET http://localhost:8005/hc
System.Net.Http.HttpClient.health-checks.ClientHandler: Information: Sending HTTP request GET http://localhost

[2020-02-12 17:54] unaizorrilla commented on #417
Let me some time to review the sample. Are you check our sample UiAndApi?

[2020-02-13 00:14] AndreaLando commented on #417
Yes i do.... Thanks for your interest.
--
Inviato da Libero Mail per Android mercoledì, 12 febbraio 2020, 06:54PM +01:00 da Unai Zorrilla  notifications@github.com :

[2020-02-14 08:36] jlcalderingarcia commented on #399
We are having the same issue. It seems the sqlite database gets blocked between two or more operations. We were able to reproduce it by running several integration tests on the Api with the configuration in place. Let me know if you would like to have the code sample to create an empty project with the setup.
Thank you very much,

This is the exception we have on azure in case it might help:

2020

[2020-02-14 11:08] ussamoo commented on #406
Same behavior here

[2020-02-14 12:34] CarlosLanderas commented on #406
Could you provide some more information?

- Full Configuration
- Operative system
- Where are the UI is deployed (Azure WebApp, Docker Container, Permissions)
- User running the application

With only those two lines is pretty complicated to know what's going on.

Thanks!

[2020-02-14 13:38] erwin-faceit commented on #406
Did you try to enable break when exceptions are thrown? I got the original exception by enabling that setting (got something with a NextResult). Go to Debug -> Exceptions, and in that window check the second checkbox (it should be partially checked). After you've found the exception, you can reset the settings with the right most button in that window.

[2020-02-14 16:30] alexandrejobin commented on #406
This is what i get after enabling the break on exception.

[code]

**StackTrace**
`   at Microsoft.Data.Sqlite.SqliteDataReader.NextResult() in /_/src/Microsoft.Data.Sqlite.Core/SqliteDataReader.cs:line 134`

**My config**
- Visual Studio Professional 2019 v16.4.1
- .NET Core 3.1
- AspNetCore.HealthChecks.UI.Client 3.0.2
  - Microsoft.EntityFrameworkCore 3.0.0
  - Microsoft.EntityFrameworkCore.Sql

[2020-02-14 17:14] erwin-faceit commented on #406
Yep,  that's the one! Since you're using .NET Core 3.1, could you try updating both Microsoft.EntityFrameworkCore and Microsoft.EntityFrameworkCore.Sqlite to 3.1.0 or 3.1.1?

This issue was solved by a change in Visual Studio 16.4, but it also required a change in the Sqlite module to prevent this exception from showing up.

[2020-02-14 17:48] alexandrejobin commented on #406
I can't upgrade since that HealthChecks depends on v3.0.0. I have listed the packages under AspNetCore.HealthChecks.UI.Client.

Or is there a way to force the library to use another version?

[2020-02-14 17:50] erwin-faceit commented on #406
It depends on >= 3.0.0. You can just add the newer version of the nuget packages to your project directly, and they will be used instead.

[2020-02-14 18:18] alexandrejobin commented on #406
I have installed Microsoft.EntityFrameworkCore.Sqlite v3.1.0 package and it solved the problem when the database get hit by HealthChecks (yeh) but I still get these errors at the initialization time even if I use v3.1.1.

[code]

The exact error is
[code]

[2020-02-15 11:03] erwin-faceit commented on #406
Now you're having a completely different issue. Your original issue seems to be solved by upgrading to 3.1.1.

For this issue, it happens if the connectionstring for the database is incorrect. HealthChecks UI has checks in place for that, and uses predefined values if no connectionstring is supplied. I would start by removing obj and bin directories.

If you still experience this error, post a ful

[2020-02-15 18:03] santoshpatro commented on #399
Thanks much for your detailed mail

On Fri, Feb 14, 2020 at 2:06 PM Jorge Luis Calderín García <
notifications@github.com> wrote:

[2020-02-15 18:03] santoshpatro commented on #399
Can we get a solution to fix this issue

On Sat, Feb 15, 2020 at 11:33 PM Santosh Patro <santosh.impossible@gmail.com>
wrote:

[2020-02-15 21:46] sadedil commented on #403
Thanks for the answer, k8s operator will be nice.

But I want to ask something else. At the releases page i show the _3.0.0-ugrade-ui-3.0.9_, but when i checked the [docker hub](https://hub.docker.com/r/xabarilcoding/healthchecksui/tags) still see the 3.0.3.

Am I missing something?

[2020-02-17 06:53] jlcalderingarcia commented on #399
Hi! I didn't found a solution for the issue, but I've being able to reproduce it with a simple setup. You can find the Visual Studio solution with an Web API and a test project were the tests randomly fails due the same issue we are having in Azure.
This is the url to the repo:
https://github.com/jlcalderingarcia/HealthChecksUIIssue
I hope it can help.
Thanks!

[2020-02-17 13:52] tidusjar commented on #410
I'm having the same issue as this, did you find a solution?

[2020-02-17 20:29] santoshpatro commented on #399
Thanks much for your email. I will give a try on my end and keep you posted
with the updates.

On Mon, Feb 17, 2020 at 12:23 PM Jorge Luis Calderín García <
notifications@github.com> wrote:

[2020-02-18 19:57] jessie7216 opened #419 "Prometheus-Net 3.x is not supported"
The AspNetcore.HealthChecks.Publisher.Prometheus package does not support the latest Prometheus-Net versions of 3.x.

It causes an exception to be thrown in LivenessPrometheusMetrics.cs at
Registry = DefaultCollectorRegistry.Instance;
and makes the package unusable.

[2020-02-20 17:23] brianmat opened #420 "healthchecksdb in memory?"
Is this possible?  If so, what would the connection string look like since I have not yet been able to get this to work.  Trying to sort out if this is a technical limitation or a syntax issue on my end with the connection.

[2020-02-21 14:31] alexandrejobin commented on #406
The error happen when calling `services.AddHealthChecksUI();`. I tried to inverse the calling of AddHealthChecksUI and AddHealthChecks but the error is still there.

[code]

[code]

[code]

[2020-02-23 12:07] zegroz opened #422 "using health checks offline / without internet --> icons not visible/do not appear"
Hi,

I have following issue:
On the page there are the icons for some actions like + for add_circle_outline or - for remove.
But in case there is no internet connection instead of these icons the word for these icons appear, e.g. instead of the add icon + the word "add_circle_outline" appears insted, see also screenshot.

used project was directly from   Xabaril / AspNetCore.Diagnostics.HealthChec

[2020-02-23 17:15] CarlosLanderas commented on #422
This comes from UI Version 2.0 new look and feel. @evacrespo I'm gonna put this resources inside the assembly as everything else

[2020-02-24 10:01] Romanx opened #424 "Allow AppInsights Publisher to use AvailabilityTelemetry instead of Custom Events"
Would it be possible to add a switch to allow the publisher to register availability telemetry publishers instead so that the availability checking and alerting is automatically hooked up in app insights?

It's already apart of the telemetry client so no new dependencies would need to be taken, I'd be happy to submit a PR for this.

Thanks,

[2020-02-24 17:25] amccool opened #425 "[Question] Node Healthcheck behind load balancer"
I'm looking to not only track the overall health of a url, but also track the health of the nodes behind a load balancer.

normally I would use something like (executed from a machine inside my network):
`curl --resolve api.biz.cc:443:<the internal ip, rather than the vip> https://api.biz.cc/api/healthcheck`

Is this something that this package can handle?   I didnt see anywhere that I can explici

[2020-02-25 11:23] paulvanbladel commented on #168
I'm getting the same problem even when not being on azure. Just in visual studio in debug mode.
Is there a potential workaround?

[2020-02-25 14:24] SpaceOgre opened #426 "[Application Insights] Ability to use ITelemetryInitializers in HealthChecks.Publisher.ApplicationInsights"
We have a ITelemetryInitializer that we hook up to AI using DI in startup.cs to add extra information to our telemetry. But HealthChecks.Publisher.ApplicationInsights does not add them to its TelemetryConfiguration.

I would like an option to either use the default TelemetryConfiguration instead of creating a new one (this would be enough for our use case) or pass in a list of ITelemetryInitialize

[2020-02-25 20:15] unaizorrilla commented on #426
Hi @SpaceOgre

AI publisher use DI to get configured telemetry configuration, our AddApplicationInsightPublisher get the TelemetryConfiguration from the configured options.

You can see it on

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/2a66bc9588701f7a50d33eb2652727a562ce5f33/src/HealthChecks.Publisher.ApplicationInsights/DependencyInjection/ApplicationInsightsHealthCheckB

[2020-02-25 20:19] unaizorrilla commented on #425
Hi @amccool

I'm sorry, but I don't understand the scenario, can you explain a bit more?

[2020-02-25 20:23] unaizorrilla commented on #424
Hi @Romanx

I like it :-) We need to mantain compatibily on this, can you add options to configured the publisher to mantain ( as default ) current TrackEvent or select TrackAvailability?

[2020-02-25 20:24] unaizorrilla commented on #422
Hi @CarlosLanderas , any update on this?

[2020-02-25 20:34] unaizorrilla commented on #417
Hi @AndreaLando

I check your sample and works fine for me (the endpoint you configure is not on my machine)

![imagen](https://user-images.githubusercontent.com/1630008/75285180-709bb980-5816-11ea-9482-4a0ec4ca7647.png)

I close the issue because I can't reproduce your problem. Please re-open if you have more info!

[2020-02-25 20:34] #417 closed

[2020-02-25 20:36] unaizorrilla commented on #412
Closed, because is not new info!

[2020-02-25 20:36] #412 closed

[2020-02-25 21:10] SpaceOgre commented on #426
Hi @unaizorrilla,

The configuration you get from DI is only used to get the InstrumentionKey here (what I can see from looking the code over at least)

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/2a66bc9588701f7a50d33eb2652727a562ce5f33/src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs#L122

You then create a new TelemetryConfiguration using th

[2020-02-25 21:12] unaizorrilla commented on #426
True, i'm sorry !

I accept a PR on this change if your are able to do that, if not I try to perform this change!

[2020-02-25 21:22] SpaceOgre commented on #426
I hope I will get time for it tomorrow, if so how would you like it to work? A new bool that activates this usage of the DI configuration maybe?
I guess that there might be other people using this publisher that would not like all of their other config in the health check telemetry. So a way to opt in or opt out would be good.

I guess you could see the instrument key parameter as this already as

[2020-02-26 09:21] tomkerkhove opened #428 "Azure Storage Table with storage emulator does not work"
Azure Storage Table with storage emulator does not work as it creates invalid JSON responses:

We are using this for local development, however, using a real storage account works fine.

[2020-02-28 11:20] ShaunMcGuile opened #429 "Json returned by the Response Writer"
Just wondering why the entries are returned as -
"*name*": {...}

rather than being -
"entry-name": "*name*",
"entry-data": {...}

regards,

Shaun

[2020-02-28 13:49] simonskr commented on #168
Same here. Just hit a roadblock with this.

**JSON:**
`  "HealthChecksUI": {`
`    "HealthChecks": [`
`      {`
`        "Name": "Scribe API Check",`
`        "Uri": "http://localhost:5000/health"`
`      }`
`    ]`
`  },`

**Docker Compose:**
`version: '3.4'`

`services:`
`  statuschecks:`
`    image: statuschecks`
`    build:`
`      context: .`
`      dockerfile: WebApps\Health\StatusChecks\Doc

[2020-02-28 14:05] unaizorrilla commented on #168
This exception is related with bad UI configuration or when the heatlhz endpoints are no respond valid json (response writer is UI.Client).

We try to sanitize de error to help about what is bad configured.

[2020-03-02 00:33] amccool commented on #425
Typically I will use a common DNS name which refers to the vip of the load balancer.   However I would also like to test the node's endpoints as well, by bypassing the load balancer.  To do that I need to override the DNS entry to point at the individual node endpoints.   This is something that is supported?

[2020-03-02 21:48] fglaeser opened #430 "Ibm MQ healthchecks PR."
Hi, I have an almost ready PR with they  Ibm MQ healthchecks, test and basic documentación. Do You have any suggestion?
Best regards.
Facundo

[2020-03-03 09:46] jonathan-bloodworth commented on #405
@novotnycodestories Did you get anywhere with this? I tried your suggestion of downgrading to 2.2 but still didn't see any history and the histories table in the sqlite db was still empty.

[2020-03-03 16:58] unaizorrilla commented on #429
Hi @ShaunMcGuile

Why not?

[2020-03-03 17:00] unaizorrilla commented on #430
I try to review the PR a soon as posible!

[2020-03-03 17:14] fglaeser commented on #430
PR #431

[2020-03-04 13:39] ildoc commented on #410
i've got the same error in appsettings.json

[code]

[2020-03-05 10:43] hptbee commented on #405
![image](https://user-images.githubusercontent.com/18607352/75974118-dcfa7500-5f08-11ea-85fb-56bb40e03243.png)

[2020-03-05 10:49] unaizorrilla commented on #405
Hi @CarlosLanderas can you please following this issue?

[2020-03-05 13:32] alfreql commented on #29
Hi, if I dont want the health history, Can I disable the use of the db? How can I do it?

[2020-03-05 14:46] dkoshyk opened #434 "Cannot convert expression type MySqlConnection to return type System.Data.IDbConnection"
I installed `AspNetCore.HealthChecks.MySql 3.0.0` to my project and something went wrong.
i have conflict in converting MySqlConnection class to IDbConnection interface.

it works fine without `AspNetCore.HealthChecks.MySql`

my all packages:

    <PackageReference Include="AspNetCore.HealthChecks.Rabbitmq" Version="3.0.5" />
    <PackageReference Include="AspNetCore.HealthChecks.SignalR" Version=

[2020-03-05 15:16] dkoshyk commented on #434
remove MySql.Data helped me

[2020-03-05 15:16] #434 closed

[2020-03-05 15:20] p0onage opened #435 "AddCustomStylesheet Not Applying Changes"
I've added the following into my startup class

[code]

Inside the wwwroot folder, I have the dotnet.css file

`:root {
    --primaryColor: #5ec297 !important;
    --bgImageLigthen: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ) !important;
    --logoImageUrl: url('/images/mylogo.png') !important;
}
`

why are the override CSS styles not working?

[2020-03-05 16:18] novotnycodestories commented on #405
No I havent progressed with this at all, however it was working on .net core 2.2, but you need to downgrade also nuget package (it worked for me though).

[2020-03-05 16:25] CarlosLanderas commented on #405
@novotnycodestories in your sample you are not using the UI Response Writer. Let me write a sample for you

[2020-03-05 16:33] CarlosLanderas commented on #405
Ok. I have reproduced the error. It looks like history entries are not being sent from the backend. Weird

[2020-03-05 16:49] CarlosLanderas commented on #405
@novotnycodestories @jonathan-bloodworth  @hptbee

Could you try the sample HealthChecks.UIAndApi that is here?

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/tree/master/samples/HealthChecks.UIAndApi

It is working for us.
I've also created a sample that is working with 3.0.9

Could you check that your database file is properly deleted and created on startup?

[code]

[2020-03-05 17:49] p0onage opened #436 "Memory Usage Increasing Health Check UI"
Hello,

I've noticed this running a health check UI on the following NuGet package versions

    <PackageReference Include="AspNetCore.HealthChecks.EventStore" Version="2.2.2" />
    <PackageReference Include="AspNetCore.HealthChecks.UI" Version="2.2.32" />

and on

    <PackageReference Include="AspNetCore.HealthChecks.EventStore" Version="3.0.0" />
    <PackageReference Include="AspNetCore.Healt

[2020-03-05 22:22] udlose commented on #234
@bgrainger

The bug you reference was from 2013 in version 6.7.4.0. The latest version of MySql.Data is 8.0.19 and updated as recently as 1/13/2020

`MySqlConnector` is a 3rd party nuget package that is not distributed from Oracle.  I think using the  Nuget package that is actually issued by the vendor makes much more sense as it is officially supported.

[2020-03-05 22:27] udlose opened #437 "Nuget conflict between MySql.Data and MySqlConnector in AspNetCore.HealthChecks.MySql"
I am using the AspNetCore.HealthChecks.MySql package v3.0.1 and getting a package conflict against my MySql nuget package v8.0.19:

[2020-03-05 23:04] amccool opened #438 "[UI] No endpoints when using a non-conformant healthcheck endpoint"
I have several websites with handrolled healthchecks.  their output looks like this:
`{"utcTime":"2020-03-05T23:02:17.5793442Z","machine":"DODAD","version":{"major":3,"minor":1,"build":0,"revision":32,"majorRevision":0,"minorRevision":32}}`

When I add these endpoint to the UI, I get `NullReferenceException` in my debug output, and the UI doesnt render any endpoints at all.

`settings.AddHealthChe

[2020-03-05 23:24] amccool commented on #438
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs#L91

looks like because my endpoints returns valid json,  the deserializer honors it, but doesn't fully create a valid object you were expecting (e.g. Entries is null and the TotalDuration is TimeSpan.Zero (the default))

[2020-03-05 23:25] amccool commented on #438
does https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/246 address my issue?

[2020-03-06 01:22] bgrainger commented on #234
Correct, and it still hasn't been fixed 6½ years later. (The bug's status is "Verified" and it's trivial to write an example program that demonstrates the problem.)

I strongly disagree:

* Performance. A health check that's run frequently should have low overhead. MySqlConnector is superior in this regard: https://github.com/mysql-net/MySqlConnector#performance
* Reliability: Besides the async bu

[2020-03-06 04:17] hptbee commented on #405
Hi @CarlosLanderas, I knew where the problem was this. The HealthCheckExecutionHistory  table just add record when current report status difference with execution status.
![1](https://user-images.githubusercontent.com/18607352/76050763-38754300-5f9b-11ea-9019-bc95cec1dc72.PNG)
 But In my case, i have many endpoints and  every endpoint i have many entries like this
![image](https://user-images.gith

[2020-03-06 07:07] CarlosLanderas commented on #438
@amccool the UI only works with the UIClient package response writer. It can't work with custom hand rolled Healthchecks outputs as it does not know the format

[2020-03-06 07:29] novotnycodestories commented on #405
I am sorry for the misunderstanding, I didn't describe it entirely.
I have server that uses healthcheck UI and collects healthchecks from other endpoints (using `AddHealthCheckEndpoint`). These endpoints have also sub checks for database, memory, etc, and all have correctly set response writer using `UIResponseWriter.WriteHealthCheckUIResponse`.

Proposal for reproduction:
Create two applications:

[2020-03-06 07:30] novotnycodestories commented on #405
It can look like this
![image](https://user-images.githubusercontent.com/17833494/76061861-bda12d80-5f84-11ea-8049-079938ddc9a6.png)

[2020-03-06 07:33] CarlosLanderas commented on #405
@novotnycodestories could you check the sample app I linked above?

You can also test the code I pasted.

[2020-03-06 08:27] novotnycodestories commented on #405
Alright, I have tested both cases.
First I tried the code you posted where application targets only itself and it works as expected.
![local_ui](https://user-images.githubusercontent.com/17833494/76064888-d14f9280-5f8a-11ea-8f56-5d1bd0c9c94b.JPG)
![local_db](https://user-images.githubusercontent.com/17833494/76064890-d1e82900-5f8a-11ea-9e2e-8aafec579e1f.JPG)

UI shows history timeline (somewhat) c

[2020-03-06 08:28] novotnycodestories commented on #405
I wonder for how long some endpoint needs to stay in state to be saved into Failures table.

[2020-03-06 09:36] novotnycodestories commented on #405
Well, I found out that I had ridiculously high MinimumSecondsBetweenFailureNotifications and never waited for that long while I was testing it. I lowered it down and data are inserted properly into Failures table, however, the timeline is still empty ...
![r_db](https://user-images.githubusercontent.com/17833494/76071286-4d030c80-5f96-11ea-99a8-491112bb2648.JPG)

[2020-03-06 09:41] unaizorrilla commented on #405
Sorry but no sense! I hace the binaries on production año works well! Please check the elapsed time configured for collector and also check on browser the api response!!

[2020-03-06 10:12] novotnycodestories commented on #405
Well, when it works for you it does not necessarily mean it works in all other use cases. I am also investing a lot of time into this to help you, me and potentially others, so please stop with It works on my machine syndrome.

I may have an idea of why it does not work. State history is binded to Entry, right? What about a use case where I do not have any additional checks on my endpoint and I on

[2020-03-06 10:17] novotnycodestories commented on #405
Well, bad thing about not having any additional entries is, that I cannot even show the history timeline if service responds as Healthy.
![list](https://user-images.githubusercontent.com/17833494/76074634-f5679f80-5f9b-11ea-8e70-1052efdbe0d5.JPG)

[2020-03-06 10:24] unaizorrilla commented on #405
Well, this is a new scenario to check! Let me do some test on this, Meanwhile, can you add a simple entry (healthcheck) that always set Healthy status? This is how tipically do on k8s for  liveness .

Please let me know if the workaround fit for you!

[2020-03-06 12:01] novotnycodestories commented on #405
I have been able to make it work. I added empty check with **name** Endpoint (which is important, with any other name it didnt work).
[code]
The json result from api:
[code]
And finally history timeline
![image](https://user-images.githubusercontent.com/17833494/76081825-41214580-5faa-11ea-8276-b381abe377ec.png)

So this is the workaround I was looking for, thank you.
I would suggest by default to

[2020-03-06 18:40] udlose commented on #234
@bgrainger  I stand corrected. I naively assumed that after 6.5 yrs, the MySql devs from Oracle would've come into the year 2000 and correctly implement async I/O in their nuget package.  How disappointing.

I am a consultant for a large Fortune 50 company who is very selective about the authors of a nuget package they decide to select.  Hence, my _general_ preference to opt for a nuget from a wel

[2020-03-06 19:39] amccool opened #439 "[feature request] ActiveDirectory Healthcheck"
yeah yeah... a bit silly, but I need one.

[2020-03-06 19:42] amccool commented on #425
looks like alot more configuration would be needed to support this.   Closing and adding a feature request, as the question is answered.

[2020-03-06 19:42] #425 closed

[2020-03-06 20:13] udlose commented on #119
Is there any update on this?

[2020-03-06 21:13] bgrainger commented on #234
Unfortunately, Connector/NET seems to have been on life-support for many years, with very little attention paid to the classic (i.e., not "X Protocol") part of the library; there are signs that this might be changing in the last couple of [8.0.x point releases](https://dev.mysql.com/doc/relnotes/connector-net/en/news-8-0.html), but still many bugs go without an update for years. (That was one of t

[2020-03-09 08:27] CarlosLanderas commented on #438
@amccool can you show some code to show the healthchecks configuration and the ui configuration?

[2020-03-09 09:07] CarlosLanderas commented on #435
Hello @p0onage, I've just tried to use a custom css sheet in wwwroot and it's working for me, could you try this?:
Css definition:
[code]

Code:

[code]

[2020-03-09 09:21] CarlosLanderas commented on #422
@zegroz thanks for reporting the issue. I'll have in consideration this problem for the next version UI. The current UI version have embedded all resources (css, js, html) within the assembly and this requires to expand the code to support woff2 files and we might change the current UI for the next version.

Thank you very much for reporting and we add this to triage :)

[2020-03-09 09:21] #422 closed

[2020-03-09 09:22] CarlosLanderas commented on #411
@IsaacWalker your code shows custom healthchecks (Printerhealthcheck, schedulerHealthcheck)
As Unai suggested, we would need to see some code or repro project to help you.

As 30 days has passed we temporaly close the issue. Feel free to open it if you need more help

[2020-03-09 09:22] #411 closed

[2020-03-09 09:49] CarlosLanderas commented on #399
@jlcalderingarcia . I'm not sure I am understanding the problem. The database deletion is completed in ConfigureServices method in startup that is only executed in one thread and never concurrently.

[2020-03-09 10:00] CarlosLanderas commented on #405
Closing as resolved. Thanks everyone :)

[2020-03-09 10:00] #405 closed

[2020-03-09 10:02] #391 closed

[2020-03-09 10:12] CarlosLanderas commented on #402
@mariopasquali would this work for you?. For retrocompatibility, if you dont qualify the path, it would use the current directory, and if you do it would use the given path. I've been able to load css files from other hard disks:

[code]

[2020-03-09 10:17] mariopasquali commented on #402
Hi @CarlosLanderas, thanks, yes this helps!

[2020-03-09 10:25] CarlosLanderas commented on #402
Thanks @mariopasquali. Commited!. It will be published soon. Be tuned!

[2020-03-09 10:25] #402 closed

[2020-03-09 10:26] CarlosLanderas commented on #400
Thanks for the additional information @adamoisescu . Closing the issue :)

[2020-03-09 10:26] #400 closed

[2020-03-09 10:30] CarlosLanderas commented on #420
Hello @brianmat. The UI works with sqlite right now and there is not option to use it in in memory. However, we might introduce the feature in the future as there are several feature requests for this.

Thanks!

[2020-03-09 10:30] #420 closed

[2020-03-09 10:31] CarlosLanderas commented on #410
@Genmutant  @tidusjar  @ildoc , What operative system are you using?

[2020-03-09 10:37] ildoc commented on #410
I'm running my app from a linux docker container with all the kestrel default settings

[2020-03-09 10:57] tidusjar commented on #410
I'm running on Windows, but this will apply to all OS's that net core supports.
Kestrel is listening on `http://*:5000`

You can repro this using my repo if you want, just pull the sln down (branch = `feature/v4`) and un-comment the following lines: https://github.com/tidusjar/Ombi/blob/feature/v4/src/Ombi/Startup.cs#L84

[2020-03-09 11:02] CarlosLanderas commented on #410
0.0.0.0 for IPv4 represents kestrel listening on all ips, and [::] is the IpV6 equivalent.
However the IServerAddressesFeature just reports the plain test configuration and not the final ips, so we can say this feature can only work when mapping relative services to localhost

If you receive something like: http://[::]:8001 from the server address feature we can't compose the final url.

I recomme

[2020-03-09 11:04] CarlosLanderas commented on #410
@rynowak any idea how can we use the IServerAddressFeature from AspNetcore to compose fully qualified urls from a relative path when kestrel is listening to all ips in ipv4/ ipv6?. Thanks!

[2020-03-09 11:15] CarlosLanderas commented on #439
@amccool, I recommend you to create a custom healthcheck. Remember you can create healthchecks for your custom company needs and wire them with the whole ecosystem and UI. Right now, due to all the work we have to do and current Active Directory demand it is not in our roadmap.

Here you have a nice tutorial:

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetco

[2020-03-09 11:15] #439 closed

[2020-03-09 11:25] CarlosLanderas commented on #437
Hello @udlose , this is now an issue with healthchecks. Is an issue you are suffering because you are also using MySql.Data package. I recommend you follow this steps:

https://stackoverflow.com/questions/48683241/the-type-mysqlconnection-exists-in-both-mysql-data-issue

[2020-03-09 11:25] #437 closed

[2020-03-09 11:36] CarlosLanderas commented on #409
@CarljohanDanling this is not currently supported but we will have it in consideration for the next UI version. All the  UI resources are embedded in the assembly and we might need to introduce some kind of component configurer in C#.

We will have this in consideration.
Thanks!

[2020-03-09 11:36] #409 closed

[2020-03-09 11:42] CarlosLanderas commented on #408
Hello @ranouf. We are going to bump all healthchecks versions and UI to 3.1 and upgrade all package dependencies soon. Thanks for reporting!

[2020-03-09 11:42] #408 closed

[2020-03-09 11:48] #327 closed

[2020-03-09 11:48] #234 closed

[2020-03-09 11:49] #325 closed

[2020-03-09 11:49] #326 closed

[2020-03-09 11:51] #103 closed

[2020-03-09 11:52] #187 closed

[2020-03-09 11:54] #309 closed

[2020-03-09 13:16] jlcalderingarcia commented on #399
Hi @CarlosLanderas! It seems that in Azure, for some reason the Startup is triggered several times, maybe because every time a file is copied the app is restarted and the previous instance might not have been completely shutted down due the gracefully shutdown, and hence, we might have the database file blocked while trying to delete it. The solution I found was adding some concurrency mechanism t

[2020-03-09 13:54] SyntaxWarrior opened #440 "Unexpected character encountered while parsing value: H. Path '', line 0, position 0."
I just created a new .net core project and added the health check UI to it in order to monitor a few services. I get the below error every time the background worker in the UI tries to collect data.

[code]
On the app I want to monitor I have

[code]
[code]
and in the UI I have (other than this its a default core 3.1 project)
[code]

[code]
The service I want to monitor is returning OK 200, and th

[2020-03-09 13:56] SyntaxWarrior commented on #440
![bild](https://user-images.githubusercontent.com/23475688/76219488-323ecb00-6216-11ea-91fd-2c6d4add1095.png)
This is what I see in the interface.

[2020-03-09 13:59] CarlosLanderas commented on #440
You are not using the HealthChecks response writer. Please take a look to the samples:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UIAndApi/Startup.cs#L82

[2020-03-09 14:24] SyntaxWarrior commented on #440
Thank you. That was the solution.

For anyone else, on the service I want to monitor I added a reference to:

And updated my code to:
[code]

As a new user (since about 2 hours ago) I really like this project, and it was not to hard to get it working (well, besides this issue). One critique I might add is that I think its difficult to tell what code I need to add to which side. The service being m

[2020-03-09 14:28] CarlosLanderas commented on #440
Thanks @SyntaxWarrior. I might propose adding a new change to simplify and unify our endpoints with Microsoft's

[2020-03-09 14:28] #440 closed

[2020-03-09 15:23] amccool commented on #438
`https://xxx/api/healthcheck`
returns
`{"utcTime":"2020-03-05T23:02:17.5793442Z","machine":"DODAD","version":"major":3,"minor":1,"build":0,"revision":32,"majorRevision":0,"minorRevision":32}}`

UI setup
[code]

[2020-03-09 15:32] CarlosLanderas commented on #438
@amccool in that lines of code you are only wiring the services in the IServiceCollection. I need to see also the HealthChecks configuration (AddRedis, AddCustomHealthCheck, etc) and the endpoints mapping MapHealthChecks, MapHealthchecksUI, etc

[2020-03-09 17:33] udlose commented on #226
@unaizorrilla can you please provide some guidance on extending to persist on another db - maybe SQL Server?

[2020-03-09 17:37] udlose commented on #161
@unaizorrilla
How do I stop the database from being deleted?  Is there an option to do this?

[2020-03-09 18:52] yagoluiz commented on #161
Guys and @unaizorrilla,

My solution for this problem, was to add option _"HealthCheckDatabaseConnectionString"_ in JSON **HealthChecks-UI**:

``
 "HealthCheckDatabaseConnectionString": "Data Source=%APPDATA%\\healthchecksdb"
``

[2020-03-09 20:54] udlose commented on #161
@yagoluiz  thanks for your response!  I wasn't aware of that option.

Unfortunately, my app is in the Cloud so I can't rely on file storage.  I need a distributed solution. I guess I could fork this repo and add one but I was hoping one already existed...

[2020-03-10 07:31] CarlosLanderas commented on #428
Thanks for reporting. I'll give.it a try

[2020-03-10 07:33] CarlosLanderas commented on #406
@alexandrejobin are you still having this issue?

[2020-03-10 13:20] alexandrejobin commented on #406
I have updated Microsoft.EntityFrameworkCore.Sqlite to v3.1.2 and still have the issue.

[2020-03-11 04:00] rynowak commented on #410
There's no real way to do it without some guesswork. The problem is that the server doesn't know and doesn't care what hostname/ip the request arrives on 😆

Usually we avoid these problems in ASP.NET Core by using the hostname of the current request. That only helps if you have a request to use.

You could use something like `Dns.GetHostname()`.

Or you could look at https://docs.microsoft.com/en-

[2020-03-11 07:04] CarlosLanderas commented on #410
Thank you very much @rynowak :)

[2020-03-11 08:45] CarlosLanderas commented on #410
@rynowak this is working with 0.0.0.0:0, and *:{port}

[code]

[2020-03-11 08:52] CarlosLanderas commented on #410
@rynowak this is working with 0.0.0.0:0 and *:{port}. Whenever the host name is not resolved as a dns name we resolve the hostname. Looks good?

[code]

[2020-03-11 14:51] Phillip9587 commented on #226
Deployment on Azure Linux App Services is failing because of the SQLite Database!

**Error Log**

2020-03-09T20:05:54.344970768Z: [INFO] Failed executing DbCommand (30,045ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
2020-03-09T20:05:54.344982269Z: [INFO] PRAGMA journal_mode = 'wal';
2020-03-09T20:05:54.448764405Z: [ERROR] Unhandled exception. System.AggregateException: One or more

[2020-03-11 15:01] Phillip9587 opened #444 "Azure Linux App Service Deployment Failing because of SQLLite"
**What happened**:
Azure Linux App Service crashes because of the SQLLite Database.

[Microsoft](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/python-webapp?view=azure-devops#considerations-for-django):

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a Healthckecks UI to an Azure Linux App Service.

**Error Log**:
[code]

**Environment**:

- .NET Core

[2020-03-11 15:24] p0onage commented on #435
@CarlosLanderas, I had this at the end of my start-up using your example worked thanks!

            app.UseHealthChecksUI(config => config.UIPath = "/hc-ui");

[2020-03-11 15:24] #435 closed

[2020-03-11 16:34] rynowak commented on #410
The code looks fine. The only concern that I'd have is that techniques like this aren't foolproof - there is no solution that is.

Consider what would happen if this were deployed to k8s. Someone navigates to `http://health` (based on Service). You (using `Dns.GetHostName()` generate `http://health-dashboard-dkfkdfk-39393` (based on Pod name). Now all your URLs are affinitized to the pod that gene

[2020-03-11 16:43] p0onage commented on #436
I've just found multiple calls in the code base to 	`services.AddHealthChecks()` could that cause a memory leak issue with registering it multiple times?

i.e

[2020-03-11 18:40] CarlosLanderas commented on #410
Would it be better just using DNS names in kestrel configuration?

I always configure apps to localhost and never found this problem before but based on the feedback in this issue it looks like there are several people listening on all ips.

[2020-03-11 20:12] rynowak commented on #410
What would this entail? Does that mean that the server has to `nslookup` to translate its IP to hostnames?  We're unlikely to build something like that in unless other features in .NET need it for something. We don't use the listening address for anything other than binding today (on purpose).

The simple/safe thing to do is have the user configure the value.

 If you try to auto-configure it, I t

[2020-03-11 21:37] CarlosLanderas commented on #410
@ildoc  @tidusjar @Genmutant , based on @rynowak feedback, I suppose the best think you can do is configuring the listening ip in Kestrel and problem resolved. If you are using a docker image setting the listening address to localhost fixes the problem.

I agree this change "works", but might open new problems in then future while configuring the host ip / dns name is straightforward

[2020-03-11 22:28] CarlosLanderas commented on #428
@tomkerkhove, I am using Windows Azure Storage Emulator 5.10.0.0 and it's working for me.

[code]

![image](https://user-images.githubusercontent.com/16475649/76470058-f65f5d80-63ef-11ea-8847-8accfb55c5c7.png)

Could you give me more information. Emulator version, HealthChecks and endpoints configuration etc?.

Thanks

[2020-03-11 22:34] CarlosLanderas commented on #403
@MaxShoshin @sadedil  you are right. This issue was fixed. Let me publish the latest verison of the UI that will be the version 3.0.10

[2020-03-11 23:07] #429 closed

[2020-03-11 23:26] CarlosLanderas commented on #403
Version 3.0.10 has been published. If you have any issue re-open the issue again.
Thanks!

[2020-03-11 23:26] #403 closed

[2020-03-12 00:08] #430 closed

[2020-03-12 00:11] CarlosLanderas commented on #359
Closing due to inactivity. Please reopen when more information is added

[2020-03-12 00:11] #359 closed

[2020-03-12 00:13] CarlosLanderas commented on #271
Thanks for the tip @Daniel15  :)

[2020-03-12 00:13] #271 closed

[2020-03-12 00:14] CarlosLanderas commented on #269
This has been fixed with the latest UI version. Now returned services are checked.

[2020-03-12 00:14] #269 closed

[2020-03-12 00:16] CarlosLanderas commented on #267
Please, check the latest version of the docs regarding the Kubernetes service discovery. New options have been added and the support for ipv4/ipv4 and customizable scheme has been added.

A new Kubernetes Operator has been created as well, I will upload the documentartion soon :)

[2020-03-12 00:16] #267 closed

[2020-03-12 00:18] CarlosLanderas commented on #119
This PR has been submitted, I think it is what you are looking for:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/433

I'm gonna review it tomorrow :)

[2020-03-12 00:19] CarlosLanderas commented on #304
Closing, both PR's were merged :)

[2020-03-12 00:19] #304 closed

[2020-03-12 00:20] CarlosLanderas commented on #298
Are you still having troubles with this issue?

[2020-03-12 00:21] CarlosLanderas commented on #357
Still having problems with this issue?

[2020-03-12 00:26] CarlosLanderas commented on #314
You can also use the ProcessAllocatedMemoryHealthCheck inside the System package.  It is using GC.GetTotalMemory and you can configure the maximum memory your current .NET Core can use.

[2020-03-12 00:26] #314 closed

[2020-03-12 00:38] udlose commented on #119
And I was going to create a PR for it tonight...lol

[2020-03-12 01:01] CarlosLanderas commented on #415
Hello @CarljohanDanling. What do you think about being able to customize if the payload should be notified, the message and the descriptions using funcs where you receive the UIReport, something like this:

[code]

[2020-03-12 01:03] CarlosLanderas commented on #225
Hello, we are talking about this here:
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/415

Give your opinion about how do you think we should implement this. Thanks

[2020-03-12 01:03] #225 closed

[2020-03-12 09:02] CarljohanDanling commented on #415
That looks good!

[2020-03-12 09:59] CarlosLanderas commented on #415
I've already coded that implementation last night. So if everyone finds it interesting we will add this new customization feature

[2020-03-12 10:28] sadedil commented on #403
Hi @CarlosLanderas,

The problem seems solved, thank you.

[2020-03-12 11:37] CarlosLanderas commented on #403
Thanks for the feedback @sadedil  :)

[2020-03-13 17:55] rwkarg opened #445 "[RabbitMQ] TCP Socket churn when executing health check"
commit https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/commit/2a66bc9588701f7a50d33eb2652727a562ce5f33 reverted the reuse of a single connection when checking health to address the shutdown issue reported in #412

While the shutdown issue is fixed (which was caused by the IConnectionFactory being passed in requesting Foreground threads for the RabbitMQ socket management), it does no

[2020-03-13 18:09] rwkarg commented on #445
Looking at potential resolutions to reintroduce Connection reuse without also reintroducing the undesired shutdown behavior reported in #412

There doesn't seem to be a direct way to clean up a health check on application shutdown.

Ideally the RabbitMQHealthCheck (or any implementation of IHealthCheck) could be made `IDisposable` and then the framework provided DefaultHealthCheckService would imp

[2020-03-13 18:10] rwkarg commented on #445
I'm going to take a look at what implementing specific shutdown handling of `RabbitMQHealthCheck` instances in the `HealthCheckServiceOptions.Registrations` might look like.

[2020-03-13 18:13] rwkarg commented on #445
One difficulty is that while I can make changes to the extension method (`.AddRabbitMQ`) to wire up the cleanup, there isn't a straight forward way to include such clean up in the example code from #412 where they add the `RabbitMQHealthCheck` outside of the extension method, similar to this:

[code]

[2020-03-13 18:53] rwkarg commented on #445
Would it be acceptable to say that if you use the `.AddRabbitMQ` extension method then the package will take care of the `RabbitMQHealthCheck` lifetime, but if you choose to create your own `RabbitMQHealthCheck` and add it with `.Add/new HealthCheckRegistration` then you're in charge of handling the lifetime of the `RabbitMQHealthCheck`?

[2020-03-13 18:56] rwkarg commented on #445
@ig-sinicyn Is using the provided `.AddRabbitMQ` extension possible in your use case?

[2020-03-13 19:37] devbrsa opened #446 "Upper level grouping"
Hi,

I was wondering any possibility to have individuals HCs urls configured through appsettings group by a term, like:
[code]

The option through code using `AddUrlGroup` seems valid but if I have 1 web app and 1 webservice and for some reason web app is down and webservice is configured as dependency, it reports both down, while I might have another web app looking for the same webservice.

I wo

[2020-03-13 19:53] ig-sinicyn commented on #445
Hi, @rwkarg

We've discovered the issue with port exhaustion, too. So we've made custom health check that uses
an instance of rabbitmq connection (passed via DI).

So feel free to change the code and thanks a lot for the notification:)

[2020-03-13 19:53] #446 closed

[2020-03-13 20:03] devbrsa opened #447 "Group by tags when set by appsettings"
Hi,

I was wondering a way to group by tags in the UI using the `appsettings.json` like below.

[code]

The goal is to group by the tag name having the UI reflected as well.

Is something in the roadmap or workaround?

Thanks in advanced.

[2020-03-13 21:56] udlose commented on #119
@CarlosLanderas  any update? :)

[2020-03-15 08:09] a-z-hub opened #448 "Add icon for each package"
I have suggestion to add icon for each nuget package

I think It allow to group all nuget packages in nuget.org search result and it will be more clear to find all required libraries from one owner.

[2020-03-15 08:10] CarlosLanderas commented on #448
Yeah, I think is a great idea.
cc @unaizorrilla

[2020-03-15 08:11] ahryshchanka commented on #448
![icon-01](https://user-images.githubusercontent.com/4180472/76697867-6b12f000-66ad-11ea-81ad-72099effa62a.png)

![icon 1 svg](https://user-images.githubusercontent.com/4180472/76697885-91389000-66ad-11ea-8d67-37f63a766cc6.png) -- github don't allow upload *.svg files, please remove .png from file name and you will get vector image

[2020-03-15 18:14] elvishsu66 opened #449 "[UI] Kubernetes discovery: When namesapces values are provided, the result still shows all services"
Hi @CarlosLanderas and the team,

I am so happy when you guys released UI 3.0.10, however, I have found a little bug and I hope you guys could assist us to fix it at your earliest convenience.

Cheers,
Elvis

---

**What happened**:

When I specified namespaces in the appsettings.jon, the end result still gives me all services instead of the services within the namespaces.

The **IOption<> pattern

[2020-03-15 18:48] CarlosLanderas commented on #449
Hello @elvishsu66. To be honest, I reviewed the whole PR but I did not try the configurable namespaces from appsettings.json. Let me take a look and fix it. Thanks for reporting

[2020-03-15 20:32] elvishsu66 commented on #449
Hi @CarlosLanderas,

Thank you very much for the quick fix. I really appreciate your help.

Cheers,
Elvis

[2020-03-15 21:16] ybdev commented on #444
Hi,

Got the same issue... Any workaround ?

Thanks

[2020-03-15 21:22] unaizorrilla commented on #444
I'm sorry but sqlite is NOT supported on Azure App Linux

"The reason SQLite is not supported on App Service for Linux is because it uses a file system that prevents locking. As far as I am aware there are no workarounds for this. It is marginally better documented here: https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/python-webapp?view=azure-devops#considerations-for-django"

W

[2020-03-15 21:26] #449 closed

[2020-03-15 21:36] CarlosLanderas commented on #449
@elvishsu66 version 3.0.11 will be published in some minutes

[2020-03-15 21:38] CarlosLanderas commented on #415
This feature will be available in UI version 3.0.11

[2020-03-15 21:38] #415 closed

[2020-03-16 07:29] #317 closed

[2020-03-16 12:52] kisalay1988 opened #453 "Not able to make authentication work with Health Check UI"
I have created a separate .Net Core Web API which has the endpoint for the Health Check UI. This service will add individual Health Check endpoints of the individual api and show the status of all Apis in some single page. I need to restrict this UI endpoints only for a particular set of users using Windows Authentication.

I have implemented many ways but the authentication doesn't seem to be wor

[2020-03-16 13:55] alexander-telegin opened #454 "Healthchecks do not reload configuration secrets"
## Description
Healthchecks cache connection strings/clients to resources which makes it impossible to react to updates in configuration.
For example Azure Key Vault (one of the .NET Core configuration providers) supports [ReloadInterval](https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-3.1#configuration-options) now. If a particular Secret were recycle

[2020-03-16 16:19] rwkarg commented on #445
I will have some time this week to work on this, though there hasn't yet been a straight forward solution for all of the various ways that this health check can be registered through the extension methods.
Tagging @unaizorrilla for visibility.

[2020-03-16 17:31] unaizorrilla commented on #445
Let me know for help! I don't read all the discussion but, at this moment the health check allow:

 - set connection string and create transient connections
 - Use registered IConnection or IConnectionFactory on DI
 - Allow specify a Action to create a connection
 - Allow specify a Action to create a connection factory

Any of these methods can fit for the problem?

[2020-03-16 18:00] CarlosLanderas opened #455 "HealthCheck UI - Configurable Storage Providers (InMemory, SqlServer, Postgres, Sqlite)"
**What would you like to be added**:

Health Check UI Storage Providers (SqlServer, Postgres, Sqlite)

We need to start working in configurable Health Checks Database providers.

**Why is this needed**:

Right now, we only support SQLite and this is very limiting. For example Azure App Service running under linux is not compatible

We are going to allow the user configuring it's own storage provid

[2020-03-16 18:02] CarlosLanderas commented on #455
Issues related to SQLite or requesting further storage providers:

#444
#338
#303
#226
#181
#161
#29

[2020-03-16 18:05] rwkarg commented on #445
There are two ways to address this. The first way is to configure the ConnectionFactory to use background threads for IO which will not hold the process open when it's trying to shutdown. In fact, the only reason I can think of to use Foreground threads for IO is if you explicitly want to keep the process running while the Connection is alive.

It's tempting to provide guidance that if you use For

[2020-03-16 21:18] tomkerkhove commented on #428
Clearly I was having a bad day, closing as it works fine - Sorry!

[2020-03-16 21:18] #428 closed

[2020-03-16 23:00] rwkarg commented on #445
PR up now. This will almost always do the right thing if you use the extension methods (no shutdown hang ever as well as reuse of connection if you provide either the URL or an IConnectionFactory with UseBackgroundThreadsForIO=true).

[2020-03-17 08:45] elvishsu66 commented on #449
@CarlosLanderas, you rock, mate.

[2020-03-17 15:16] EloiNmbrs opened #458 "SQLServer health check Keyword not supported: 'authentication'."
Hi,

we have being using your healthchecks for quiet some time and all is great. Unfortunately our infrastructure have now guidelines to change all the accesses to our databases to use Authentication='Active Directory Password' in the connection string. We changed the connection strings and now the SQLServer Healthcheck is always returning the following error

"exception": "Keyword not supported:

[2020-03-17 18:50] udlose opened #459 "Is there a way to restrict when the Health Checks run?"
I'd like to know how I can restrict the health checks to only run during a certain set of hours.  I have dependencies that have defined set of hourly downtimes - even in PROD.  If I can't restrict this I will be alerted for false positives.

The only way I can think of is to use `AddCheck<T>` and return `HealthCheckResult.Healthy()` in my custom HealthCheckRule during my off-hours using the approa

[2020-03-17 20:36] CarlosLanderas commented on #459
This custom user rules has been recently added for webhooks notifications. You have a configurable Func<UIReport,bool> to configure if a failure payload should be notified. Maybe we can add some kind of user configurable function to check if a healthcheck collection should be triggered, so the user can skip collections in a window time.

[2020-03-17 20:39] CarlosLanderas commented on #455
How do you think we should implement this feature?. Do you think we should add migrations for different providers (SqlServer, Postgres, Sqlite) inside the HealthChecks.UI assembly and expose methods such as:

[code]

of just make our DbContext public and let the user create their own migrations for whatever provider?

[2020-03-17 21:04] udlose commented on #119
@CarlosLanderas bump

[2020-03-17 21:07] udlose commented on #459
@CarlosLanderas is there an example of that anywhere?

[2020-03-17 21:30] CarlosLanderas commented on #459
We have that implemented for Webhooks ( and samples as well), not implemented yet for healthcheck collector. I was suggesting what we could do :)

[2020-03-17 21:34] CarlosLanderas commented on #119
@udlose  I've been previous PR's. This is next in line :). Need to setup my AWS subscription to test it

[2020-03-17 21:36] udlose commented on #459
I pulled down the AspNetCored.Diagnostics.HealthChecks repo and looked for anything with a `Func<UIReport, bool>` signature.  I didn't find anything.  Could you kindly point me to where this is done?

[2020-03-17 21:39] CarlosLanderas commented on #459
[code]

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/doc/webhooks.md#configuring-webhooks-by-code

[2020-03-17 22:45] CarlosLanderas commented on #459
@udlose , Are you thinking in something like this?

[code]

Or... another dummy sample:

[code]

[2020-03-17 23:03] CarlosLanderas commented on #454
Hello @alexander-telegin. Our HealthChecks are public and we just offer an standard way of registering them, but you can create your own IHealthChecksBuilder extension to register the healthcheck as you wish.

For example:

[code]

[2020-03-17 23:09] CarlosLanderas commented on #453
@kisalay1988 , you have not filled the required fields when creating the issue, so I do not have enough information to help you. I do not know if you are using version 2.2, 3.0, your setup, what have you tried in sample source code, etc. Please, add some more information

[2020-03-17 23:12] CarlosLanderas commented on #436
Hello @p0onage .

AddHealthChecks() is a package from Microsoft and should be called only once. After AddHealthchecks you should register all your healthchecks all together as you can see in this sample:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/samples/HealthChecks.UI.Branding/Startup.cs#L29

[2020-03-18 10:53] RehanSaeed commented on #314
@CarlosLanderas This is not quite the same. I'd like to specify the remaining memory available instead of a threshold. To do this, we'd need to know the total memory available on the system which I don't think can be done in .NET Core right now.

If I'm using Docker/Kubernetes it's common to specify a total memory limit for the app. If I get close to that, I want to set the health check to degrade

[2020-03-18 11:54] alexander-telegin commented on #454
@CarlosLanderas , thank you for quick response.
Makes sense. However, if I created a PR with such registration would you reject it with the aforementioned reason?

[2020-03-18 13:52] devbrsa commented on #455
@CarlosLanderas I would say the first approach, better intention, easier to mock and extendable.

[2020-03-18 13:56] devbrsa commented on #455
@CarlosLanderas how can I help you with such a feature?

[2020-03-18 16:13] amccool commented on #455
[code]

This style looks best.  I personally like the extension method style on the `AddHealthChecksUI()`.   However, using the connection string directly here will limit the mocking of the dbcontext/etc for testing (not sure it matters as much for the production side).

IMHO, I think you will want a combination of both.  e.g.  add the storage dependency, then add that dependency to the HealthChec

[2020-03-18 16:35] amccool commented on #438
so that's the point.    I'm not using a `compliant` healthcheck endpoint.   I'm using a self rolled endpoint.  My endpoint returns json data that does NOT deserialize into `UIHealthReport`.

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs#L91

when my endpoint's json is returned
`                var hea

[2020-03-18 16:56] CarlosLanderas commented on #438
The UI does not support retrieving non compliant formats from health checks endpoints. I think is obvious.

[2020-03-18 17:04] CarlosLanderas commented on #438
[code]
[code]

[2020-03-18 17:12] CarlosLanderas commented on #455
The main difference of boths approaches is, with the first one, we would be the ones creating the migrations inside the UI assembly and wiring everything internally (MigrationsAssembly, Database migrate execution, etc) and the user would be limited to the available provider migrations.

The second options requires more work for the user, but everything can be customized out of the UI (With the ris

[2020-03-18 19:59] amccool commented on #438
How can I add older WCF based services?  How can I add nodejs endpoints?

[2020-03-18 20:11] CarlosLanderas commented on #438
This is an AspNetCore HealthChecks platform that extends Microsoft package  Microsoft.Extensions.Diagnostics.HealthChecks. The supported platforms are .net core 3.1, 3.0 and 2.2.

We started this project called [Beatpulse](https://github.com/Xabaril/BeatPulse) but then we aligned with Microsoft to extend their abstractions and libraries.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.exten

[2020-03-18 20:40] amccool commented on #438
ok - I think that answers it.   Only AspNetCore Healthcheck's content is supported for Healthchecks.UI.

[2020-03-18 20:40] #438 closed

[2020-03-19 16:52] #436 closed

[2020-03-20 08:57] Odonno opened #462 "SQLite Error 10"
**What happened**:

I got this exception today (not sure if it happened just now or several days ago).

![image](https://user-images.githubusercontent.com/6053067/77148794-8a849100-6a90-11ea-9faa-4219c9c47984.png)

I don't know what happened. It happened suddenly without us doing anything. I redeployed my app in order to fix this issue. I hope there is a fix for that.

Thank you.

**Environment**:

[2020-03-23 08:42] Odonno commented on #161
@udlose I have the same problem. I host my solution in an Azure App Service but I don't know how to fix this error...

[2020-03-23 09:12] Odonno commented on #161
I had an idea just now. But, why can't we put a global try/catch in the code. The thing is the main pain point is that this library crash the entire web app. If the healthchecks system is not working, it's ok as long as the app itself is still working, or am I wrong?

[2020-03-23 10:18] CarlosLanderas commented on #161
Sadly, Azure App service with Linux is not compatible with SQLite. That's why we are going to create new configuration providers.

Please, participate in the following issue for design:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/455

[2020-03-23 10:39] Odonno commented on #161
I believe that my app is running under a Windows Server.

[2020-03-23 14:36] aiscrim commented on #286
I have a similar behavior. When I host my app in IIS everything works fine, but when I deploy it to Kubernetes it works for a while and after some minutes it gives that error.
I tried using both the localhost:80 and the Kubernetes service address, and I get the same results.

At startup I receive the following error, but then the healthchecks are shown correctly:

Newtonsoft.Json.JsonReaderExcepti

[2020-03-26 19:53] nickkarpuk opened #464 "The DocumentDbHealthCheck makes calls to OpenAsync() for each health check that should only happen once"
**What happened**: DocumentDbHealthCheck makes a call to OpenAsync() on every check but that causes metadata requests to query databases and collections. Those queries go against internal metadata RU limit which users cannot control. So at some point with a bigger volume of requests when users breach this internal RU limit for metadata the health checks start failing even though the regular calls

[2020-03-28 11:01] Phillip9587 commented on #455
What's the status of this change?

[2020-03-28 11:07] CarlosLanderas commented on #455
Waiting for feedback and opinions

[2020-03-28 14:38] Phillip9587 commented on #455
I like the first option. The fluent style keeps your package simple. If you implement the standard data providers everyone will be happy i think.

The second option would make your package more complex to configure and it would not be so straightforward as it is right now.

[2020-03-30 18:08] #426 closed

[2020-03-30 18:11] unaizorrilla commented on #445
Hi @ig-sinicyn

RabbitMQ can work with IConnection or IConnectionFactory from DI, can you set if any of AddRabbit overloads work for your scenario?

[2020-03-30 18:42] CarlosLanderas commented on #445
@rwkarg looking at the PR I wonder myself why can't you configure your RabbitMQ connection using DI with the lifetime that you need and the strategies that might be required being that you have a factory method.

Maybe you can give us some more context. Thanks!

[2020-03-30 18:53] unaizorrilla commented on #445
Hi all,

I tested this again and all is working for me (gracefully shutdown and re-use same connection and network recovery) I have shutdown rabbit mq and the connection is recovered automatically!!

[code]

Could you try this sample and tell me if is working for you!

[2020-03-30 23:19] CarlosLanderas opened #467 "Upgrade HealthChecks to NetStandard 2.1 and UI to netcoreapp3.1"
**What would you like to be added**:

Upgrade all healthchecks to netstandard 2.1 and UI and samples to netcoreapp3.1

**Why is this needed**:

Target to latest netstandard and netcoreapp versions.
The new healthchecks nuget versions will be 3.1.X

[2020-03-31 00:43] rwkarg commented on #445
The simple example is having more than one broker that a specific service connects to. We can't use DI to register multiple instances of IConnection or IConnectionFactory to have multiple health checks registered, one for each broker.
Even with a single broker, it should be expected that there are multiple connections. The recommended way to connect to RabbitMQ is to have one connection dedicated